[2018-11-28 13:06] mmodler commented on #4867
Its really annoying - not using php 7.2 is not an option for us :(

[2018-11-29 15:38] dwainscheeren commented on #4818
Can this be fixed soon I have this bug too

[2018-11-29 15:46] RyanThompson commented on #4818
The issue I believe is that you're setting the table entries (on the target table) before even starting the build process. Maybe do some debugging around this though for some intel: https://github.com/anomalylabs/streams-platform/blob/1.5/src/Ui/Table/Command/GetTableEntries.php#L53

[2018-11-29 15:47] RyanThompson commented on #4859
I've got a new version coming in the next couple days that will remedy this and is BC

[2018-11-29 21:54] matthijs-oosterhoff opened #4872 "404 errors on child pages of home page after upgrading to 3.5"
I am trying to upgrade my PyroCMS installation from 3.4 to 3.5. I followed the steps as described in https://pyrocms.com/help/developer-tools/cheatsheets/upgrading.

After upgrading, I keep getting 404 errors when I open child pages of my home page. Other child pages work fine.

If I make the home page a "regular page" (ie: `mysite.com` routes to nothing and `mysite.com/home` routes to the home pa

[2018-11-30 02:34] Eighke commented on #4818
@RyanThompson

Yes, it is the problem. If you try to set entries before the build process:

[code]

* Case 1: `findAllActive` return at least 1 employees: No problem
* Case 2: I don't have Active employee, so `setTableEntries` will set a empty collection.

If the Case 2 happen, `$entries->isEmpty()` is empty. So it will get all the employees.

The only way I found to avoid that is to unset the mod

[2018-11-30 08:38] dwainscheeren commented on #4818
`$this->setModel(null);` does not always work, `$this->setModel(false);` is better to use

[2018-11-30 10:09] G3z opened #4873 "Missing default value for locked_at column in streams_locks"
**Describe the bug**
Application crashes when editing a page type on a fresh install

**To Reproduce**
Steps to reproduce the behavior:
install a fresh copy of Pyro with a Postgresql 9.6 database

**Expected behavior**
Locked at column is not set with a default CURRENT_TIMESTAMP value

**Screenshots**
![schermata 2018-11-30 alle 11 06 08](https://user-images.githubusercontent.com/875086/49282656-f

[2018-11-30 10:41] G3z commented on #4873
[2018_05_03_020251_create_locks_table.php#L28](https://github.com/anomalylabs/streams-platform/blob/1.5/migrations/application/2018_05_03_020251_create_locks_table.php#L28)
[code]
should be
[code]

source:[Laravel 5.5 Docs](https://laravel.com/docs/5.5/migrations#column-modifiers)

[2018-11-30 21:18] RyanThompson commented on #4859
Updating to `~2.3.0` will bring back a colorpicker that's cross browser consistent and also re-introduces alpha control if configured to do so. 100% BC update.

[2018-11-30 21:19] RyanThompson commented on #4859
https://github.com/anomalylabs/colorpicker-field_type

[2018-11-30 21:19] #4859 closed, assigned to nobody

[2018-12-03 11:58] ghost opened #4875 "Addon constantly requires internet connection?"
Installed pyrocms on local xampp server but when i click the addon icon(admin dashboard) got this error in offline:

**_ErrorException (E_WARNING)
file_get_contents(): php_network_getaddresses: getaddrinfo failed: No such host is known._**

Arguments:

"file_get_contents(): php_network_getaddresses: getaddrinfo failed: No such host is known. "

[2018-12-05 21:03] ultrono commented on #3525
Have an old Windows laptop running Windows 10. I was experiencing 8-12 second load times for the admin dashboard screen. After enabling NFS via "winnfsd" that dropped to < 2.5 seconds 👍

I have other Laravel sites on the same Windows laptop and they are fine. I assume Pyro (v3.5) is loading a lot more files.

When I switch to Ubuntu on the same laptop the load times are < 1.5 seconds :)

Moral of

[2018-12-05 21:24] ultrono commented on #4551
@RyanThompson Is there any news on this?

I'm working on a deployment script and caching the config is a standard thing anyone deploying live Laravel applications will )or should) be doing.

To recover after running `php artisan config:cache` on a new install of v3.5 I needed to delete bootstrap/cache/config.php and then run `composer dump-autoload` - which isn't ideal 😃

In some of bigger Laravel

[2018-12-08 18:53] ultrono commented on #3918
Still getting this issue on a fresh install of v3.5.

[2018-12-17 16:06] emergingdzns opened #4876 "[forum-module] Initial discussion mentions not notifying mentioned users"
**Describe the bug**
So I have the forum module installed. It is not set to require admin approval on new discussions. It posts discussions just fine. HOWEVER, if I mention someone like @ryanthompson does NOT send the mentioned user an email saying they were mentioned in a discussion. It DOES do so if mentioned in a comment. Am I simply doing something wrong? I'm looking at the code and it doesn't

[2018-12-18 05:16] emergingdzns opened #4877 "[comment-module] Mentions do not work in comments outside forum"
**Describe the bug**
When you include the comments module on a site attached to custom streams, when the user attempts to tag other users in the comment, the user selector doesn't appear like it does in the forum module. You can't select a particular user.

[2018-12-31 13:52] RyanThompson commented on #4726
This has been fixed.

[2018-12-31 13:52] #4726 closed, assigned to nobody

[2018-12-31 13:53] RyanThompson commented on #4348
This has been fixed via the `files:sync` command.

[2018-12-31 13:53] #4348 closed, assigned to nobody

[2018-12-31 14:11] RyanThompson commented on #4836
Unable to recreate this using upload / file field types.

[2018-12-31 14:11] #4836 closed, assigned to nobody

[2018-12-31 14:13] RyanThompson commented on #4875
What is it asking for? I use offline all the time and never have any issues.

If you're trying to download or cache assets from a remote source though you might get something like this (file_get_contents is typically done in assets).

Also it might be requesting local assets but being treated as remote due to environment setup.

[2018-12-31 14:13] #4875 closed, assigned to nobody

[2018-12-31 21:37] RyanThompson commented on #4873
This is created in the model now.

[2018-12-31 21:37] #4873 closed, assigned to nobody

[2018-12-31 21:38] RyanThompson commented on #4486
Docs are being overhauled right now. Splitting up is definitely one of the steps being taken. Overall better organization.

[2018-12-31 21:38] #4486 closed, assigned to nobody

[2018-12-31 21:39] RyanThompson commented on #4866
Really it should fallback all the same..

[2018-12-31 21:39] RyanThompson commented on #4444
On it's way

[2018-12-31 21:39] #4444 closed, assigned to nobody

[2018-12-31 21:40] RyanThompson commented on #4413
On it's way

[2018-12-31 21:40] #4413 closed, assigned to nobody

[2019-01-01 16:05] RyanThompson commented on #4877
Are you including the scripts? There's a mention.js that is used.. I am updating that addon now though so I'll be cleaning some stuff up.

[2019-01-01 16:12] RyanThompson commented on #4868
I would leave it up to you guys to override as needed. I like native Twig performance but you can use view if you wish.

[2019-01-01 16:12] #4868 closed, assigned to nobody

[2019-01-01 16:17] RyanThompson commented on #4872
Did you update the public/index.php file as mentioned in the initial release post? I think that's probably what's happening.

[2019-01-01 16:17] #4872 closed, assigned to nobody

[2019-01-02 20:45] kiltedup opened #4879 "Setting CSRF to be false on route not working in 3.6"
**Describe the bug**
Setting 'csrf' => false on a route is having no effect in v3.6 - the VerifyCSRFToken middleware is triggered. Worked fine on 3.5 and earlier.

[2019-01-03 04:20] RyanThompson commented on #4879
https://github.com/anomalylabs/streams-platform/commit/31fe1872c858c965cf49035d840aa995a0b2ee08

[2019-01-03 04:20] #4879 closed, assigned to nobody

[2019-01-03 18:29] emergingdzns commented on #4877
Ok so I added the references to all three js files like this:
[code]

I had to add them all to avoid the errors for missing functions.

I don't get any errors but I also don't get any drop down showing up when I begin typing an @ symbol and the first few letters of a name. I checked inspector and I don't see any ajax calls being made to look for matches either.

[2019-01-03 18:31] emergingdzns commented on #4877
I think I just answered my own question to a degree. I just noticed that the mention.js refers specifically to a textarea. That sucks. Our entire design was going for a more facebook like look with a single line text field in a bootstrap input group.

[2019-01-03 19:12] emergingdzns commented on #4877
I changed it to a textarea and added `data-field="content"` to the tag. I can see that mentions.js is in the source of the theme.js now but when I try to start tagging someone it still doesn't trigger the atwho function at all. I tried adding console logging to the mention js but it never outputs anything. I'm at a loss to explain it.

[2019-01-03 19:34] emergingdzns commented on #4876
Any hope for a fix for this @RyanThompson ?

[2019-01-03 19:48] RyanThompson opened #4881 "[navigation-module] Ability to change link type"
It's frustrating not being able to change a link type in place. Deleting, re-creating, and moving child links is a pain.

We should copy the change UI for field types (orange button in bottom right of form).

[2019-01-03 19:50] RyanThompson opened #4882 "[streams-platform] routes:cache doesn't work"
We need to be able to cache routes per Laravel. This means no dynamic routes and when pages are added they'll need to trigger re-caching of routes.

[2019-01-03 19:51] RyanThompson commented on #4481
This will be handled per module

[2019-01-03 19:51] #4481 closed, assigned to nobody

[2019-01-03 19:53] RyanThompson opened #4883 "[streams-platform] config:cache doesn't work"
We need to be able to cache config per Laravel. This means no dynamic configuration and when configuration is changed we'll need to trigger re-caching of configuration (settings & preferences).

[2019-01-03 19:57] RyanThompson opened #4884 "[documentation-module] Sync only changed documentation files"
The callback hooks sync everything - we should look through the files changed to see:

- Has documentation been updated?

And if so then we should only update the doc files / versions that are relevant. Otherwise big projects crap their pants during lots of changes.

[2019-01-03 19:59] RyanThompson opened #4885 "[streams-platform] Implement "shortcuts""
Shortcuts are similar to sections but they are safe to display under the module title in the sidebar.

- Pages
    - New Page // Consider modal / logic
    - Pages
    - Types
    - Fields

[2019-01-03 20:00] RyanThompson opened #4886 "[everything] Look for what can be queued and queue it."
Everything that is queue-able should be queued by default.

[2019-01-03 21:19] emergingdzns commented on #4877
Ok nevermind. I figured out the problem. The comments were being loaded via ajax. The js in mentions.js is not setup to work on dynamically added elements. I copied the content of mentions.js and plugged it into my theme initialization script like this:
[code]
This also allowed me to change it from being a textarea to being loaded on any form element with the class of 'comment-text'. Works great n

[2019-01-03 21:19] #4877 closed, assigned to nobody

[2019-01-08 22:06] biggins commented on #4867
Just an update on this, I have tested on PHP7.2 using the tntsearch master branch using:
`"teamtnt/tntsearch" : "dev-master as 1.0.7"` in my composer.json and it has fixed the issue for me, since they made this update https://github.com/teamtnt/tntsearch/pull/126/commits/6ced58c7cfcc9a23ed8ea3481f43bb4f884107b0

tntsearch master branch has been tagged as v1.4.0 but streams-platform is locked to us

[2019-01-11 09:21] drmonkeyninja commented on #4551
I've just had the same issue. As @ultrono says Laravel recommend caching the config so this wants to work with Pyro.

[2019-01-11 11:53] laxmeeshchipsy opened #4887 "Updated to 3.6 issue"
On update getting error in image processing ..

""An exception has been thrown during the rendering of a template ("substr() expects parameter 1 to be string, object given").""
Above i have added error message help me to resolve ...
Also i have updated screen shoot help me to resolve.

![screenshot from 2019-01-11 17-21-21](https://user-images.githubusercontent.com/39458090/51032280-680e0280-15c5-

[2019-01-11 11:57] Pixney-William commented on #4887
Change .path to .url and see if that solves it!

[2019-01-11 12:02] laxmeeshchipsy commented on #4887
No still the same ...
Same  "("substr() expects parameter 1 to be string, object given")"

[2019-01-11 12:04] Pixney-William commented on #4887
Why do yo do image(image.image).url()? Why not image.image.url()?

[2019-01-11 12:17] laxmeeshchipsy commented on #4887
I need print image path it not working after update .
Getting image substr() errror ...

[2019-01-11 12:39] Pixney-William commented on #4887
I get that, however i think it is wrong to use image() in this situation since the image is derived from your block.

[2019-01-11 12:47] laxmeeshchipsy commented on #4887
Its used same in version 3.3, there its fine. when i update to 3.6 it giving the error...

[2019-01-14 11:09] laxmeeshchipsy commented on #4887
Anyone ?

[2019-01-14 12:05] mmodler commented on #4867
I remember the lock was because the tnt guys messed up everything some versions ago.
@RyanThompson If it works with current versions, the lock can be updated/removed?

[2019-01-15 20:31] RyanThompson commented on #4887
Can you post this entire stack from your log - that way we can follow it down further. Trying to figure out what's using the substr function.

[2019-01-15 20:36] RyanThompson commented on #4869
We're introducing webpack as the default compiler and dependency resolver for themes (and addons) starting with Pyro 3.7: https://github.com/anomalylabs/streams-platform/tree/1.6/resources/stubs/addons

We will likely have to actually remove assetic in 4.0 because it's just falling so far behind. So all compiling will need to go here and asset class will be left for piping collections to the desig

[2019-01-15 20:37] RyanThompson commented on #4867
This is fixed in 3.7 and can be used now in the streams platform 1.6 dev branch using `1.6.x-dev` to confirm / test.

[2019-01-15 20:37] #4867 closed, assigned to RyanThompson

[2019-01-15 20:42] RyanThompson commented on #4838
I guess this won't hurt anything - I will add config to restrict supported locales only

[2019-01-15 20:44] RyanThompson commented on #4816
This was fixed back in 3.5 I believe. Maybe 3.4  :-)

[2019-01-15 20:44] #4816 closed, assigned to nobody

[2019-01-15 23:08] Pixney-William commented on #4869
mm.. I personally never use assetics. I wrote a quick dirty thing to speed up the procedure to get a theme up and running using mix called avviare (https://github.com/pixney/avviare-extension).

It basically removed directories not needed from the standard theme, adds the mix stuff to the metadata and asset twig for using the compiled js and css files. With a console option to pull in the latest p

[2019-01-15 23:09] Pixney-William commented on #4869
![image](https://user-images.githubusercontent.com/31292231/51215941-f0243d00-1922-11e9-98c1-a769a8d84cab.png)

![image](https://user-images.githubusercontent.com/31292231/51215957-fe725900-1922-11e9-9a23-01b6d5a07e49.png)

[2019-01-15 23:18] RyanThompson commented on #4813
Update to 2.4 - both items here are fixed: https://github.com/anomalylabs/tags-field_type

[2019-01-15 23:18] RyanThompson commented on #4813
@edster first addon out there using new mix based assets too.

[2019-01-15 23:21] #4813 closed, assigned to nobody

[2019-01-15 23:22] RyanThompson commented on #4799
This has been fixed in 3.5/3.6

[2019-01-15 23:22] #4799 closed, assigned to nobody

[2019-01-15 23:30] #4817 closed, assigned to nobody

[2019-01-15 23:37] edster commented on #4798
@Pixney-William Are you still having this issue. I do not encounter this on my 3.5 install.

[2019-01-15 23:43] edster commented on #4787
The above code just no longer works, had to be more verbose and null out the grids and block ids to get it to work.

That being said it is possible to do it, just a lot more difficult

[2019-01-15 23:43] #4787 closed, assigned to nobody

[2019-01-15 23:44] edster commented on #4808
I have an extension for pages and posts that does this you can purchase.

[2019-01-16 02:09] RyanThompson commented on #4812
I'll push up FTs as I test and come across them. Other than that this issue really isn't helpful.

[2019-01-16 02:09] #4812 closed, assigned to nobody

[2019-01-16 02:16] fryiee commented on #4812
@RyanThompson I'll be honest, this issue is so old that I ended up just overriding it myself to fix it.

[2019-01-16 02:49] RyanThompson commented on #4421
Fixed in 3.6: https://github.com/anomalylabs/streams-platform/commit/652884da3cbe1ce4ed468e90870886850a7889a5

[2019-01-16 02:49] #4421 closed, assigned to Pixney-William

[2019-01-16 02:56] RyanThompson commented on #4798
I've not encountered this for a while now on required rows. Closing. Please re-open if there is more information available around this. Thanks!

[2019-01-16 02:56] #4798 closed, assigned to nobody

[2019-01-16 03:04] RyanThompson commented on #4711
Fixed in 3.6: https://github.com/anomalylabs/streams-platform/commit/0160d6928265f13d4142a320dbc6bb9ed5beb571

[2019-01-16 03:04] #4711 closed, assigned to nobody

[2019-01-16 04:17] #4682 closed, assigned to nobody

[2019-01-16 05:40] RyanThompson commented on #4881
https://github.com/anomalylabs/navigation-module/commit/a9b94ef67d96d1fa25606d08520680afd5191d28

[2019-01-16 05:40] #4881 closed, assigned to nobody

[2019-01-16 06:13] RyanThompson commented on #4812
Would have been an easy few PRs.

[2019-01-16 06:35] fryiee commented on #4812
@RyanThompson probably.

[2019-01-16 09:12] RyanThompson commented on #4197
This has been completed in streams-module v1.4 that will be released soon.

[2019-01-16 09:12] #4197 closed

[2019-01-16 17:44] RyanThompson commented on #4271
Bout to tag in pages v1.5 and will do the same in posts: https://github.com/anomalylabs/pages-module/commit/b62d16177747704702bfb36b2874609b9fa7db7f

[2019-01-16 17:44] #4271 closed, assigned to nobody

[2019-01-16 18:44] edster opened #4889 "[Pages Module, Links Module, Posts Module] Change button label to swap types is not descriptive"
**Is your feature request related to a problem? Please describe.**
The orange change button label to swap types on the bottom of the form builders in the above modules is bad UX, it does not properly describe what it does. I had no idea what it was until Ryan brought it up.

**Describe the solution you'd like**
The labels should be overriden in each of the builders to better describe what it is do

[2019-01-16 20:13] RyanThompson commented on #4293
Disabled it for now - there's a lot of moving parts we'd need to update and I don't think the pipeline for managing Streams is ready to handle that much yet without potential timeouts as it updates schema.

https://github.com/anomalylabs/streams-module/commit/06d1312f59a31c9a4000ca390e1d7d0f128d3d8a

[2019-01-16 20:13] #4293 closed, assigned to nobody

[2019-01-16 20:27] RyanThompson commented on #4339
I've made file management more congruent through the FTs but it's still not within the context like you're showing - I think that needs to remain a custom implementation on your end. Could also rely on repeater logic too.

[2019-01-16 20:27] #4339 closed, assigned to nobody

[2019-01-16 20:28] RyanThompson commented on #4483
This has been done in files 2.5

[2019-01-16 20:28] #4483 closed, assigned to nobody

[2019-01-16 20:47] RyanThompson commented on #4801
This has been done and will be effective in 3.7

[2019-01-16 20:47] #4801 closed, assigned to nobody

[2019-01-16 20:57] RyanThompson commented on #4869
Im gonna close this as we're using mix now and I don't think a clear path to merging is both realistic but also desired. Addons should be standalone as much as possible.

[2019-01-16 20:57] #4869 closed, assigned to nobody

[2019-01-16 21:30] RyanThompson commented on #4332
This is done in in Files 2.6 where they are handled better/more secure and will get updated in the FTs accordingly in their next versions.

[2019-01-16 21:30] #4332 closed, assigned to nobody

[2019-01-16 22:21] RyanThompson commented on #4797
Closing this as duplicate - will comment on others as progress develops around them. This is all in the works though now.

[2019-01-16 22:21] #4797 closed, assigned to nobody

[2019-01-16 23:03] RyanThompson commented on #4760
This comes with a lot of consequences I don't think are worth the hefty payment for them.

FTs basically do this for us. Any nested or automatic functionality should be handled as a field type or extension.

[2019-01-16 23:03] #4760 closed, assigned to bloveless, RyanThompson, fryiee

[2019-01-16 23:07] RyanThompson commented on #4420
Caching has been improved in general where the inserts/deletes were concerned. I can't break apart cache per service though I am going to make it so that this fails more gracefully right now.

[2019-01-16 23:07] #4420 closed, assigned to nobody

[2019-01-16 23:31] RyanThompson commented on #4437
Not worth it IMO. It can be secured in so many other ways. The router is the issue here - recognizing different admins is one thing but rewriting routes/url generator is not a good idea.

[2019-01-16 23:31] #4437 closed, assigned to nobody

[2019-01-16 23:32] RyanThompson commented on #4391
Done

[2019-01-16 23:32] #4391 closed, assigned to nobody

[2019-01-16 23:32] RyanThompson commented on #4355
This is done - srcset too

[2019-01-16 23:32] #4355 closed, assigned to nobody

[2019-01-16 23:34] RyanThompson commented on #4356
Ya .. not sure what I was thinking here but by the time you need hidden fields in streams module you are programming and can bind something or configure the form builder as doc'd with array definitions. Closing this.

[2019-01-16 23:34] #4356 closed, assigned to nobody

[2019-01-16 23:36] RyanThompson commented on #4206
Added a save and assign next shortcut instead.

[2019-01-16 23:36] #4206 closed

[2019-01-16 23:37] #4402 closed, assigned to nobody

[2019-01-16 23:38] #4378 closed, assigned to nobody

[2019-01-16 23:39] #4636 closed, assigned to nobody

[2019-01-16 23:40] #4641 closed, assigned to nobody

[2019-01-16 23:40] #4638 closed, assigned to nobody

[2019-01-16 23:40] RyanThompson commented on #4603
Duplicate

[2019-01-16 23:40] #4603 closed, assigned to nobody

[2019-01-16 23:40] #4564 closed, assigned to nobody

[2019-01-16 23:40] #4477 closed, assigned to nobody

[2019-01-16 23:41] RyanThompson commented on #4489
This has since been fixed

[2019-01-16 23:41] #4489 closed, assigned to nobody

[2019-01-17 04:49] Eighke commented on #4869
Be careful moving to Mix, Assetics is really convenient for 3rd party themes (and modules). If we need to develop Pyro ecosystem we will need:

1. Being able to manage `one-click-install` reusable themes.
2. But without having to commit all `npm` dependencies (like we are doing now using Assetics).
3. And also being able to override the files easily.

`1.` is needed for 3rd party themes, nobody wi

[2019-01-17 05:01] Eighke commented on #4869
@RyanThompson

[2019-01-17 11:22] Pixney-William commented on #4812
I totally get @RyanThompson that you would like people to make pull requests. However, not sure this is the best way of achieving this.

Instead, i propose we add a tag for it here on github called "PR Wanted". Then when you read an issue like this one that you don't want to jump on/don't prioritize you can simply use that tag and people will know that the issue wont likely be resolved in a near f

[2019-01-17 11:59] fryiee commented on #4760
@RyanThompson can you please direct me to the issue related to the underlying problem that this card is intended to solve (if there is one)? If there isn't, I think this should be kept open and modified  to represent the core issue, which is files module organisation. I fail to see how FTs and or an extension solve this core issue. Whether this is solved through nested folders or through another m

[2019-01-17 12:13] dwainscheeren commented on #4760
What about creating all folders in root, but in the admin make them nested only for GUI?

[2019-01-17 12:14] fryiee commented on #4760
I have modified the title to better represent the intention of this issue, which is to solve the underlying organisation issue with the files module (and all files within Pyro). If you could please re-open it @RyanThompson so we could continue discussing potential options for solving this it would be greatly appreciated.

[2019-01-17 12:17] fryiee commented on #4760
With that in mind, I would suggest at a minimum, the following things which would go a long way to improving useability:
- Categories for files (additional to folder location)
- Tagging for files
- Filters for: MIME Type, size, categories, tags and any other data dimension that could make file delineation easier

[2019-01-17 14:20] edster commented on #4812
We have a volunteer needed tag  rename that if anything.

[2019-01-17 15:54] RyanThompson opened #4890 "[sitemap-extension] Purge sitemap routes for HTTP cache."
**Describe the bug**
When you save a page with HTTP cache on the pages sitemap nor the base sitemap does not get updated.

**To Reproduce**
- Enable HTTP cache
- Save a page
- The sitemap does not update until TTL

**Expected behavior**
- Enable HTTP cache
- Save a page
- Sitemap is updated

[2019-01-17 16:46] Pixney-William opened #4891 "Setting timezone in GUI does not work."
**Describe the bug**

My server date is correct.
I set the timezone in admin - it's showing the wrong time (in admin).
I set the timezone in my .env file - it's showing the correct time  (in admin)

Tested both locally and on production server.

**Expected behavior**
When changing a timezone within the admin, it should display the correct time.

**Screenshots**
![image](https://user-images.githubu

[2019-01-17 16:49] RyanThompson opened #4892 "[accelerant-theme] 4.0 Enhancements"
This is a discussion around enhancing the UI for the 4.0 release of PyroCMS. Feel free to suggest your own ideas or contribute to the existing ones via discussion / links / resources / etc.

- [ ] Move to latest BS 4
Let's keep an eye out for what can be removed entirely in leu of core BS components.

- [ ] Remove any and all jQuery dependencies
This should be done and has been going on for a whil

[2019-01-17 17:04] Pixney-William commented on #4892
I like the ideas of freshening up the admin ui. It has issues with font size, paddings and margins. Even though its better after the setting thing i added that allows you to downsize things and have a static sidebar.

**My main concern is blocks and grids however:**

* Better overall layout for it (work on margins, paddings and how fields work in combination with each other)
* Go over all field ty

[2019-01-17 17:41] edster commented on #4892
To what William is saying with `grids,repeaters,blocks`. Form sections should have a way to group fields into a single row from the array, rather then having to do a custom view. This would solve the issues all over the place.

I'm using sections to limit the scroll length by grouping into tabs, thus not needing to really do any overrides for tables+js. The icing on the cake would be able to decla

[2019-01-17 17:45] Pixney-William commented on #4892
Agreed, i also would like to be able to manage this in the section array.

[2019-01-17 17:45] RyanThompson commented on #4892
Blocks and the others will be providing their own UI/styling instead of using so much of the theme going forward.

**I have half a mind to remove grid because it's essentially blocks.**

But blocks and repeater for sure will be getting separate UI improvements and that'll be pushed into their own repositories.

[2019-01-17 17:47] RyanThompson commented on #4892
Also agreed on that - we have layout control for columns n stuff but it needs to be more intuitive. Currently it takes some pretty hefty array configuration and if I recall it's limited to one row. So that could certainly be improved.

[2019-01-17 17:47] Pixney-William commented on #4892
Too many websites are out there using grid. So i would not drop support for it. However, not including it may be fine.

[2019-01-17 17:48] RyanThompson commented on #4892
Ya it would be a soft deprecation

[2019-01-17 17:48] Pixney-William commented on #4892
Fine with me!

[2019-01-17 17:48] edster commented on #4892
I don't think this is necessary, the overall ui is fine, with the title being moved to the bar, be able to auto collapse the headers. And put x fields into a single row fixes almost all the issue with it except for maybe some of your layout blocks your thinkingof.

[2019-01-17 17:54] Pixney-William commented on #4892
Another thing i would like to see, is some thought into how to make it easier for people who might want to create their own ADMIN themes. Let's say i would like to create a theme based on VUE where we could have field validations and other things that would make the work faster.

Today, it's too many changes happening randomly to the current admin theme to be able to support it. Esp with not that

[2019-01-18 03:20] RyanThompson commented on #4887
Open er back up if you're still getting an issue! I'll assume you've fixed this otherwise :-)

[2019-01-18 03:20] #4887 closed, assigned to nobody

[2019-01-18 03:25] #4567 closed, assigned to nobody

[2019-01-18 03:34] RyanThompson commented on #4818
Ok this should cover these kinds of issues from here forward. I do want the builder to carry the stuff though. Table itself should not be modified if it can be helped. Specially before build: https://github.com/anomalylabs/streams-platform/commit/5d8ec75b8fdbb07ce7db4bea007670bc45deb682

[2019-01-18 03:34] #4818 closed, assigned to nobody

[2019-01-18 03:35] RyanThompson commented on #4818
Back ported this to 1.4 assuming that's what you are on in this case @fryiee

[2019-01-18 03:36] #4814 closed, assigned to nobody

[2019-01-18 03:37] RyanThompson commented on #4810
Ya ya - getting this into 3.7 lol

[2019-01-18 03:38] RyanThompson commented on #4594
This has been completed in the CP and will trickle out to others as I come across them.

[2019-01-18 03:38] #4594 closed, assigned to nobody

[2019-01-18 03:38] RyanThompson commented on #4808
Duplicate of https://github.com/pyrocms/pyrocms/issues/4628

[2019-01-18 03:38] #4808 closed, assigned to nobody

[2019-01-18 03:39] #4598 closed, assigned to nobody

[2019-01-18 03:40] RyanThompson commented on #4560
This has been fixed.

[2019-01-18 03:40] #4560 closed, assigned to nobody

[2019-01-18 03:41] #4501 closed, assigned to nobody

[2019-01-18 03:45] RyanThompson commented on #4447
This is certainly on it's way - but is tricky.

[2019-01-18 03:46] #4418 closed, assigned to nobody

[2019-01-18 03:50] RyanThompson commented on #3897
Note to self: Should force prefix with `pages::` to avoid route/path collision.

Also on the slugs - slugs don't have to be unique. These will need to be unique.

[2019-01-18 07:56] RyanThompson commented on #4890
Done in 3.7

[2019-01-18 07:56] #4890 closed, assigned to nobody

[2019-01-18 08:23] Pixney-William opened #4893 "We need better upgrade guides - Httpcache directory does not exist"
**Describe the bug**
I updated from 3.4 to 3.6, and i have this exception thrown.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/31292231/51374210-94b0a580-1b02-11e9-847e-4b11065bbfa0.png)

[2019-01-18 08:32] webformatik-pyrocms-pro commented on #4893
I think you forgot updating you pyro folder structure?

See: https://github.com/pyrocms/pyrocms/commit/2b7c4ed0eed8129097b371e808ed0d390fff779e

[2019-01-18 08:35] Pixney-William commented on #4893
Is that in the docs somewhere?

(to be clear, trying to figure out if docs need improvements or if i have just missed it, or if there should be logic creating it) @webformatik-pyrocms-pro

[2019-01-18 08:40] mmodler commented on #4893
(Now with right github account :) )

We definitely need upgrade guides like laravel has.

For upgrades i work through the commits to pyro repo:

https://github.com/pyrocms/pyrocms/commits/3.6

But its hard work atm ;)

[2019-01-18 08:50] Pixney-William commented on #4893
Right, this is an improvement we need to have ASAP. It's even more important than documentation since updates happen quite often.

[2019-01-18 09:21] mmodler commented on #4893
Yes, i often missed things especially composer package version updates and pyro config or folder changes.

@RyanThompson 3.7?

[2019-01-18 09:51] Pixney-William opened #4894 "HttpKernelInterface is not instantiable while building HttpCache"
**Describe the bug**
Updated to 3.6, then added `HTTP_CACHE=true` to the .env file. This is then thrown.

![image](https://user-images.githubusercontent.com/31292231/51379079-dfd0b580-1b0e-11e9-848b-63bc254beb97.png)

[2019-01-18 09:56] Pixney-William commented on #4894
The reason for this happening was that i had not updated the index.php to the following:

https://github.com/pyrocms/pyrocms/blob/3.6/public/index.php#L50-L60

[2019-01-18 09:56] #4894 closed, assigned to nobody

[2019-01-18 10:48] dwainscheeren commented on #4792
This needs to be implemented soon! :D

[2019-01-18 10:58] Pixney-William commented on #4893
![image](https://user-images.githubusercontent.com/31292231/51382933-5c1bc680-1b18-11e9-8d43-b242a6630ccd.png)

[2019-01-18 13:55] Pixney-William opened #4895 "Addon-Module Undefined index versions"
**Describe the bug**
When clicking on addons to go to addons this exception is thrown. Seems like it always happen when you have your own modules installed.. What are my modules missing alternatively what is wrong in addons module?

![image](https://user-images.githubusercontent.com/31292231/51390874-d35d5480-1b30-11e9-89d2-90e50a848b4c.png)

[2019-01-18 16:10] twij opened #4896 "Image manipulation tools are broken (resize etc) 3.5/3.6a"
**Describe the bug**
The Intervention image tools seem to be broken and do strange things. Resize with just a width doesn't keep the aspect ratio so distorts images. Using cropped also seems to return a class rather than the decorated object and is missing some related attributes. Works fine in 3.4.

Swapping the Anomaly\Streams\Platform\Image\Image class for the old one seems to be a drop in repl

[2019-01-18 16:34] RyanThompson commented on #4896
Just fixed this: https://github.com/anomalylabs/streams-platform/commit/3dd1098da188d7ad41c3a7147b2140c48db9ca65

[2019-01-18 16:34] #4896 closed, assigned to nobody

[2019-01-18 16:40] RyanThompson commented on #4895
Odd.. I don't get that. But preventing it anyways.

Fixed: https://github.com/anomalylabs/addons-module/commit/ba159846347d3ea4a0ff767f8c0e69dfc137a33a

[2019-01-18 16:41] #4895 closed, assigned to nobody

[2019-01-18 17:33] RyanThompson commented on #4891
Interesting - this is only in the settings I think.

[2019-01-18 18:59] Pixney-William commented on #4891
This has been resolvedl.

[2019-01-18 18:59] #4891 closed, assigned to RyanThompson

[2019-01-18 21:44] Pixney-William opened #4897 "Events and callbacks needed for httpcache."
As the title says!

[2019-01-18 22:10] bradsapp opened #4898 "Can't install the CMS"
Downloaded via composer.
[code]

Go to pyrocms.test/installer and fill out the form. Click install...get the error below. It's happened on 2 different computers. I'm on MacOS in a homestead environment.

[code]

[2019-01-18 23:17] edster opened #4899 "[Streams-Platform v1.5.50] - Fields assigned to streams will not be on db table if installed via GUI"
**Describe the bug**
Fields are not being created when installing via the GUI. If you install via CLI they are.

Streams platform versions:
v1.5.50

**To Reproduce**
Steps to reproduce the behavior:
1. Install a module/addon with streams and fields
2. Install via gui
3. Check the DB, non of the assigned fields will be there.
4. reinstall via CLI
5. Check the DB, all fields will exists.

**Expected

[2019-01-21 10:45] robinvoor commented on #4898
Have you tried [automating the CLI installer](https://pyrocms.com/documentation/pyrocms/3.4/installation/installing-pyrocms#automating-the-cli-installer)? Scroll down to **Automating the CLI installer** if your browser won't do it automatically.

[2019-01-22 13:06] bradsapp commented on #4898
Yes both ways still causes an error for me.

[2019-01-23 22:27] RyanThompson opened #4900 "[streams-platform] www/non-www and http(s) redirects don't work after cache is established"
**Describe the bug**
When using the http(2) or www/non-www redirecting settings in Settings > System they do not work after a cached path is established (because we force non-domain cache keys).

**To Reproduce**
Configure Settings as listed above and switch on HTTP cache. Try forcing the redirects.

**Expected behavior**
The redirects should still work.

[2019-01-23 22:45] Pixney-William opened #4901 "Exclude partials from HTTP Caching."
**Describe the enhancement**
Today we are able to exclude paths from http requests which is great. However, a feature i would like to see is the ability to exclude a part of the page.

As an example, you want to cache the index page, but you have a twitter stream on it that should never be cached. It should always fetch the latest tweets from twitter api.

I would like to be able to exclude that.

[2019-01-23 22:46] RyanThompson commented on #4901
This is what's called "ESI" and it's available but needs some changes to get working. I hope to have it done in the next version.

[2019-01-23 22:47] Pixney-William commented on #4901
Lovely!!! Just wonderbaaaaar!

[2019-01-23 23:22] Pixney-William opened #4902 "[3.6][Pages-module] Security (kind of) issue with HTTPCache enabled"
**Describe the bug**
1) Http cache is on
2) You visit a page
3) You go into the admin and disable that page
4) You visit that page again
5) Its not unabled.
6) Clear http cache
7) Try visit the page - you cant.
So the problem is nr 5

**Expected behavior**
As soon as you set a page to not be enabled, you should not be able to visit that page. Question is why we don't clear the http cache right now

[2019-01-23 23:38] Pixney-William opened #4903 "[3.6][Pages-Module] HTTP Cache prevents pages to be updated if one is enabled"
**Describe the bug**
So this is very weird, and i am trying to get my head around it. See the image:
![image](https://user-images.githubusercontent.com/31292231/51644328-1aec4200-1f70-11e9-86dd-f11b6038a6b8.png)

Here i have set About to enabled=false.

I clear my httpcache. Once i do that, if i edit the titlle for example on the pages below (gotta test and pyrocms) it doesnt show on their pages e

[2019-01-23 23:51] Pixney-William opened #4904 "[3.6]&[3.7][Pages-Module] Page urls as children is really getting messed up"
**Describe the bug**
(This happens only if its parent is set to enabled=false - see first image there and the about page)

Create a page (set it to enabled=false), then a child page and last a child of that. See image:

![image](https://user-images.githubusercontent.com/31292231/51644813-e7aab280-1f71-11e9-9559-f818581eaec7.png)

The last page there has a very strange URL - See image:
![image](htt

[2019-01-23 23:54] Pixney-William commented on #4904
This happens only if its parent is set to `enabled=false` - see first image there and the about page

[2019-01-23 23:56] edster commented on #4904
Well the parent is false so I'm guessing it can't determine the url currently.

This looks like a display bug rather then a functionality bug.

[2019-01-24 00:28] Pixney-William commented on #4904
As for the display blug, it's not only that since i can't visit the actual url : `https://pixney.com/about/technology/cms` - that is 404.

Also `https://pixney.com/pages/preview/sEtzOaw8hypocGlyXf8CFETr/technology/cms` is a 404

**Now, i understand where the preview_id_string thing comes form. However, if it is placed on the childs child url and not the childs - isnt that strange?**

Also, what ar

[2019-01-24 18:03] emergingdzns commented on #4876
Any update guys? I'm getting crap from my client because the app is released.

[2019-01-24 18:42] edster commented on #4876
Hey @emergingdzns, @RyanThompson is aware of the issue and has an idea of how to fix it.

He has it on his radar to tackle it today or tomorrow.

[2019-01-24 19:02] RyanThompson commented on #4904
Fixed: https://github.com/anomalylabs/pages-module/commit/fb9b17b185f7821cc76c463614e10539f7d66f27

[2019-01-24 19:02] #4904 closed, assigned to nobody

[2019-01-24 19:08] RyanThompson commented on #4903
This looks to be working as desired. However being logged in as an admin you can preview pages at their URLs so to better test. Set to disabled. LOGOUT. Then try the page. You'll be greeted with a 404. Also the TTL is set to 0 when disabled to prevent cache from building back up.

[2019-01-24 19:08] #4903 closed, assigned to nobody

[2019-01-24 19:08] RyanThompson commented on #4902
Duplicate of the prior - you're logged in so you can preview pages. Disable. Logout. View the URL. 404.

[2019-01-24 19:08] #4902 closed, assigned to nobody

[2019-01-24 19:21] RyanThompson commented on #4900
Need to compile and push settings.php to bootstrap cache where there is a key/binding. Then we can load this and compare values before Pyro get's booted up.

[2019-01-24 22:12] RyanThompson commented on #4899
https://github.com/anomalylabs/streams-platform/commit/6d297f8c047b07361496213db86b167caf65813b

Good find!

[2019-01-24 22:12] #4899 closed, assigned to RyanThompson

[2019-01-24 22:14] RyanThompson commented on #4893
I can certainly do this. I like the idea of a change-log too.

[2019-01-24 22:16] RyanThompson commented on #4898
Can you give us the full stack? Are you still experiencing this issue?

[2019-01-24 22:36] RyanThompson commented on #4821
So we've got image macros already - are you guys proposing more options out of the box?

I can get a small, small-square type pattern off the flickr examples into core as a default. But you can define macros already.

[2019-01-24 22:41] RyanThompson commented on #4821
Default ones: https://github.com/anomalylabs/streams-platform/commit/b14afe6ac6e0777b57e5cf0a6aee02e274a47b05

[2019-01-24 22:42] RyanThompson commented on #4821
Since this is per folder - are we better off just adding a "longest edge" setting to the folders?

[2019-01-24 22:43] RyanThompson commented on #4821
The idea here is to prevent dotes from uploading images that are 4000 pixels wide when we only need 800px or whatever for the media.

[2019-01-24 22:55] edster commented on #4821
@RyanThompson I would like to see settings per folder with the following optional settings
Quality
Max width (pixel)
Max height (pixel)

Realistically, the rest of the macros should most likely be done on the file/image instance like we are now per fetch.

The above just lets us take care of the numb-nuts who upload masssssive images without prep.

Love the idea of more out of the box macros for i

[2019-01-25 14:42] fatihalp opened #4905 "Input entry for different languages is not working in front-end"
**Describe the bug**

In admin panel translations is working well. In our module we tried days to implements multi language feature to front-end. Couldn't make it work. Just checked for posts module and default theme, also there isn't working.

**To Reproduce**
1- Add translatable to posts module.
2- Add form with  {{ form('todo','todo')|raw }} in view/twig
3- Check language switcher is working or

[2019-01-25 16:07] RyanThompson commented on #4905
Hmm these forms aren't really designed for the front end. However you can take a look at https://github.com/anomalylabs/streams-platform/blob/1.5/resources/js/form/translations.js

First see if it's getting pulled in in the front end. Then if so - maybe it can be made to work both ways otherwise copy it and include it yourself in your theme for your front end form and modify as needed.

[2019-01-25 16:07] #4905 closed, assigned to nobody

[2019-01-27 00:48] emergingdzns commented on #4876
Sorry to pester. Just wondering if there's an update. Thanks!

[2019-01-28 07:48] emeksancar commented on #4905
What's the intended method for custom front-end forms then?

[2019-01-28 18:43] RyanThompson opened #4906 "[streams-platform] Create override tools since we're removing auto-detection"
Now that automatic lang, config, view, etc overloading is being removed - we need to replace with cleaned up core tools for developers to use to register their own.

[2019-01-28 19:37] RyanThompson opened #4907 "[settings-module] Cache configuration settings to file onSave"
**Is your feature request related to a problem? Please describe.**
It's expensive to configure the system at runtime.

**Describe the solution you'd like**
Let's cache the config file and simply include it during register to override. This way it's caught in cache too.

[2019-01-28 19:53] RyanThompson opened #4908 "[all-addons] Use array_value instead of array_get where possible"
**Is your feature request related to a problem? Please describe.**
Array::get is slow and leverages value() which is also slow.

**Describe the solution you'd like**
array_value is a drop in solution that is much simpler and lighter for the 99% of use cases that don't need the extra along with Array::get

[2019-01-28 20:09] RyanThompson opened #4909 "[pages-module] Incorporate publish_at date"
**Is your feature request related to a problem? Please describe.**
Pages can't be published in the future.

**Describe the solution you'd like**
Similar to posts - we need to be able to publish entries (pages in this case) in the future.

[2019-01-28 20:41] RyanThompson opened #4910 "[redirects-module] Dump redirect routes to prevent having to load each time"
**Is your feature request related to a problem? Please describe.**
Just as with all other routes like this we should be dumping and including the routes file.

[2019-01-28 21:19] edster commented on #4909
Its more then that though, you need to be able to schedule a REVISION for in the future, not just the page itself.

Scenario:
1. I have a live home page
2. I modify the home page, but don't want the modifications to show until 3 days in the future.

Expected Behavior
Be able to specify a date for the revision to go live.
Show prior revision until that date.

[2019-01-28 23:12] Pixney-William commented on #4909
Good feature, however, if it's a lot of work, i think the prio on this is low (at least in my mind)

[2019-01-28 23:17] Pixney-William commented on #4909
Just saw someone asking about it

[2019-01-29 14:02] jkocik opened #4911 "Wiki"
Are you sure this is Wiki you want to have? https://github.com/pyrocms/pyrocms/wiki

[2019-01-29 19:12] edster commented on #4911
Thanks for the heads up @jkocik.

It has been deleted.

[2019-01-29 19:12] #4911 closed, assigned to nobody

[2019-01-29 19:23] #4862 closed, assigned to nobody

[2019-01-29 19:25] edster commented on #4861
I'm of the opinion that the database level should be required if you want the field required, thats the whole point.

I agree that if it isn't to be required everywhere, it should be flagged as such when creating the field, and overridden to be required where it needs to be.

[2019-01-29 19:27] edster commented on #4844
@finnito is this still an issue?

[2019-01-29 19:54] finnito commented on #4844
At some point it was resolved as I am currently using the package without any trouble.

[2019-01-29 20:46] edster commented on #4844
Great, thanks for confirming

[2019-01-29 20:46] #4844 closed, assigned to nobody

[2019-02-01 15:53] RyanThompson commented on #4869
@Eighke I completely agree (part of me does) however here are a couple points to consider and also some clarification that might help:

1.) We are NOT removing `asset_*` functions or the `Asset` class.
    a.) We ARE however removing the compiling functionality of the class. It will be a pipeline manager now.
2.) There will be some time with 3.7 to change over to the preferred (soon documented) me

[2019-02-05 07:45] RyanThompson commented on #4910
Done in 2.3

[2019-02-05 07:45] #4910 closed, assigned to nobody

[2019-02-05 09:47] RyanThompson commented on #4907
Done for preferences as well.

[2019-02-05 09:47] #4907 closed, assigned to nobody

[2019-02-05 09:51] #4908 closed, assigned to nobody

[2019-02-05 09:52] RyanThompson commented on #4882
Fixed in 3.7

[2019-02-05 09:52] #4882 closed, assigned to nobody

[2019-02-05 19:50] RyanThompson opened #4912 "[encrypted-field_type] Document overriding views for use with textarea / comments / etc."
Add textarea and make sure it's known to others that show_text config will only work with input/password and NOT textarea.

[2019-02-08 00:00] vagkaefer commented on #4898
In my case:

[code]

The problem is the PHP 7.3, in this version the compact() function was changed. The people needs to downgrade the php, the version 7.3 is not compatible yet...

[2019-02-08 02:40] ghost commented on #4898
As @vagkaefer said, PHP 7.3 causes issue here; I got the same error. I could move on to finish installation by changing EntryTranslationsModel.php at line 169 to be:
`if(isset($entry)){
            $fieldType->fire($trigger, array_merge(compact('fieldType', 'entry'), $payload));
            } else {
              $fieldType->fire($trigger, array_merge(compact('fieldType'), $payload));

[2019-02-08 17:17] RyanThompson commented on #4893
Updated the post and will be more granular in the future for sure. Those the "table of versions".. it's called a composer.json file lol. I will pry start using a text comparator output to show better overview of what's changing though.

[2019-02-08 17:17] #4893 closed, assigned to nobody

[2019-02-08 17:18] RyanThompson commented on #4589
Got this into the new docs.

[2019-02-08 17:18] #4589 closed, assigned to nobody

[2019-02-08 17:19] RyanThompson commented on #4443
These are also in the new docs.

[2019-02-08 17:19] #4443 closed, assigned to nobody

[2019-02-08 18:31] RyanThompson opened #4913 "[system-module] Release system module w/4.0"
Based on Laravel Telescope / Horizon features/codebase

[2019-02-08 19:16] RyanThompson opened #4914 "[pyrocms] Add environment requirements to composer.json"
Add something along the lines of this to the `composer.json` **require** section:

[code]

[2019-02-09 04:33] RyanThompson commented on #4885
Not sure if this is necessary.

[2019-02-09 04:38] RyanThompson commented on #4885
Could also be like GitHub's **+** dropdown. Each addon could contribute.

Configuration comes to mind. Then it could be published and modified. Would keep the UI less cluttered. I like this...

[2019-02-09 05:52] ikoniqoz opened #4915 "Maintenance Mode error"
**Describe the bug**
When setting Maintenance Mode to ON I get error on fresh install of pyrocms v3.6.4

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Admin -> Settings -> System -> Maintenance and set to ON
2. Update to save the setting then Log out to check front-end
3. View Front-end Home page and observe error Refer included screenshot.

**Expected behavior**
Site Closed for Main

[2019-02-10 15:20] emergingdzns commented on #4876
Guys, any updates?

[2019-02-10 15:57] RyanThompson commented on #4876
Sorry meant to update this when I fixed it in 2.0 - the mentions system isn’t made to handle discussion level mention notifications.

I can take another look. Currently I am bouncing around a 1.x update or 2.0 with a clear migration path and am leaning hard towards the latter based on the amount of cleaning house. 2.0 also is just about done. I could help with a migration if you’re open to that.

[2019-02-10 15:58] RyanThompson commented on #4876
In fact mentions in general got kinda botched in 1.0.. you could potentially listen from the outside and make a custom notification too

[2019-02-10 16:17] emergingdzns commented on #4876
Hmm. I tried to recreate the mention notification function but had no luck and got a bit lost.

How soon do you see 2.0 being ready? I'd love to be able to upgrade but will that require also upgrading to P3.5? Are the forum views different too? I've customized them a bit so I'll have to republish and re-apply my changes I assume.

[2019-02-14 19:06] markbratanov opened #4917 "html_widget-extension extends SelfHandling - depcrecated"
The html-widget extension extends SelfHandling in src/LoadWidget.php

Removing instances of SelfHandling did not fix the widget, requires additional work.

[2019-02-14 21:38] RyanThompson opened #4918 "[posts-module][navigation-module] Make sure the "change" feature clears the URL parameters after saving. Pages does."
See title

[2019-02-14 21:58] RyanThompson opened #4919 "[streams-platform] Don't cache core modules and extensions table at the model level."
Or do.. either way it needs to bust when addon:(un)install is used.

[2019-02-14 22:00] RyanThompson opened #4920 "[streams-platform] Save on create should continue editing."

[2019-02-15 05:46] Eighke opened #4921 "[stream-platform] Move to cartalyst/assetic"
Assetics is blocking to move to Laravel 5.7. Currently the plan is to remove it on `stream-platform` 1.7 (Pyro 4.0). Instead we can just move to `cartalyst/assetic`. Cartalyst forked the repository and fixed the Symfony deps. I think using Cartalyst should be safe enough.

It will allow to have Assetics and Laravel 5.7 in the same time (good for people that need Laravel 5.7 but has no time to conv

[2019-02-15 07:54] Eighke commented on #4921
PS: I tried to change the deps and it is working: https://github.com/Eighke/streams-platform/commit/b7ba2c11b3617f32bba15415474c5e3c66cdbad8

[2019-02-16 16:47] RyanThompson opened #4922 "[streams-platform] Document and implement signed URLs as needed."

[2019-02-17 05:00] finnito opened #4923 "Session message displayed on incorrect site"
**Describe the bug**
I went to log into one of my website (https://hikes.finnito.nz) on a multi-site installation and found a session message waiting for me on the login screen.
I have another site (https://canterburyplumbing.co.nz) on the same installation and this message has come from that site, as they have a quote request form.

**To Reproduce**
Not sure how to reproduce yet, sorry!

**Expect

[2019-02-18 05:59] Eighke commented on #4921
`$bindings` and `$singletons` in `StreamsServiceProvider` are now already registered in the `Application`. So it can be removed from the `register()`, but they need to be public.

[2019-02-18 14:03] Eighke commented on #4921
https://github.com/Eighke/streams-platform/tree/laravel57

[2019-02-18 15:52] edster commented on #4921
@Eighke are you intending to do a PR for this? If so please submit one and link to it here.

[2019-02-19 03:43] Eighke commented on #4921
@edster I am, but I need to be sure everything is functional before that. :)

[2019-02-19 03:45] edster commented on #4921
Just checking 😉

[2019-02-20 14:40] Eighke commented on #4921
So, it looks good. I didn't test all modules on all versions, but I converted my website without problem.

The only package I found that failed is the sitemap-extension (it is using an old version of `laravelium/sitemap`, so it need to be updated)

[2019-02-21 20:17] RyanThompson commented on #4920
Done: https://github.com/anomalylabs/streams-platform/commit/90ffb26aca6c7fd60ced3bd4cfb75aae47bb18d2

[2019-02-21 20:17] #4920 closed, assigned to nobody

[2019-02-21 20:53] RyanThompson opened #4924 "[streams-platform] Reverse automatic route generation with Entry Router"
[code]

Basically use the router's location logic to pull addon and the model for the stream portion of automatic routes.

[2019-02-21 21:00] RyanThompson commented on #4918
Done: https://github.com/anomalylabs/streams-platform/commit/d990a293965f79f776323815a7b9bf465bc2b2b3

[2019-02-21 21:00] #4918 closed, assigned to nobody

[2019-02-21 22:27] ericleversen opened #4925 "Datetime Field Type - Filters - Not working for single date"
**Describe the bug**
A filter for  `anomaly.field_type.datetime` allows user to select one or more dates.
If only one date is selected, all dates are returned.

The code in `~/anomoly/~/DatetimeFieldTypeQuery.php` proves a check to see if 'to' exists in the filter.
-One date is sent as filter_order_deadline=21+February%2C+2019
-Two dates are sent as filter_order_deadline=21+February%2C+2019+to+22+

[2019-02-21 23:20] omniwired opened #4927 "Generated Files - Public Directory Permissions"
I'm working in an environment where we are required to have dynamically generated files to a minimum.

Is it possible to run this CMS without public/app being 777?

Is there a reliable, stable, consistent way to "pre-generate" all the necessary files in this folder before putting the site live?

[2019-02-22 04:37] RyanThompson commented on #4921
Done - SP 1.6

[2019-02-22 04:37] #4921 closed, assigned to nobody

[2019-02-22 04:41] RyanThompson commented on #4927
You only need to allow for writable by the application. 755 or whatever would work fine as well.

Currently there isn't though 3.7 coming out here in a little less than a month has a cache warmer we might be able to use. It crawls your sitemap to warm HTTP cache. We could do the same to hit/trigger compiling by touching pages. But the markup / stylings dictate images so there's no other good way t

[2019-02-22 04:45] omniwired commented on #4927
Thanks Ryan.

That is along the lines what I been doing, visiting the pages to generate locally the files.
Then committing those files and pushing.

[2019-02-22 06:30] #4927 closed, assigned to nobody

[2019-02-22 19:11] RyanThompson opened #4928 "[api-module] Doc to_array_for_api usage examples."
Page blocks would be a good one. Maybe we need a help category / section too for this with more complete recipes.

[2019-02-22 19:30] edster commented on #4928
Great idea

[2019-02-22 19:31] RyanThompson opened #4929 "[api-module] Bust cache by listening for saved event."
Just like the `view` and `index` routes are automated. API can listen for and bust end points for those entries too.

[2019-02-22 19:32] RyanThompson commented on #4915
This will happen when you have debugging enabled. To see the pretty version of it disabled debug mode :-)

[2019-02-22 19:32] #4915 closed, assigned to nobody

[2019-02-22 19:33] RyanThompson commented on #4927
Here is the cache warming if you want to implement something like it on your end: https://github.com/anomalylabs/streams-platform/blob/1.6/src/Http/Console/Warm.php

Pretty simple crawler.

[2019-02-22 19:34] RyanThompson commented on #4927
Are you running behind a load balancer or something? Curious as to why you need to pre-process this stuff.

[2019-02-25 22:23] omniwired commented on #4927
yes is running behind a load balancer and the deploys have to be similar to each other.

send me a DM in twitter (@omniwired ) and I can tell you more about it.

[2019-02-25 23:05] edster opened #4930 "[repeater-field_type v1.3.14] - Nested repeaters not staying within group when reorganizing"
**Describe the bug**
Nested repeaters don't snap/stay within there container when reorganizing. Disjoints and reorganizes within the parent repeater.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a repeater within a repeater
2. Drag the child repeater element in an attempt to reorganize it within the parent repeater.

**Expected behavior**
The child element should stay within the pa

[2019-02-27 15:02] emergingdzns opened #4931 "[comments-module] Mention notifications result in UNKNOWN in path"
**Describe the bug**
I've attached comments via the twig plugin to items in our module's feed of content. For example:
[code]
The `item` is a model object. Comments are submitted properly and are displayed exactly correct. However, when a user is mentioned in the comment, the notification that goes out has a link that looks like this:
[code]
The email does contain the subject and everything looks

[2019-02-27 15:38] emergingdzns commented on #4931
I'm wondering if I need to add something to my module's routes array that will tell the comment module how to setup the "view" route.

[2019-02-27 16:58] RyanThompson commented on #4931
Yes this needs to have a view route. You can do something like this within your addon: https://github.com/anomalylabs/posts-module/blob/2.6/src/PostsModuleServiceProvider.php#L97

Note the `as` portion is the name: https://github.com/anomalylabs/posts-module/blob/2.6/src/PostsModuleServiceProvider.php#L97

[2019-02-27 16:58] #4931 closed, assigned to nobody

[2019-02-27 17:33] emergingdzns commented on #4931
Thanks @RyanThompson I am closer now to correcting it but I'm still a bit confused.

I added an `as` to my module so the array node looks like this:
[code]
The model for the object that is being commented on is "feed" so I used "feed.view" after the module namespace. But I have a feeling that 'gcmd.module.content::feed.view' needs to be defined somewhere in order for this to work.

I am going thro

[2019-02-27 17:39] emergingdzns commented on #4931
Ah nevermind!! I figured it out. It needed to be `feeds.view`. Based Im guessing on the lang/en/streams.php file.

[2019-03-01 20:22] RyanThompson opened #4932 "[wysiwyg-field_type] Images should automate the alt-tag by default."
When adding images to the editor there is no alt/title information though we have it available.

We need to add the image tag with the appropriate defaults according to the file we're choosing to prevent accessibility / SEO faults in content by default.

[2019-03-03 08:54] RyanThompson commented on #4919
https://github.com/anomalylabs/streams-platform/commit/b995fb55214a91839ad7d3d35d0efe76ce4ea5d0

[2019-03-03 08:54] #4919 closed, assigned to nobody

[2019-03-03 08:55] RyanThompson commented on #4914
This should be/is done on the dependency end. Not in the project itself. Our dependencies define Pyro's needs.

[2019-03-03 08:55] #4914 closed, assigned to nobody

[2019-03-03 08:57] RyanThompson commented on #4898
7.3 isn't supported until 3.7 releases here shortly on Laravel 5.3 and a load of updates.

[2019-03-03 08:57] #4898 closed, assigned to nobody

[2019-03-03 08:57] RyanThompson commented on #4913
https://github.com/pyrocms/pyrocms/commit/99779a304da5632709afaa3afda08b51ea95783a

[2019-03-03 08:57] #4913 closed, assigned to nobody

[2019-03-03 08:59] RyanThompson commented on #4906
This is done - needs documentation.

Deprecated addon-level auto-override. Removing next version and added flag for testing.

[2019-03-03 09:03] RyanThompson commented on #4889
I am going to reform action groups for forms to help reduce the footprint in the UI instead of going this route. I'd like to be more descriptive overall and this will help me here.

[2019-03-03 09:03] #4889 closed, assigned to RyanThompson

[2019-03-03 09:04] RyanThompson commented on #4876
I am updating 2.0 very shortly - It'll be very close to the 3.7 release which is this month.

[2019-03-03 09:04] #4876 closed, assigned to RyanThompson

[2019-03-03 09:05] RyanThompson commented on #4885
This is done and in 3.7

[2019-03-03 09:05] #4885 closed, assigned to nobody

[2019-03-03 09:15] RyanThompson commented on #4863
Fixed in Streams Platform 1.7

[2019-03-03 09:24] RyanThompson commented on #4551
Duplicate of which is scheduled for 3.7 https://github.com/pyrocms/pyrocms/issues/4883

[2019-03-03 09:24] #4551 closed, assigned to RyanThompson

[2019-03-03 16:36] RyanThompson commented on #4932
This is done: https://github.com/anomalylabs/wysiwyg-field_type/commit/625ebd7c8ddf781f5ee4a292dd3f3ef52a48bdda

[2019-03-03 16:36] #4932 closed, assigned to nobody

[2019-03-03 17:48] RyanThompson commented on #4924
Done: https://github.com/anomalylabs/streams-platform/commit/1722dadce83073e181d899ce291538ea47ff57bd

[2019-03-03 17:48] #4924 closed, assigned to nobody

[2019-03-03 20:14] RyanThompson commented on #4922
Doc'd

[2019-03-03 20:14] #4922 closed, assigned to nobody

[2019-03-03 20:36] RyanThompson commented on #4470
Addons module now supports this as of Pyro 3.7: https://github.com/anomalylabs/addons-module/commit/4df31ff513206c02e1351a6117c2537141f1a09f

[2019-03-03 20:36] #4470 closed, assigned to nobody

[2019-03-04 02:55] RyanThompson commented on #4883
This has been completed.

[2019-03-04 02:55] #4883 closed, assigned to nobody

[2019-03-04 03:56] #4906 closed, assigned to nobody

[2019-03-04 03:56] #4886 closed, assigned to nobody

[2019-03-05 07:31] RyanThompson commented on #4473
https://github.com/anomalylabs/wysiwyg-field_type/commit/678357201f9154ca5ecdc6c4acfc7a872c710e4d

https://github.com/anomalylabs/wysiwyg-field_type/commit/07deec21e714c98e45ca372e8da36e5a05ae8e0d

[2019-03-05 07:31] #4473 closed, assigned to nobody

[2019-03-06 00:45] kiltedup opened #4933 "[forms-module v1.3] - Attachments always sent with autoresponder/notifications"
**Describe the bug**
If an file or upload FT is included in the fields of a form creaeated with the forms module, when the the autoresponder and notification mails are sent, the file is always sent, regardless of whether the 'include' attachment option is selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new form using forms module.
2. Add either a file or upload field type

[2019-03-06 00:59] kiltedup commented on #4933
This seems to do the trick in `\Anomaly\FormsModule\Form\FormAutoresponder` and `\Anomaly\FormsModule\Form\FormMailer`

Change

[code]

to

[code]

[2019-03-06 16:08] JorodriguezNA opened #4934 "Laravel Telescope preventing composer update"
**Describe the bug**
Updating composer and running composer update runs into a problem.

installing an application using the original composer config file, then applying the changes to update.

Then I ran composer update.

Got this error in console:
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - anomaly/system-module v1.0.0 requires laravel/telescope

[2019-03-10 03:38] emergingdzns opened #4936 "[encrypted-field_type] Decrypt at run-time isn't working completely"
**Describe the bug**
I have added an Encrypted field type to the Users section of the admin called "Clinic Patient Identifier". I can add values and it stores encrypted.

In the field type configuration in the admin panel I set "Decrypt at Run-time" to on. But then I have a multiple field type in the Users module that I'm using to assign multiple users to specific users based on their user type. B

[2019-03-10 18:16] RyanThompson opened #4937 "[streams-platform] Investigate clearing $stream data when going to serialization and restoring upon wakeup"
This could help with performance.

[2019-03-11 18:38] RyanThompson opened #4938 "[streams-platform] DocBlock fields as attributes for hinting"
Would be great since we're compiling fields anyways to go ahead and doc block the attributes on the base models in order to hint.

[2019-03-11 20:26] matthijs-oosterhoff commented on #4872
I copied the content of public/index.php from the latest revision in your git repository, thus including the changes as mentioned in the release post. (Only change is the cached kernel wrapper?)

Still facing this issue, now when upgrading from 3.4 to 3.6. Turns out I can work around the issue by disabling exact URI matching on the child pages of the "home" page. I don't think that should be requi

[2019-03-12 03:00] RyanThompson opened #4939 "[card-field_type] Build this."
Modeled off of Payments module.

[2019-03-12 18:08] RyanThompson opened #4940 "[field_types] Fix choices.js (remove from accelerant to simulate)"

[2019-03-15 05:06] Eighke opened #4941 "[streams-platform] Messages broken on 1.6"
**Describe the bug**
Twig message_* are broken.

**To Reproduce**
Just save anything, not message

**Additional context**
The Twig plugin is using `config()` ^^;

[2019-03-15 14:34] edster commented on #4941
@eighke, please follow the issue templates and provide some code.

[2019-03-16 02:57] Eighke commented on #4941
What code? The messages are not working.That all.

[2019-03-16 02:58] Eighke commented on #4941
@RyanThompson I cannot open it back :(

[2019-03-16 03:02] edster commented on #4941
What do you mean by `messages_*`
Is this on a page? a form builder? A view file?

I'm getting messages on forms in 1.6

[2019-03-16 05:38] Eighke commented on #4941
https://github.com/anomalylabs/streams-platform/blob/9d3da4cc11a5a30d18e43eaf1ca520924e787025/src/StreamsPlugin.php#L601

As I pointed out, it is now using the `config()`, I guess it is a mistake. But I'm not sure, I'll let Ryan check that out. But switching back to `session()` is working.

If it is working for you, check with 1.6 you got, it was changed in the` v1.6.61`.

[2019-03-16 10:56] vargvinter opened #4942 "[streams-platform] PhpUnit - ErrorException: Constant IS_ADMIN already defined"
Hello,

There is problem with tests.
I have simple test:

[code]

When I run this test I got this error:
[code]

I finally managed to run the tests.
I have extended `vendor/anomaly/streams-platform/src/Http/Kernel.php` class and put my custom `Kernel.php` in `bootstrap/app.php`.
I have written little check around line 93:

[code]

Is it correct?

[2019-03-16 15:42] RyanThompson commented on #4941
Fixed

[2019-03-16 15:42] #4941 closed, assigned to nobody

[2019-03-16 15:43] RyanThompson commented on #4942
We already do this in our code elsewhere - and both check if it's defined already too.. So not sure where that's getting set without checking?

[2019-03-16 16:02] vargvinter commented on #4942
Here:
https://github.com/anomalylabs/streams-platform/blob/1.5/src/Http/Kernel.php#L93
Error occurs only during testing.

[2019-03-17 02:19] RyanThompson commented on #4940
Huh - non-issues.

[2019-03-17 02:19] #4940 closed, assigned to nobody

[2019-03-17 04:33] RyanThompson commented on #4909
Implemented this in a simper, still very usable manner.

[2019-03-17 04:33] #4909 closed, assigned to nobody

[2019-03-17 04:34] RyanThompson commented on #4864
This has been fixed in 3.7

[2019-03-17 04:34] #4864 closed, assigned to nobody

[2019-03-17 05:17] RyanThompson commented on #4838
Done - and used tags / search for settings

[2019-03-17 05:17] #4838 closed, assigned to nobody

[2019-03-20 01:29] RyanThompson commented on #4810
This is done:

https://github.com/anomalylabs/pages-module/commit/ad4cfd32ac846a3b3626ef0a8d3cd3fe84490230

https://github.com/anomalylabs/posts-module/commit/767cb062ab6220d8e725b66d9d8639a0a2af8404

[2019-03-20 01:29] #4810 closed, assigned to nobody

[2019-03-20 06:29] RyanThompson commented on #4792
Done. Update composer.json from 3.7 dev. Also did this feature on multiple FT.

[2019-03-20 06:29] #4792 closed, assigned to RyanThompson

[2019-03-20 07:30] ikoniqoz commented on #4792
YEA! I had wondered about this earlier today.

[2019-03-20 07:47] RyanThompson commented on #3897
Done in 2.6

[2019-03-20 07:47] #3897 closed

[2019-03-20 08:46] dwainscheeren commented on #4792
YESSSS PARTY OVER HERE!

[2019-03-20 20:47] RyanThompson commented on #4942
Fixed: https://github.com/anomalylabs/streams-platform/commit/375be15a52bd439423ba44ed830aecef48b1a1f9

[2019-03-20 20:47] #4942 closed, assigned to nobody

[2019-03-20 22:51] Pixney-William opened #4943 "Streams delete property should default to false."
When appending streams information, you need to set the delete property to false to make sure it's not deleted.

**Describe the solution you'd like**
This value should default to false instead, and you should set it to true if you would like it to be deleted.

[2019-03-21 14:11] vargvinter opened #4944 "[navigation-module] - Can't edit link"
Hello,

After creating link in menu I can't edit it. It's unclickable.

When change this https://github.com/anomalylabs/navigation-module/blob/2.4/src/Link/Tree/LinkTreeSegments.php#L25
into
`entry.edit_link`

it works again.

[2019-03-21 19:57] RyanThompson commented on #4131
This is done in Files Module 2.6

[2019-03-21 19:57] RyanThompson commented on #4131
https://github.com/anomalylabs/files-module/commit/c6be441961e669bb9070d057e0bf9c24b3b5e627

[2019-03-22 07:32] #4131 closed

[2019-03-22 08:01] RyanThompson commented on #4943
Done: https://github.com/anomalylabs/streams-platform/commit/8c1854e004f8ffa84c8a91fb8850708be8ec71c0

[2019-03-22 08:01] #4943 closed, assigned to RyanThompson

[2019-03-22 16:58] RyanThompson opened #4945 "[streams-platform] Add country code (phone) to country data"
This will assist with the 2fa initiative.

[2019-03-23 12:25] RyanThompson commented on #4521
I am going to postpone this one just slightly because I am unsure how I want to do it.

I'd love to just use settings but settings are not multilingual yet.

I'd also be keen on using SEO block but it's not ready yet either and also not super obvious of a place to look.

[2019-03-23 14:36] RyanThompson commented on #4174
This is done. Files FT 2.3 and File FT 2.2

[2019-03-23 14:36] #4174 closed

[2019-03-24 11:18] RyanThompson commented on #4945
Done

[2019-03-24 11:18] #4945 closed, assigned to nobody

[2019-03-28 22:40] Pixney-William opened #4946 "[Forms Module] Email template layout not working"
**Describe the bug**
When i use the forms modul. I cant select an email layout and get it working.

**Expected behavior**
I want to be able to select a email template to wrap around my content from the content fields..

[2019-04-03 19:51] RyanThompson opened #4948 "[posts-module] Check that live scope are accounting for TZ properly (HO ref)"

[2019-04-07 13:58] ipimpat commented on #4863
I can confirm it works

Tested on a fresh installation of PyroCMS 3.7 branch

[2019-04-07 13:58] #4863 closed, assigned to nobody

[2019-04-08 19:49] Pixney-William opened #4949 "[Streams v1.6 (3.7) - Grid 1.4] Versions not working."
**Describe the bug**
Versions are not working on content within the grid.

**To Reproduce**
Add a grid to your page with a wysiwyg editor. Within the editor, write: "Trump".

Then click save.

Change the content in the wysiwyg editor to say: "Putin.".

Click save.

Then go into versioning and try to load the first version.. Nothing happens for the grid..

**Expected behavior**
After reload i shoul

[2019-04-09 13:00] RyanThompson commented on #4949
Update - added note to docs too

[2019-04-09 13:01] #4949 closed, assigned to nobody

[2019-04-09 15:57] Pixney-William commented on #4949
I will let you close this since you didn't like the title. But to be clear, this had nothing to do with the grid field v.1.4. This was meant to be the other issue, which if you read the description you'd figured:)

[2019-04-09 16:06] Pixney-William opened #4950 "[Core : Versioning] Versions are saved, but not retrieved."
**Describe the bug**
Versions seem to be stored to the database. It also works to retrieve normal page data as title, description from versions.

But if you for example attach a grid field type with a versionable grid (in this case a markdown field type) you can not load a version and see that data in the textarea (markdownarea).

**To Reproduce**
* Go to grids, create a grid, make it versionable,

[2019-04-09 20:33] RyanThompson opened #4951 "Document pagination."
**What are you trying to do?**
I don't think we have a really comprehensive documentation on pagination.

**List any relevant existing documentation:**
- https://pyrocms.com/documentation/streams-platform/1.6/front-end-development/queries#paginate
- https://pyrocms.com/documentation/streams-platform/1.6/core-concepts/repositories#paginate
- https://pyrocms.com/documentation/streams-platform/1.6/re

[2019-04-10 09:03] Pixney-William opened #4952 "[Posts Module] Default to a type if only one type exist"
**Please describe.**
When you click new post, and there is only one type of blog to choose from, we should not have to select type. Instead we should be taken directly to the edit view to create a post of the only type that exist.

![image](https://user-images.githubusercontent.com/31292231/55866135-050a1880-5b80-11e9-9a51-3a9ed33fdb5e.png)

[2019-04-10 09:21] Pixney-William opened #4953 "[Grid Module] Select all should not be visible unless you actually have rows."
**Describe the solution you'd like**
If you haven't added any rows that can be selected. The select all button should not be visible.

![image](https://user-images.githubusercontent.com/31292231/55867421-bdd15700-5b82-11e9-8de2-abb6fd64efec.png)

[2019-04-10 12:40] RyanThompson opened #4954 "Finish Posts v2.6 Documentation"

[2019-04-10 14:35] #4934 closed, assigned to nobody

[2019-04-10 14:37] RyanThompson commented on #4253
Just as a note to self; we need to improve the table ajax functionality possibly in best suit this requirement.

[2019-04-11 05:56] oimken opened #4955 "[streams-platform] [urgent] Duplicate entry in CP table builder"
**Describe the bug**
Upgrade to PyroCMS 3.7 beta with No error,  but..
If default language is not english, create a entry for a module(such as `admin/navigation`),
in list view will show duplicate entries.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `admin/settings#tab-localization` enable more than one language and set default language to the non-english one.
2. Go to `admin/navig

[2019-04-11 10:32] oimken opened #4956 "[streams-platform] Unable to create configured logger"
**Describe the bug**
Upgrade from 3.6 to 3.7beta with no error,   got `logger.php` in `config` folder already.
but:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to 3.7 beta and check `storage/logs/laravel.log`

**Expected behavior**
no error.

[2019-04-11 10:35] Pixney-William commented on #4956
And the logger looks at the following? https://github.com/pyrocms/pyrocms/blob/3.7/config/logger.php

[2019-04-11 10:40] oimken commented on #4956
yes. I download and put it into `config`

But I fixed this just now....

### Rename `logger.php` to `logging.php`, Log comes alive again!!!

[2019-04-11 10:45] Pixney-William commented on #4956
Correct, that is the right name for it

[2019-04-11 10:50] oimken commented on #4955
Btw:
Set default language to `en`,  table display collect.

[2019-04-11 11:51] RyanThompson commented on #4955
Ill check it out - it undoubtedly has to do with https://github.com/anomalylabs/streams-platform/blob/1.7/src/Model/EloquentQueryBuilder.php#L351

[2019-04-14 08:37] Fellner96 opened #4959 "Override table/ajax.twig"
Hi. I have an issue to override table/ajax.twig. I want to replace the file uploader table but i cant override table/ajax. Working in the admin theme, all works correctly except this. Any idea?

I tried override in serviceprovider, resource/streams/table/ajax in theme, all the other way..

When i debug the twig loader, all the files land in the public function findTemplate($name) with the name lik

[2019-04-17 21:14] douma opened #4960 "Installer hangs"
**Describe the bug**
The installer hangs because jQuery is not found.
https://i.imgur.com/StpLlCF.png

**To Reproduce**
See printscreen

[2019-04-18 01:13] Eighke opened #4961 "[streams-platform] Automatic routing fail on tests"
**Describe the bug**
Functional tests cannot access to automatic routes (`/admin/{module}/{stream?}/{method?}/{id?}`).

**To Reproduce**
Remove admin manual routing from a module (let say page).

[code]

**Additional context**
Well the auto routing it is defined in the `Http\Kernel`, so it is not usable in Tests (because they are using `Console\Kernel`).

[2019-04-18 01:16] Eighke commented on #4959
Hi @Fellner96

See https://github.com/pyrocms/pyrocms/issues/4868

[2019-04-18 07:43] Fellner96 commented on #4959
I saw this issue but my problem is with view and not the include.

[2019-04-19 03:53] Eighke commented on #4959
If you are using view(), it should has no problem. I already overrided many file w/o problem. Just remember than only the one using view() can be overrided.

[2019-04-19 06:32] daviesgeek opened #4962 "[bug] [encrypted-field_type] [users-module] Field type trying to decrypt an already decrypted value in the form builder"
**Describe the bug**
The encrypted field type seems to be trying to decrypt an already decrypted value when used in a FormBuilder with auto_decrypt: true

**To Reproduce**
Steps to reproduce the behavior:
1. Add a custom encrypted field to the users module with auto_decrypt: true
2. Add a value to that field
3. Explosion!

**Expected behavior**
The value should appear in the form

**Screenshots**

[2019-04-19 09:08] oimken opened #4963 "[files-module] [pyrocms 3.7 beta]Move file failure"
**Describe the bug**
Move file will failure if the folder has  custom fields assigned.
Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'admin/files/folders', create two test folder and assign some different fields to each folder
2. Go to ''admin/files', upload a file in one folder, and edit it ,input something into fields
3. Try move this file to the other folder
4. See e

[2019-04-19 09:22] oimken commented on #4963
I check the Database found that:
`folder_id` is changed , but it seems @RyanThompson you miss the `entry_type`

[2019-04-22 17:23] RyanThompson opened #4964 "[files-module] If no allowed types is selected then prevent executables upload @ folder level."
**Is your feature request related to a problem? Please describe.**
By default it's allowed to upload .exe or .php files for example. This should require explicit opt-in.

**Describe the solution you'd like**
If no folder level allowed types are defined - then specifically restrict executables.

[2019-04-24 09:19] fatihalp opened #4965 "Duplicating translateble fields in pyro 3.7"
**Describe the bug**
After upgrading to pyrocms 3.7 translatable fields duplicates data if 2 languages activated.

**To Reproduce**
1- Create new module and steream.
2- Activate 2 language.
3- Change language to Turkish
4- Try to get data like:
[code]
5- You will see data is duplicated.

**Screenshots**
https://i.imgur.com/9ymVymw.png
https://i.imgur.com/F4hlc86.png
https://i.imgur.com/6g4tvtC.png

[2019-04-25 10:11] Pixney-William commented on #4965
Is this the same issue that Oimken had @RyanThompson ?

[2019-04-25 13:05] fatihalp opened #4966 "Installation doesn't activate other languages then English in pyrocms 3.7"
**Describe the bug**
I'm making fresh new installation with pyro 3.7

**To Reproduce**
1- Install pyrocms 3.7 other then English (like Turkish)
2- You will see it will only activate English.
3- Also it doesn't care default language. Site is in English.

**Screenshots**

![image](https://user-images.githubusercontent.com/219454/56737569-67177000-6773-11e9-8556-aba4979bdae4.png)

**Desktop & Smartph

[2019-04-25 13:59] fatihalp commented on #4965
I dig into issue and duplicated with Posts module. Create multi language post. Change language to other then English. (Change to Turkish) Make this query :

[code]
It's duplicating post:

https://i.imgur.com/Cri4azX.png
![image](https://user-images.githubusercontent.com/219454/56741022-c036d200-677a-11e9-8cd5-d683e2c7a5d7.png)

[2019-04-25 15:39] LeTranAnhVu commented on #4898
Hi.

Hi, Have you find the solution. I just got the same issue. how to deal with that thing.

[2019-04-25 20:10] edster commented on #4898
Downgrade to 7.2

[2019-04-25 20:40] vagkaefer commented on #4898
I edited some files, solved this problem, but then others started to emerge. In the end I returned to version 7.2.

[2019-04-26 15:35] RyanThompson opened #4967 "[documentation] Setup configuration reference for PyroCMS docs (base config)"

[2019-04-28 14:48] rmondesilva commented on #4950
I am experiencing this issue too.

`get_class() expects parameter 1 to be object, null given` shows up on PHP 7.2, changing to PHP 7.0 hides the error but no changes happen, because the `$this->form->getModel()` is still null.

<img width="1019" alt="image" src="https://user-images.githubusercontent.com/18656034/56865963-a1e50680-6a06-11e9-88bd-cc0c0b42398d.png">

I agree that changes on Title or

[2019-04-29 06:11] Eighke commented on #4966
But in Enabled Languages on your screen, Turkish is not available. So it cannot enable it, and it will fallback on Laravel configuration (so `en`).

[2019-04-29 06:16] fatihalp commented on #4966
Enabled language should be only Turkish

[2019-04-29 06:41] Eighke commented on #4966
No it doesn't work like that. Currently it is misleading because of the fields order. Enabled languages should be first.

What should not be possible is to select a Default language which is not in the Enabled languages.

[2019-04-29 14:27] ozcan-durak commented on #4966
I think he's trying to say, That while installation he had selected preferred language suppose "Turkish". Then after he runs says enabled languages still keeps English rather than Turkish.

[2019-05-02 11:13] donuk commented on #4872
I was getting this on a fresh install of pyrocms.  It looks like the paths stored against children of the home page are stored without an initial slash as compared to children of normal pages.

I'm not too familiar with the code but I think this is related to the `handle()` method in `core/anomaly/pages-module/src/Page/Command/SetPath.php` specifically where for children of the homepage it swaps o

[2019-05-03 11:15] finnito opened #4968 "[documentation] Implementing Versioning: Use different VersionRouter class"
**What are you trying to do?**
When following the [Implementing Versioning](https://pyrocms.com/help/addon-development/modules/implementing-versioning) guide it is describing how to implement versioning for a model. However, the route is not properly registered when following the guide and a 404 is given.

**Problem**
It tells you to use this class as the `VersionRouter`:
[code]

But if you do so,

[2019-05-06 17:42] ngocsangyem commented on #4898
I still have this issue

[code]
output

[code]
I using Mamp on MacOs Mojave

Any way to fix this? Thanks

[2019-05-08 19:23] RyanThompson opened #4969 "[streams-platform] Indexing should be queued and use try/catch"

[2019-05-09 11:11] bedomarci opened #4970 "Error templates fail to render after updating to PyroCMS 3.7"
In case of any HTTP error, pyro tries to render a non existing error page. It caouses more error.
I added no override to my service provider. It appeared right after updating to Pyro 3.7

To reproduce I put a fake error anywhere: `throw new Exception()`

It supposed to show a 500 error. Rendered from default streams template. Than it gives me browser default 500 error.
In logs I get thousands of l

[2019-05-10 08:53] oimken commented on #4955
@RyanThompson I don't think so.
https://github.com/anomalylabs/streams-platform/blob/1.6/src/Model/EloquentQueryBuilder.php
they are same...

[2019-05-11 12:07] oimken opened #4971 "[stream-platform] ImageMacros Not working, fixed."
**Describe the bug**
ImageMacros not woking.

**Fixed**
https://github.com/anomalylabs/streams-platform/pull/656

[2019-05-14 17:09] RyanThompson opened #4972 "Document the sub-addon functionality."

[2019-05-14 20:00] RyanThompson commented on #4971
Thanks again!

[2019-05-14 20:00] #4971 closed, assigned to nobody

[2019-05-14 20:03] RyanThompson commented on #4969
Fixed this elsewhere in the code that was causing problems. Scout being an issue was an erroneous assumption.

[2019-05-14 20:03] #4969 closed, assigned to nobody

[2019-05-14 20:08] RyanThompson commented on #4970
Hmm, where does it come from indeed. Are you fully updated? Seems like an old view override attempt.

[2019-05-14 20:09] RyanThompson commented on #4968
Whoops! Good catch, thanks! Fixing now.

[2019-05-14 20:09] #4968 closed, assigned to nobody

[2019-05-14 21:08] RyanThompson commented on #4965
@fatihalp thanks a ton for the bug report - well done! I've fixed this here if you would like to confirm: https://github.com/anomalylabs/streams-platform/commit/b998fcecfab378c9feccd01f914898d54b62eadc

[2019-05-14 21:08] #4965 closed, assigned to nobody

[2019-05-14 21:11] RyanThompson commented on #4966
Ah the default value for enabled locales does not account for the current (installed data) locale.

[2019-05-14 21:33] RyanThompson commented on #4966
Fixed: https://github.com/anomalylabs/settings-module/commit/1ed5b73b6ed1e466ea510ad962c3aab115c0346c

[2019-05-14 21:34] #4966 closed, assigned to nobody

[2019-05-14 21:36] RyanThompson commented on #4963
On it.

[2019-05-15 07:13] fatihalp opened #4973 "Pyro 3.7 installation gives error if you select any other language then English"
**Describe the bug**
Can't install any other language then English.

**To Reproduce**
Steps to reproduce the behavior:
1. Install Pyro 3.7 in Turkish.
2. You will get an error.
3. message: "SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'menu_id' cannot be null (SQL: insert into `default_navigation_links` (`menu_id`, `target`, `entry_id`, `entry_type`, `type`, `updated_by_id`, `creat

[2019-05-16 06:56] fatihalp opened #4974 "Pyro 3.7 can't load old versions of page"
**Describe the bug**

http://pyro.test/admin/pages/edit/1?version=4&versionable=Anomaly\PagesModule\Page\PageModel

**To Reproduce**
1- Create fresh pyro 3.7
2- Go to pages
3- Update a page.
4- Go to versions of page.
5- Click load page see:  get_class() expects parameter 1 to be object, null given

**Expected behavior**
Load old version of page.

**Screenshots**

![image](https://user-images.gith

[2019-05-16 09:32] Pixney-William commented on #4950
Also this:

https://github.com/pyrocms/pyrocms/issues/4974

[2019-05-17 15:39] Pixney-William opened #4975 "Urls accessible over different locales, will cause google to index same page multiple times."
Just added to make sure i/we don't forget about this.

Note to myself: Describe it better.

[2019-05-20 09:58] Realsnowyman opened #4976 "Heroku clean installation"
I'm trying to install PyroCMS 3.7 on Heroku:
First i'm forked clean install of PyroCMS to my repositorie on git, changed some files for attaching the database (such as a composer.json and database.php), then i attached ClearDB addon with empty database on it. I executed php artisan install on heroku console with positive result, and i see that database fill up with data after that. But for now i g

[2019-05-20 15:33] drmonkeyninja opened #4977 "Intermittent login issue where CSRF token mismatch error is thrown"
**Describe the bug**
Admin is occasionally logging out users or preventing users from logging in and throwing the `csrf_token_mismatch` error.

**To Reproduce**
This is difficult to recreate as it happens intermittently, but when it does it tends to consistently fail to let the user login for a while. It tends to happen on first login (it fails to login and returns the message 'Your security token

[2019-05-22 14:47] RyanThompson opened #4978 "Streams API Docs Need Finished"
https://pyrocms.com/documentation/streams-platform/1.6/streams-api

[2019-05-23 01:38] Eighke opened #4979 "[streams-platform] Schedule config name"
**Describe the bug**
https://github.com/pyrocms/pyrocms/blob/8d30fabbb28adbe36b812f679137ae98279ca6cb/config/streams.php#L69

Use `schedules` but

https://github.com/anomalylabs/streams-platform/blob/00f41ab2b1ed193a44cc2a32173a790658af7e6c/src/StreamsServiceProvider.php#L235

Use `schedule`

I'm not sure which one you wanna keeps, so I just report it. :)

[2019-05-23 15:11] RyanThompson commented on #4976
What is your `.env` contents at this time? If you're able to share or desensitize it and share.

[2019-05-24 05:51] Realsnowyman commented on #4976
Well as i understeand you don't need .env file for heroku. Config variables is for that. So in my config variables i have APP_KEY, APP_URL and CLEARDB_DATABASE_URL.
In database.php i get database connection params from CLEARDB_DATABASE_URL:

Also i tried to place DB params to database.php directly.

[2019-05-27 14:35] mmodler commented on #4956
+1

Ryan, fix it :)

[2019-05-28 13:34] Realsnowyman commented on #4976
@RyanThompson i've added .env file with this params

Then i make artisan install without any errors.
If i try open the app, i see this errors in logs:

`PHP Fatal error:  Class 'Anomaly\Streams\Platform\Model\Users\UsersRolesEntryModel' not found in /app/core/anomaly/users-module/src/Role/RoleModel.php on line 14`

`10.91.195.42 - - [28/May/2019:13:23:07 +0000] "GET /favicon.ico HTTP/1.1" 500 1268

[2019-05-28 14:32] edster commented on #4976
Run `php artisan streams compile`, if you run into the same issue make a new line in .env of  `installed=false` then run it again.

[2019-05-29 07:22] Realsnowyman commented on #4976
Done without errors. But i still get same errors.
![image](https://user-images.githubusercontent.com/49273831/58537427-8a628e80-81fb-11e9-84a6-da23e7a472cd.png)

[2019-05-29 14:53] edster commented on #4976
Go into the storage folder and look for the models for your app reference. Make sure they are actually generated

[2019-05-30 13:19] drmonkeyninja commented on #4977
This is continuing to be an issue for us (the client is reporting that this is happening a lot to them making the CMS unusable).

It reoccurred for me earlier today and I found that once the `csrf_token_mismatch` error was triggered it consistently kept me logged out for about an hour. I was able to login from a fresh browser during this time, but after a couple of minutes that too logged out with

[2019-05-31 06:18] vargvinter commented on #4977
Same here. We have got same symptoms like @drmonkeyninja.
I have noticed that `Shift + F5` combination also logouts the user on the very next request.

[2019-05-31 10:33] oimken opened #4980 "[files-module][~2.6.0] Create folder manually error"
**Describe the bug**
#### `"anomaly/files-module": "~2.6.0",` in `3.7 beta`

Create a folder in controller like this:
[code]
Got:
[code]

[2019-05-31 15:58] edster commented on #4980
You already have a stream in files called avatars

[2019-05-31 15:58] #4980 closed, assigned to nobody

[2019-06-05 13:12] drmonkeyninja opened #4981 "Ambiguous sort_order column when joining two sortable models"
**Describe the bug**
When joining a sortable table onto another sortable model the generated SQL contains an ambiguous order clause due to the `sort_order` columns on both tables.

**To Reproduce**
Use the `join` method on a sortable Eloquent model to join another sortable table.

**Expected behavior**
I would expect a valid SQL query to be generated with the columns in the order clause aliased to

[2019-06-05 17:41] Pixney-William opened #4982 "Make use of : Eloquent: API Resources"
Make this happen

https://laravel.com/docs/5.6/eloquent-resources

[2019-06-08 09:13] rickmills opened #4983 "Installer - Add an option to set the DB port"
Just been setting a fresh copy of 3.7.x-dev and I've got a bit of an odd home setup where I use a synology running MySQL on a non-standard port. However both the web and CLI installers look to be missing the option to set your own port.

Workaround for now is to just fill out the `.env` file manually but would be nice if at some point this was added into the gui/cli.

Probably wouldn't hurt to als

[2019-06-09 10:30] #4976 closed, assigned to nobody

[2019-06-11 03:07] Eighke commented on #4973
Same for User module.

The seeders only seed `en`, so if you set the locale to something else than `en`, it will not find any translation. And LinkSeeder will not be able to find the menu. For the User it is the Role that will not be found.

Setting the locale to `en` during install and switch after is not better, most of the seeded entries in the admin will not be accessible for the same reason.

[2019-06-11 15:35] drmonkeyninja opened #4984 "Improve documentation on best practice for publishing streams"
The existing documentation isn't clear on how best to handle the view and config files generated when publishing the streams platform or one of the addons.

On the [cheatsheet for Upgrading](https://pyrocms.com/help/developer-tools/cheatsheets/upgrading) it states that:

This is a really important point, but this should be clearly stated at any point in the documentation that explains how to publi

[2019-06-11 20:50] RyanThompson commented on #4964
Done: https://github.com/anomalylabs/files-module/commit/ce3074816e901ff0a72c2f37b4258b888881bf7a

[2019-06-11 20:50] #4964 closed, assigned to nobody

[2019-06-13 06:40] vargvinter commented on #4495
I have connected Elasticsearch with Scout but indexes for my models are not updated.
As @squatto said `artisan scout:import {model}` works fine for me as well but when I update the model index in Elasticsearch is not updated.
Moreover core Pyro models (like Post, Page, User) work great - index in ES is updated.
My models have flag `searchable` set to `true`.
I am not sure what I am doing wrong.

P

[2019-06-13 17:57] RyanThompson commented on #4495
Are you leveraging observers at all? Make sure that observers continue the call to the `parent::` so that deeper parts of automation in streams can work.

[2019-06-13 17:58] RyanThompson opened #4985 "[documentation] Searching and Scout"

[2019-06-13 19:01] vargvinter commented on #4495
You mean `{ModelName}Observer` class created after scaffolding  the stream?
I have got something like this:

[code]

Is something wrong here?

As I said firing `$myModelFromMyModule->save()` **works**.
Updating/creating some core module model via form in browser (Page, Post, User, etc) **works**.
Updating/creating my module model via form in browser **does not work**.

Maybe in `FormBuilder` is so

[2019-06-14 17:14] RyanThompson commented on #4495
You mention unit testing - is that the context in which you are experiencing this issue? Or just normal usage in your addon? Can you try flagging it as searchable in the DB and recompiling?

[2019-06-16 17:58] vargvinter commented on #4495
Normal usage.
Anyway, I have reinstalled module locally and it started indexing. Strange behaviour...
What should I do on production? I just can't reinstall module because of all the data I have.

EDIT:
Issue still occurs.
Here is the scenario:
When I import models via `php artisan scout:import 'Model'` and then I update one of the imported models changes are not reflected in Elasticsearch.

When

[2019-06-17 18:37] Pixney-William opened #4986 "[Field Type] Code - issue with second locale"
**Describe the bug**
Field type is messed up.

![codeerror](https://user-images.githubusercontent.com/31292231/59627940-b6f53080-913f-11e9-98b7-866a30ce4bf8.gif)

[2019-06-17 18:45] Pixney-William opened #4987 "[Field Type] Markdown - Error init second locale"
**Describe the bug**
On page load, the primary language is visible in the markdown field. When selecting the secondary language the text/markdownarea is empty until you click inside it.

![markdownerror](https://user-images.githubusercontent.com/31292231/59628378-d3459d00-9140-11e9-9840-22adcc6c5558.gif)

[2019-06-18 09:51] TheBeems opened #4988 "Logout notification persists after re-login"
**Describe the bug**
The website I am making is behind a login. When trying to reach a page while logged out, it will redirect to the login page and produce a message you need to be logged in  (as intended). But after re-login, the notification will not get removed.
The same happens when you are logged in on the website and then logout. You will get a notification that you are logged out (as inten

[2019-06-18 11:49] Pixney-William opened #4989 "[Forms Module] Not sending emails from different locales"
**Describe the bug**
Forms module is implemented. Notification is created and added. When i go to williamastrom.se and submit the form, an email notification is sent to me.

When i go to the swedish version: williamastrom.se/sv and submit the form, nothing is sent.

Form is stored however.

[2019-06-18 19:15] edster opened #4990 "[3.7][Pages-Module] - Home Page not updating properly."
**Describe the bug**
If you change the home page between different pages, it does not update.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Page module
2. Update the home page to a different page
3. The site home page will not update, however the DB record will indicate that the home page has changed.

**Expected behavior**
The home page will update on the site to showcase the new pa

[2019-06-18 19:17] edster opened #4991 "[3.7][Pages-Module] - Updating a page types layout does not work"
**Describe the bug**
If you change the layout of a page type to a new layout, the published page does not refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Page module
2. Update page type to a different theme layout
3. Navigating back to a page that uses this layout will not update, however the DB record will indicate that the layout has changed.

**Expected behavior**
The page

[2019-06-18 19:21] edster opened #4992 "[3.7][Addons Module] - Does not show modules in the addons directly"
**Describe the bug**
The addons module is not showing any modules sitting in the addons directory.

**To Reproduce**
Steps to reproduce the behavior:
1. Place a module in the addons directory
2. Look for the addon in any of the navigational items.
4. It will not be listed to be installed/uninstalled.

**Expected behavior**
Addons in the addons directory should be listed.

**Additional context**
"n

[2019-06-18 19:25] edster opened #4993 "[3.7][Addons-Module] - Cannot install an addon via GUI"
**Describe the bug**
When you try to install a module via the gui you get the following error.
`The provided cwd "anomaly.module.dashboard --seed" does not exist.`

You get this regardless if you have checked off seed or not.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to addon module
2. Click on the install button for a module
3. Select Seed
4. See error

**Expected behavior**
Module

[2019-06-19 12:55] mmodler opened #4994 "[datetime-field_type] Retrieved Carbon object has wrong time"
Settings -> App default timezone is "Europe/Berlin"
Saved a model with a datetime field -> Localized time value (14:54) for field and updated at in the db
Display field and updated_at in a TableBuilder -> updated_at is correct (14:54), field value is wrong (16:54)

Adding APP_TIMEZONE="Europe/Berlin" to .env -> field value is correct

I'm on platform 1.6

[2019-06-19 12:57] Pixney-William commented on #4994
Right, have had this issue for a while. I think you @RyanThompson did fix it like 6 months back on a version.. but it has come back to hunt me too for the last months....

Basically ignores the GUI setting.

[2019-06-23 03:36] RyanThompson commented on #4994
Make sure that `streams::datetime.database_timezone ` is set correctly as well: https://github.com/anomalylabs/streams-platform/blob/1.6/resources/config/datetime.php#L30

[2019-06-28 15:35] drmonkeyninja opened #4995 "WYSIWYG removes empty lines from code blocks"
**Describe the bug**
Redactor is removing empty lines which causes issues when using the code format to insert example code.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a WYSIWYG field
2. Use the 'Code' format to insert a code block
3. Add some text with an empty line in the middle
4. Save, the empty line will have been removed

**Expected behavior**
New lines in code blocks should

[2019-07-01 10:42] rickmills opened #4997 "[3.x][accelerant-theme] Page breaks on failed login attempt"
**Describe the bug**
When attempting to log in to any pyrocms admin area running accelerant, if you enter an incorrect username/password and press submit, the page 'slides' the background open, filling the screen which then scrolls horizontally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any pyro admin area (e.g http://pyrocms.com/admin)
2. Enter junk in the email and password fie

[2019-07-02 17:34] edster opened #4998 "[3.7][Blocks Module] Cannot add a block to an area"
**Describe the bug**
You receive an error when you click add block in a block area.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to block module
2. Click "Add Block" to add a block to an area.
3. See error

PR: https://github.com/anomalylabs/blocks-module/pull/12

[2019-07-04 08:44] TheBeems commented on #4988
Anyone have an idea where the problem resides? It happens with all the session messages. They persist for a couple of minutes while browsing the site, even when going to the admin dashboard page. But clicking on any page within the admin area, the message gets removed.

[2019-07-06 02:39] RyanThompson commented on #4998
Merged - thanks!

[2019-07-06 02:39] #4998 closed, assigned to nobody

[2019-07-06 02:55] RyanThompson commented on #4997
Fixed - thanks! https://github.com/pyrocms/accelerant-theme/releases/tag/v1.2.13

[2019-07-06 02:55] #4997 closed, assigned to nobody

[2019-07-06 03:27] RyanThompson commented on #4995
Try this out: https://github.com/anomalylabs/wysiwyg-field_type/commit/fb1e6acbf72b286b6104fd332dd7164660d3ca90

Should fix it - there's an .env param you can set defaults globally as well.

[2019-07-06 03:27] #4995 closed, assigned to nobody

[2019-07-06 03:28] RyanThompson commented on #4994
Any word on this? Closing for now assuming that did the trick :-/

[2019-07-06 03:28] #4994 closed, assigned to nobody

[2019-07-06 03:32] RyanThompson commented on #4988
Check that your `messages.php` file uses the correct session method: https://github.com/anomalylabs/streams-platform/blob/1.7/resources/stubs/addons/resources/views/partials/messages.twig#L10

Old bug that was deprecated out without updating the view respectively :-/

[2019-07-06 03:32] #4988 closed, assigned to nobody

[2019-07-06 03:43] RyanThompson commented on #4987
Fixed bruh: https://github.com/anomalylabs/markdown-field_type/commit/01e9dce28dd70dc7e02647a04040600ff004b36f

[2019-07-06 03:43] #4987 closed, assigned to nobody

[2019-07-06 03:49] RyanThompson commented on #4986
Fixed: https://github.com/anomalylabs/markdown-field_type/commit/01e9dce28dd70dc7e02647a04040600ff004b36f

[2019-07-06 03:49] #4986 closed, assigned to nobody

[2019-07-06 04:02] RyanThompson commented on #4983
DB prefix is dictated by application reference - but added the port in!

https://github.com/anomalylabs/installer-module/commit/57daec328454a22661573d5a80b2581c98f15f95

https://github.com/anomalylabs/installer-module/commit/272774bf97c4de14fbd5e17115b4a8f829e5c5b8

[2019-07-06 04:02] #4983 closed, assigned to nobody

[2019-07-06 04:07] RyanThompson commented on #4981
CURRENTLY this is up to you - however I have field type query criteria.. I might be able to squeak in but it'll automate more of the join logic needed. Checkout the `translate` method I just added in the meanwhile to get an idea of what's needed.. I might sneak in a join version of this but I am unsure: https://github.com/anomalylabs/streams-platform/blob/1.7/src/Model/EloquentQueryBuilder.php#L35

[2019-07-06 04:07] #4981 closed, assigned to nobody

[2019-07-06 04:17] edster commented on #4988
I am also having session persists periodically on 3.7
________________________________
From: Ryan Thompson <notifications@github.com>
Sent: Friday, July 5, 2019 8:32:17 PM
To: pyrocms/pyrocms
Cc: Subscribed
Subject: Re: [pyrocms/pyrocms] Logout notification persists after re-login (#4988)

Closed #4988<https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fpyrocms%2Fpyrocms

[2019-07-06 04:38] RyanThompson commented on #4981
Added this after all: https://github.com/anomalylabs/streams-platform/commit/4ea724449885031e5a0531a1075dfc144dbd9449

[2019-07-06 04:39] RyanThompson commented on #4977
Are you guys still getting this with the double session issue fixed and some other updates that have happened? Can you confirm this is still a thing or is it resolved?

[2019-07-06 04:40] RyanThompson commented on #4974
This has been resolved.

[2019-07-06 04:40] #4974 closed, assigned to nobody

[2019-07-06 04:45] RyanThompson commented on #4962
Fixed! Thanks: https://github.com/anomalylabs/encrypted-field_type/commit/c940a8b01f50c09590e551137519791db454f82e

[2019-07-06 04:45] #4962 closed, assigned to nobody

[2019-07-07 11:14] drmonkeyninja commented on #4977
Sorry @RyanThompson I forgot to comment on this one. I believe this PR resolved it: https://github.com/anomalylabs/streams-platform/pull/640. When I originally opened that PR I had no idea that it would be related, it was just an attempt to tidy the code. 🤷‍♂️

We're no longer getting the issue. 😀

[2019-07-07 11:14] #4977 closed, assigned to nobody

[2019-07-08 15:17] fatihalp commented on #4950
Ryan says that issue is solved #4974

[2019-07-14 05:24] RyanThompson commented on #4993
This has been resolved.

[2019-07-14 05:24] #4993 closed, assigned to nobody

[2019-07-14 06:12] RyanThompson commented on #4992
Fixed this as well.

[2019-07-14 06:12] #4992 closed, assigned to nobody

[2019-07-16 09:14] fatihalp opened #4999 "[3.7] New language adding causing error in Pyro 3.7"
**Describe the bug**
If there isn't language's data in database (let's says title in posts module) it gives error when you change language.

**To Reproduce**
1. Install new Pyrocms 3.7
2. Add new post.
3. Activate new language (like Turkish) other than English.
4. Change language to Turkish and open the post. You will see error.

**Screenshots**

Pyro 3.6 is working when there isn't that language

[2019-07-19 14:31] drmonkeyninja commented on #4995
@RyanThompson I have updated to `3.1.18` on a fresh install of Pyro but am still having the same issue of new lines being removed. I've tried toggling the configuration options of the field but they don't appear to have any affect.

[2019-07-26 22:37] quangdo opened #5000 "[3.6] Duplicate folder path causes Error 500 during installation"
**Describe the bug**
**Log:** [laravel-2019-07-26.log](https://github.com/pyrocms/pyrocms/files/3437550/laravel-2019-07-26.log)

When attempting to install PyroCMS locally using MAMP (free version), I get a Error 500 message when I visit the installer page (.../installer). The log that PyroCMS generates says it "failed to open stream: No such file or directory".

The file that it's attempting to o

[2019-07-30 04:24] RyanThompson commented on #4984
Done: https://github.com/anomalylabs/streams-platform/commit/84ea5bc70aa29f718ebade6b1fab21ac83d533a7

[2019-07-30 04:24] #4984 closed, assigned to nobody

[2019-07-30 04:28] #4967 closed, assigned to nobody

[2019-07-30 05:00] RyanThompson commented on #4951
https://dev.pyrocms.local:8890/documentation/streams-platform/1.6/front-end-development/queries#pagination

[2019-07-30 05:00] #4951 closed, assigned to nobody

[2019-07-30 05:05] RyanThompson commented on #5000
Can you confirm, is the public root of your MAMP host the `public` folder of your PyroCMS installation? That is a must to continue: https://pyrocms.com/documentation/pyrocms/3.7/getting-started/installation#host-configuration

[2019-07-30 05:31] RyanThompson commented on #4999
I believe this commit should fix this: https://github.com/anomalylabs/streams-platform/commit/44398d79e5c912c010fd68187ba2c174c26f4ee9

[2019-07-30 05:31] #4999 closed, assigned to nobody

[2019-07-30 05:56] RyanThompson commented on #4991
This seems odd.. I have been doing this all week on a bleeding edge install and others - no issues. Just tried with a local tests on two installs and it appears fine. HTTP cache also appears to bust appropriately. Can you gather me more deets to reproduce and poke me if this is still a thing?

[2019-07-30 05:56] #4991 closed, assigned to nobody

[2019-07-30 05:57] RyanThompson commented on #4990
I can confirm this works too.. which is kinda a duplicate to your other. Can you tell me if you have route cache, http cache, and or DB caching toggled on?

[2019-07-30 06:02] RyanThompson commented on #4979
Plural `schedules` is correct. Thanks! I've fixed and patched.

[2019-07-30 06:02] #4979 closed, assigned to nobody

[2019-08-01 17:29] quangdo commented on #5000
D'oh! Yes I skipped over that bit. Thanks for looking.

[2019-08-01 17:29] #5000 closed, assigned to nobody

[2019-08-05 19:56] Pixney-William commented on #4989
@RyanThompson have you looked at it or should i dig it down?

[2019-08-06 09:52] monicaelenastefan opened #5001 "PyroCMS installer broken"
I am trying to install PyroCMS on CentOS and the installer seems broken. It stops at 33/57 with no error log. The users table in the database is empty and the public folder does not contain the default pages ( welcome or control panel).
I have followed the steps from https://pyrocms.com/documentation/pyrocms/3.5/installation/installing-pyrocms
![image](https://user-images.githubusercontent.com/227

[2019-08-11 22:05] Pixney-William commented on #4989
The issue is found here :
https://github.com/anomalylabs/forms-module/blob/1.3/src/Form/FormMailer.php#L87

If you have a website with multiple locales, but only have entered the send to email in english, the other locales returns an empty array here.

I suggest you make it so it defaults to the standard locale (ie English setting that exist) and then only use other value if it is set.

@RyanThomp

[2019-08-13 15:39] RyanThompson opened #5003 "Use "?" as hotkey for help and shortcuts."
All Google products and many others use this hotkey to expose shortcuts, help, and tips.

[2019-08-13 15:39] RyanThompson commented on #5003
Also document it.

[2019-08-13 19:01] Pixney-William commented on #4989
![image](https://user-images.githubusercontent.com/31292231/62969337-561b6900-be0d-11e9-91b9-5a24226f3b4b.png)

This field isn't required. Does it use another value if it's not filled in? If so, then maybe that value should be used if another locale email is not filled in instead of using the one that is filled for the standard locale?

Not sure what the best way is here?

[2019-08-13 20:32] Pixney-William opened #5004 "Does pyro support webp?"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/31292231/62975221-38083580-be1a-11e9-9f57-4d2cba9e1a63.png)

Do pyrocms today support webp ?

[2019-08-15 14:26] Pixney-William opened #5005 "Authy Authenticator"
**What are you trying to do?**
Add two factor authentication for admins logging into the admin as well as for users logging in for protected pages.

[2019-08-15 16:31] edster commented on #5005
What is the issue @Pixney-William?

There are docs for the module here: https://github.com/anomalylabs/authy_authenticator-extension/tree/1.0/docs/en

Or are you asking that they get pushed to the website? It is there under Extensions

[2019-08-15 16:38] #5005 closed, assigned to nobody

[2019-08-15 16:39] RyanThompson commented on #5005
It's listed here: https://pyrocms.com/documentation

And here: https://pyrocms.com/documentation?q=authy

And here: https://pyrocms.com/documentation/authy-authenticator-extension

:-P

[2019-08-15 17:13] Pixney-William commented on #5005
It wasn't available this morning. Or there was cache or something. @edster

[2019-08-15 17:15] Pixney-William commented on #5005
Homepage that is... Where i normally look for docs.

[2019-08-15 19:44] RyanThompson commented on #4989
Interesting. So it needs a default to the default locale's value.

[2019-08-15 20:03] Pixney-William commented on #4989
Question is, if it's not a required field. And you don't fill it out in any language. What does it default to? @RyanThompson

[2019-08-16 05:14] bahl-marketing commented on #4622
How to access the translatable Images/Files ?

[2019-08-16 05:21] tasaduqh commented on #4622
@RyanThompson How to access translatable Images/Files ?

[2019-08-19 02:39] #4990 closed, assigned to nobody

[2019-08-19 02:41] edster commented on #4990
It's all stock, itlf it is on by default then it's on
________________________________
From: Ryan Thompson <notifications@github.com>
Sent: Sunday, August 18, 2019 7:39:34 PM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: edster <edsters88@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [pyrocms/pyrocms] [3.7][Pages-Module] - Home Page not updating properly. (#4990)

Closed #49

[2019-08-19 02:44] RyanThompson commented on #5001
Can you try again? I've made some changes to the installation processes recently.

Does it give you an error on the console at all? Does it just stop to never continue? No feedback whatsoever? Any more information would help tremendously.

[2019-08-19 02:57] RyanThompson commented on #5001
I think I was hitting a few things too but those have all been resolved on 3.7.

You might try `ulimit -n 1024` before installation if you're on a mac.

[2019-08-19 02:57] #5001 closed, assigned to nobody

[2019-08-19 03:07] #4985 closed, assigned to nobody

[2019-08-19 20:24] RyanThompson opened #5006 "[Forms Module] Prevent bad columns from breaking CP"
We need to lock down the tag options with forcing selections from options only - and also tweak the default table configuration to skip over columns where the field is no longer / not present.

[2019-08-20 10:00] stickeegreg opened #5007 "Error making migrations (php artisan make:migrate)"
**Describe the bug**
Error `The "fullpath" option does not exist.`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `php artisan make:migration test` on a fresh install (`composer create-project pyrocms/pyrocms:3.7.x-dev`)

Pyrocms 3.7.x-dev 7be2ef3dc44c8a70840ceb599fb67a796abacbc7
Laravel 5.8.32

**Fix**
Change `Anomaly\Streams\Platform\Database\Migration\Console\MigrateMakeCommand` to:

[2019-08-20 17:38] ghost opened #5008 "Error when creating new main page"
**Describe the bug**
Creating new page in newly installed PyroCMS 3.6 instance causes error as the url-query-parameter "parent" is empty.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Pages'
2. Click on '+ New page' in the top of the frame
3. Click on 'Default' as page type
4. Laravel error page is shown and the url ends with '&parent='

**Expected behavior**
A new page definition i

[2019-08-20 17:39] ghost commented on #5008
Sub pages are not a problem...

[2019-08-20 22:01] edster opened #5009 "Form Handlers missing from docs"
**What are you trying to do?**
Form handlers missing from docs

**List any existing documentation:**
Should be added here: https://pyrocms.com/documentation/streams-platform/1.7/ui/forms

[2019-08-21 08:54] stickeegreg opened #5010 "Disk driver 'local' is overridden"
**Describe the bug**
The [documentation](https://pyrocms.com/documentation/files-module/2.6/developers/laravel-filesystem) says "You don't HAVE to use disks from the Files module. If the disk does not exist in the Files module Laravel's filesystem will work just as it would natively." but this doesn't seem to be true as the `local` driver is overridden

**To Reproduce**
Steps to reproduce the beha

[2019-08-23 20:52] Pixney-William opened #5011 "Error when trying to install 3.7 beta2 from CLI"
**Describe the bug**
`Target [Anomaly\AddonsModule\Repository\Contract\RepositoryRepositoryInterface] is not instantiable.`

**To Reproduce**
1. `composer create-project pyrocms/pyrocms:3.7.x-dev `
2. `php artisan install`
3. During install it throws above error

![image](https://user-images.githubusercontent.com/31292231/63623030-be7dfd80-c5f8-11e9-8923-0c9c80cdcc10.png)

[2019-08-23 20:56] Pixney-William commented on #5011
If i run composer update and then php artisan install - it works.

We should find this issue since i am not the only one having it.

[2019-08-26 09:44] fatihalp commented on #4999
It still consist in 3.7 Beta 2 @RyanThompson

https://www.youtube.com/watch?v=nfJockEWEsg

[2019-08-26 09:47] fatihalp opened #5012 "Duplicating post records in 2 language with Pyro 3.7 Beta 2"
Describe the bug
After upgrading to pyrocms 3.7 translatable fields duplicates data if 2 languages activated.

To Reproduce
1- Create new module and steream.
2- Activate 2 language.
3- Change language to Turkish
4- Try to get data like:

[code]
5- You will see data is duplicated.

https://www.youtube.com/watch?v=nfJockEWEsg

#4965 bug continue.

[2019-08-26 14:26] Pixney-William opened #5013 "Website redirecting issues"
If i am here :
https://pyrocms.com/documentation/pyrocms/3.7/prologue/upgrade-guide

I change the select box to 3.6 , i then arrive here :
https://pyrocms.com/documentation/pyrocms/3.6/prologue/upgrade-guide

If i then change back to 3.7, i come to:
https://pyrocms.com/documentation/pyrocms/3.7/getting-started/installation

I should come back to :
https://pyrocms.com/documentation/pyrocms/3.7/prol

[2019-08-26 14:53] RyanThompson opened #5014 "[S3 Storage Adapter] Update Regions"
Just a quick one: The s3 adaptor doesn’t list all the possible regions anymore - works fine if you add them in the config https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Concepts.RegionsAndAvailabilityZones.html

docs.aws.amazon.comdocs.aws.amazon.com
Regions and Availability Zones - Amazon Relational Database Service
Protect your application from the failure of a single location by using A

[2019-08-26 14:55] RyanThompson commented on #5013
Good catch! Agreed.

[2019-08-26 15:01] RyanThompson commented on #5012
Is Turkish one of the 2 languages activated? And what is the DEFAULT language for the system then? And also what are the 2 locales you have enabled?

[2019-08-26 15:13] fatihalp commented on #5012
Default is English. Turkish and English is activated.

I believe all answers in 1 min. video : https://www.youtube.com/watch?v=nfJockEWEsg

[2019-08-26 15:15] RyanThompson commented on #5012
Thanks!

[2019-08-28 15:11] RyanThompson opened #5015 "[Includes Extension] Documentation needed"
Document it based on another extension / change-log / etc.

[2019-09-02 08:13] Pixney-William opened #5016 "Documentation how to create a form and store it using formbuilders"
So i was working on an ajax contact form for a module i have. And i have been googling to try to solve it but i ended up just working with native Laravel functionality instead. I think we would need documentation regarding this if it doesn't exist:

1) Create an addon/module with migration (basic fields for a contact form, name, email)
2) How to use a formbuilder to render the form in html includi

[2019-09-03 06:42] Pixney-William opened #5017 "Homepage documentation redirect error"
This is similar to the other error. If you visit: https://pyrocms.com/documentation/streams-platform/1.5/the-basics/httpcache and then chang from 1.5 to 1.7 you are not staying on the httpcache page any longer.

[2019-09-05 07:01] RyanThompson commented on #5017
This has been vastly improved. It'll try harder to preserve position now. Exact if possible.

https://github.com/anomalylabs/documentation-module/commit/1d645e3aabbad2c704a883fd0d5cc7add877d001

[2019-09-05 07:01] #5017 closed, assigned to nobody

[2019-09-05 07:06] RyanThompson commented on #5013
https://github.com/anomalylabs/documentation-module/commit/1d645e3aabbad2c704a883fd0d5cc7add877d001 (also duplicate: https://github.com/pyrocms/pyrocms/issues/5017)

[2019-09-05 07:06] #5013 closed, assigned to nobody

[2019-09-05 15:49] RyanThompson opened #5018 "[streams platform] Published views should extend base views by default"
**Is your feature request related to a problem? Please describe.**
When publishing.. it would be nice to have defaults extend the original and start using more blocks to help handle overriding views in a more organized manner.

**Describe the solution you'd like**
When generating published files, comment out the original content for ease of access and add `extends` tag at top to original file.

[2019-09-07 11:13] Pixney-William opened #5019 "Website documentation redirection error"
**Describe the bug**
Know you have worked on a fix. But found something on :
https://pyrocms.com/documentation/streams-platform/1.3/services/image

If you change the select to 1.7, it goes to a page with no relevant content

[2019-09-16 09:15] bubba169 opened #5020 "[Installer] Can't choose database port"
As someone who uses Docker to test builds, it'd be handy to allow setting the database port during installation. Currently the only way to do this is by modifying the .env file and this is overwritten after installation meaning it needs to be modified a second time to keep the settings.

An additional field/question in the installer that defaults to 3306 would be perfect.

[2019-09-16 13:54] mmodler commented on #5011
+1

It now happens with stable v3.7 (platform 1.7) - weird!

[2019-09-16 18:31] dustfeather opened #5021 "array_merge fails on multiple-field_type"
If you search for an entry in the lookout filter of the multiple field type, clear the filer and then try again, you'll get an E500 message.

`[object] (ErrorException(code: 0): array_merge(): Expected parameter 1 to be an array, null given at /var/www/sbt-alliance.com/core/anomaly/multiple-field_type/src/Command/GetConfiguration.php:42)`

**Steps to reproduce the behavior:**
1. Create a page with

[2019-09-17 08:59] spektra2147 opened #5022 "Do not Create Post"
<a href="https://ibb.co/ZTn60nW"><img src="https://i.ibb.co/Yjz7xzp/ilan-olu-tur-1.png" alt="ilan-olu-tur-1" border="0"></a>

[2019-09-17 09:14] stickeegreg opened #5023 "[documentation] Adding images to template"
Googling for "pyro add image" takes you to an outdated documentation page:
https://pyrocms.com/documentation/streams-platform/1.4/services/image

Changing the version dropdown redirects to the [Streams Platform Introduction](https://pyrocms.com/documentation/streams-platform/1.7/getting-started/introduction) page, which is no help

**Describe the solution you'd like**
1) When visiting a page, a wa

[2019-09-17 17:09] cvothterrostar opened #5024 "[streams-platform] Image appends base path when URL is intended (remote image)."
public function path() within Image is appending base path when the SOURCE is a URL. Only does this in directory served sites. Omit if the URL is provided.

[2019-09-18 03:38] nazminnasya opened #5025 "Custom Status"
I am creating a custom filter status in my posts-module. So I need to bind PostTableBuilder with the one in the core and modify the filter status.

I create a new file in my App/Bindings folder named PostTableBuilder and I try to bind it in config/streams.php with

`'Anomaly\PostsModule\Post\Table\PostTableBuilder' => 'App\Bindings\PostTableBuilder',`

Then when I try to reload the table in the co

[2019-09-18 07:58] ghost commented on #5011
@mmodler have you found any workaround for this issue? i have same problem now...

[2019-09-18 09:11] mmodler commented on #5011
I use platform 1.6 - no other solution found.

[2019-09-18 13:38] edster commented on #5025
You need to set the stream on your table builder since it is outside the auto detection area
________________________________
From: NazminNasya <notifications@github.com>
Sent: Tuesday, September 17, 2019 8:38:39 PM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [pyrocms/pyrocms] Custom Status (#5025)

I am creating a custom filter status i

[2019-09-18 13:55] nazminnasya commented on #5025
okay...how do I do that? Is there any guide somewhere that I could read? I'm sorry I'm still learning Pyrocms, so bear with me...

[2019-09-18 16:58] ghost opened #5026 "Streams: Column not found: 1054 Unknown column 'name' in 'order clause'"
I'm creating an module addon, I've created two streams which are in relation. After addon installation I'm getting an error in admin panel while trying to reach addon route:

[code]

that's my Teacher Stream:

[code]

Klasy Stream:
[code]
and Teacher Fields migration:
[code]

As I see field called `name` from Klasy Streams is not created in database, but i completely don't know why.

**To Reproduc

[2019-09-18 17:02] edster commented on #5026
I don’t think title columns can be translatable as they sit on a different table.

--------
Regards,
Edi Mange

From: Jakub <notifications@github.com>
Sent: September 18, 2019 9:58 AM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [pyrocms/pyrocms] Streams: Column not found: 1054 Unknown column 'name' in 'order clause' (#5026)

I'm creating

[2019-09-18 17:10] ghost commented on #5026
@edster thanks for reply, but still same error, and column is not created. As I see, in generated TeachersKlasyEntryModel `name` column is not generated also.

[code]

[2019-09-18 18:36] nazminnasya commented on #5025
How do I extend it?

Here is my PostTableBuilder in App\Bindings for your reference
[code]

[2019-09-19 18:44] RyanThompson commented on #5019
it doesn't exist so it reverts down the line. Newer docs will have matching files and content on multiple versions so that will start working.

[2019-09-19 18:44] #5019 closed, assigned to nobody

[2019-09-20 05:48] mmodler commented on #5011
Sould be fixed, will test soon.

https://github.com/anomalylabs/streams-platform/commit/2caef91037e621bdd1af47d9b1e8a24aede67edf

[2019-09-20 07:47] Eighke commented on #5012
@RyanThompson It is currently a critical issue for non English people, if the `app.locale` is in a different language than the fallback, everything is duplicated.

I had to lock my SP before the B/C break change on some project :(

------------------

![Screenshot](https://user-images.githubusercontent.com/2734125/65309002-6fa29400-dbb5-11e9-90d0-302affe4125b.png)

Basically

[code]

Cannot work w

[2019-09-20 09:00] babatundestickee opened #5027 "ProxySession Class withCookie"
**Bug**
I have integrated cors using the Barryvdh package, the CORS requests only works when withCookie is commented out, looks like with Cookie is no longer in Laravel as of 5.0 based on my little research

**Reproduce**
Steps to reproduce the behavior:
1. ```$ composer require barryvdh/laravel-cors```
2. add ``` 'middleware' => [
        \Barryvdh\Cors\HandleCors::class,
    ],``` in config/stre

[2019-09-20 11:15] stickeegreg opened #5028 "asset_inline('...', ['parse']) breaks with production build - "Unclosed comment""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a foo.css file with a media block that starts with an id, e.g.
[code]
2. Run `yarn run prod`
3. In your layout, add
[code]
4. Load the page
5. See error "Unclosed comment"

This is caused by `yarn run prod` minifying the CSS.
The output CSS file looks like
`@media(p

[2019-09-20 12:59] edster commented on #5028
This sounds like an instigation issue between yarn and twig. How is this pyro related?
________________________________
From: Greg Pinnington <notifications@github.com>
Sent: Friday, September 20, 2019 4:15:18 AM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [pyrocms/pyrocms] asset_inline('...', ['parse']) breaks with production build - "U

[2019-09-22 01:14] kiltedup opened #5029 "[3.7][Pages-Module] - Changing a pages type does not update entry_type and entry_id"
**Describe the bug**
If you change the page type of a page, the type_id in pages_pages is correctly updated to the new type id, but the entry_type and entry_id are not updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a page using the Default page type
2. Create a new page type ( e.g. Custom page type )
3. Edit page and change the type from Default to Custom
4. In page tree you

[2019-09-23 03:04] Adamkaram opened #5030 "why this happen when i create this project"
In Container.php line 788:

  Class Snipcart\ProductsModule\ProductsModule does not exist

[2019-09-24 10:40] stickeegreg commented on #5028
Pyro is passing yarn output and pretending it's a twig template. Yarn has no requirement to output something twig-compatible, so if Pyro wants to pretend that a CSS file is a twig template, it needs to fix up the CSS before it passes it to twig

[2019-09-24 14:57] Pixney-William commented on #5028
What if you use mix/webpack instead?

William Åström, Pixney AB

On Tue, 24 Sep 2019, 12:40 Greg Pinnington, <notifications@github.com>
wrote:

[2019-09-27 09:06] ThinkGraphical commented on #4362
Well gee thx Ryan, very helpfull

[2019-09-28 22:45] RobinRadic opened #5031 "[streams-platform] AddonProvider sets the streams:addon value in routes. This results in empty control panel sections."
**Is your feature request related to a problem? Please describe.**
When adding routes in a module `ex1-module` for another module `users-module`, for example when adding a section/form/table, its not possible to add these routes to the service providers `$routes` property. This is because `AddonProvider::registerRoutes` adds/overrides the streams:addon value to $addon->getNamespace(). This would r

[2019-09-29 23:00] RobinRadic commented on #5031
Some visuals as clarification:
When navigating to `/admin/users`, using either the `$routes` or `map()` way of defining the routes:
![users-module](https://user-images.githubusercontent.com/754732/65840765-19ec8b00-e31d-11e9-8ede-1603508f5b4a.png)

----------

When navigating to `/admin/users/departments`, using the `$routes` way of defining the routes:
![users-module-incorrect](https://user-image

[2019-09-30 05:30] RobinRadic commented on #4892
@RyanThompson I spotted a few commits in which you where replacing twig by blade. But then it went back to twig.

Was there any reason to revert back to twig? I'd really like to see blade as default. Twig in laravel
 decreases developer experience _a lot_, is completely unnecessary and undermines the statement "Pyro feels like a natural extension of Laravel. We do not try and hide it but embrace i

[2019-09-30 05:36] edster commented on #4892
@RobinRadic  We are discussing moving to blade with an optional extension to keep all functionality currently existing via our twig implementation. We are concerned about the breakage and refactoring needed for all existing users modules /sites so trying to find a way to soften that blow if we are going to strip it.
________________________________
From: Robin Radic <notifications@github.com>
Sent

[2019-09-30 12:04] kiltedup opened #5032 "[forms-module] Export entries throws 'withCookie()' error"
**Describe the bug**
Using Forms Module in v3.7 ( module version 1.3 )
If you try to export entries in admin, following error is generated.

`Call to undefined method Symfony\Component\HttpFoundation\StreamedResponse::withCookie()`

Issue is in `vendor/anomaly/streams-platform/src/Http/Middleware/ProxySession.php`

**Additional context**
Issue not just impacting Forms Module - anywhere you try to

[2019-09-30 12:23] kiltedup commented on #5032
![image](https://user-images.githubusercontent.com/14813121/65878227-6cfa2880-e385-11e9-84ef-9ae6747339d0.png)

[2019-09-30 12:58] StarfallProjects commented on #5007
I also got this error on Laravel 6.0.4
Fresh project created with `laravel new`
Using the renthinkDB plugin (added with composer require "duxet/laravel-rethinkdb:dev-master")

[2019-09-30 18:37] RyanThompson opened #5033 "[system-module] Add setting for garbage collection during Refresh"
**Is your feature request related to a problem? Please describe.**
Version history builds up over time - let's keep it under control with garbage collection.

**Describe the solution you'd like**
Trim garbage past "max age" setting on `artisan refresh` or Schedule.

[2019-09-30 18:38] RyanThompson commented on #5032
I just fixed something else similar - on it. Thanks for the report!

[2019-09-30 19:08] RobinRadic commented on #4892
@edster where is this discussion taking place? is it on slack?

[2019-09-30 19:31] edster commented on #4892
Yea

--------
Regards,
Edi Mange

From: Robin Radic <notifications@github.com>
Sent: September 30, 2019 12:08 PM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: edster <edsters88@hotmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [pyrocms/pyrocms] [accelerant-theme] 4.0 Enhancements (#4892)

@edster<https://eur02.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fed

[2019-10-01 04:12] RyanThompson commented on #5032
This should do it: https://github.com/anomalylabs/streams-platform/commit/7e55cb85b4143b743260b86d99130c34914b3584

[2019-10-01 04:12] #5032 closed, assigned to nobody

[2019-10-01 04:18] RyanThompson commented on #5027
Got this taken care of - thank you! https://github.com/anomalylabs/streams-platform/commit/7e55cb85b4143b743260b86d99130c34914b3584

[2019-10-01 04:18] #5027 closed, assigned to nobody

[2019-10-03 12:34] fatihalp opened #5034 "Pyro 3.7 fresh composer install needs github token"
- Installing anomaly/geocoder-field_type (v1.2.5): Cloning 524de1d007
Cloning failed using an ssh key for authentication, enter your GitHub credentials to access private repos
Head to https://github.com/settings/tokens/new?scopes=repo&description=Composer+on+alp-lenovo+2019-10-03+1203
to retrieve a token. It will be stored in "C:/Users/alp/AppData/Roaming/Composer/auth.json" for future use by Comp

[2019-10-03 13:04] Pixney-William commented on #5034
Are you pro subscriber? If so, look in the pro documentation how to set
your token in composer.

William Åström, Pixney AB

On Thu, 3 Oct 2019, 14:34 Fatih Alp, <notifications@github.com> wrote:

[2019-10-03 13:22] fatihalp commented on #5034
Yes I'm but I don't need this field type and want to install only open source modules.

[2019-10-07 10:05] stickeegreg opened #5036 "Improve error reporting: No hint path defined for [streams]"
**Is your feature request related to a problem? Please describe.**
Deployed a working project onto a new server and had the error in the Apache log:

[code]

**Describe the solution you'd like**
The real problem was that Apache didn't have write access to the directory. PyroCMS should have logged a "permission denied writing to /var/www" error.

Googling for "No hint path defined for [streams]" do

[2019-10-10 21:14] RyanThompson commented on #5012
Welp.. I don't see any other way but then to do this and I THINK that is just fine.. Covering any erroneous entries as well that could exist: https://github.com/anomalylabs/streams-platform/commit/72ec4f13ae8bd84e27b827cbedbf7e4404147885#diff-4e632746ca6f1b960073c327959452b7L364-L374

[2019-10-10 21:14] #5012 closed, assigned to nobody

[2019-10-11 22:45] ericleversen opened #5037 "<input type="text"> character counter"
**Describe the bug**
The character counter is not working on <input type="text">
The initial "characters remaining" text is displayed but the counter is not nor does it inc/decrement.

** Fix **
`/core/anomaly/text-field_type/resources/js/input.js` does not initialize the counter.
commenting out  `let initialize = function () { }` and `load(initialize);` provides the correct behavior. See attached

[2019-10-12 18:12] TheBeems opened #5038 "[search-module] no support for exact phrase searching"
**Describe the bug**
When searching an exact phrase with double quotes, the following error occurs:

**To Reproduce**
Do a search between double quotes, e.g. "plato".

**Expected behavior**
Searching the exact phrase that is placed between double quotes as described in [the docs](https://dev.mysql.com/doc/refman/5.5/en/fulltext-natural-language.html).

[2019-10-15 09:36] stickeegreg commented on #5036
Haven't been able to reproduce this again :(

[2019-10-15 09:36] #5036 closed, assigned to nobody

[2019-10-17 02:53] TerrePorter opened #5039 "Instaillation fails on homestead"
**Describe the bug**
An error occurs when trying to install.

**To Reproduce**
Steps to reproduce the behavior:
Did the steps listed here,https://pyrocms.com/help/developer-tools/cheatsheets/installation

Result was:
[code]

Was not given the opportunity to remove the installer module as specified in the instructions.

**Expected behavior**
For it to install. haha.

**Desktop (please complete the

[2019-10-18 03:14] ZhenTaoLee opened #5040 "install error"
Hello, I have a problem here. During the installation process, I have the following error message, but the log file is not generated and I can't see the error. How can I solve this problem, thank you!

Error message：There was an error. Please check your error logs.

[2019-10-18 12:37] TerrePorter commented on #5039
Took a few minutes to try this again, have not been able to figure out why its failing as i can't find a way to make composer stop rolling back since it deletes everything.

This part of the install looks odd.

[code]
I am assuming the ebbb file didn't exist, but who knows as composer rolled back and deleted everything. I didn't find anything in the json files that would explain why it goes from e

[2019-10-18 13:24] TerrePorter commented on #5039
ok, couldn't resist the puzzle .. looks like it might be a bug with composer as I can't install any composer plugins. Made a post over there https://github.com/composer/composer/issues/8378

[2019-10-18 13:38] TerrePorter commented on #5039
Ok, this appears to be something local on my dev instance. I spun up a new one and it installed without any issues.

[2019-10-18 13:38] #5039 closed, assigned to nobody

[2019-10-21 08:56] mostadev opened #5041 "make:addon anomaly.module.videos"
When Following your tutorials to how to build modules and scaffold it with streams the command
"artisan make:addon anomaly.module.videos"
doesn't create migration file for the module like the tutorial and then i searched for many things in your documentation isn't clear and too short to discuss any thing like other products.

[2019-10-21 11:54] mmodler opened #5042 "[blocks-module] Delete doesn't cascade and leaves trash data"
**Describe the bug**

If i remove a block in admin, its data is deleted from the blocks table, but not from blocks transalations and not from block-extension tables.

If i remove a block programmatically via $blockModel->delete(),  its data is not deleted from block-extension tables.

**Expected behavior**
In both cases, all block data should be deleted from all tables.

**Additional context**
Ove

[2019-10-21 22:36] RobinRadic opened #5043 "[streams-platform] env:set messes up .env file"
**Describe the bug**
Running the `env:set` command alters the **.env** file way more then needed. It really messes it  up.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a **.env** with some newlines and comments
2. Run `php artisan env:set INSTALLED=false`
3. Check content of **.env** file

**Expected behavior**
I expect only for the word `true` to become `false` at the line which con

[2019-10-22 16:42] edster commented on #5042
How is this block created? Is this an extension or a virtual block?

[2019-10-23 12:53] mmodler commented on #5042
Adding $cascades to parent BlockModel seems to do nothing... Looks like cascading is broken for blocks as transaltions are not delteted as well...

[2019-10-23 12:55] mmodler commented on #5041
Your should use your own proejct/vendor name:
foo.module.video

Perhaps this helps:
https://github.com/pixney/pyrocms-cheatsheet#moduleextension

[2019-10-25 13:58] mmodler commented on #5042
@RyanThompson Do you have an eta for a fix so i can decide if it makes sence to write workaround code? Thanks!

[2019-11-01 12:20] azazqadir commented on #3558
Something similar is happening to me. I am not sure where to report it, so doing it here. I was able to successfully install Pyro on LEMP based stack. However, when I am trying to install and configure it on my [php web hosting](https://www.cloudways.com/en/php-cloud-hosting.php), I am getting 500 server error. I have no clue what I am doing wrong here.

[2019-11-06 12:18] stickeegreg opened #5044 "Registering bindings/singletons doesn't work as expected"
**Describe the bug**
Overriding a binding or singleton doesn't work as expected - the class specified in StreamsServiceProvider is always used

**To Reproduce**
Steps to reproduce the behavior:
1. In `config/streams.php` add the following binding
[code]
2. In your controller, `dd($this->app->getBindings()`

**Expected behavior**
The UrlGenerator binding should be set to 'TESTING' but is in fact se

[2019-11-11 23:26] JoshuaBedford opened #5045 "Restoring Deleted (Post) Types Error"
On a fresh install of Pyro CMS, I've created several post types then trashed them. When clicking 'restore' beside one of the trashed post types, an error occurs:

`Call to a member function getEntryStream() on null`

**To Reproduce**
Steps to reproduce the behavior:
1. Install fresh Pyro.
2. Create Post Type.
3. Trash Post Type.
4. Restore Post Type.

**Expected behavior**
I expected the Type in t

[2019-11-12 10:27] mmodler commented on #5042
Hm, bombing @RyanThompson with slack messages might have more effect than opening issues here? :smiling_imp:

[2019-11-12 11:59] Pixney-William commented on #5042
Mmm unforunatelu

William Åström, Pixney AB

On Tue, 12 Nov 2019, 11:27 mmodler, <notifications@github.com> wrote:

[2019-11-14 18:20] RyanThompson commented on #5045
Thank you! Good catch: https://github.com/anomalylabs/posts-module/commit/ae45ba1990ca3effd3df64c96ef2a2864be9abfd

`composer update` will bring in necessary updates.

[2019-11-14 18:20] #5045 closed, assigned to nobody

[2019-11-14 18:22] RyanThompson commented on #5044
Good call on the workaround. There is no documented timing that this could step on so I would assume bring it inline with laravel with your suggestion.

[2019-11-14 18:28] RyanThompson commented on #5044
Works perfectly - thank you!

https://github.com/anomalylabs/streams-platform/commit/4bc752b8f2853f34d24620c088f916e1e5216afa

[2019-11-14 18:28] #5044 closed, assigned to nobody

[2019-11-14 18:41] RyanThompson commented on #5043
Nasty! This has been resolved in SP 1.7: https://github.com/anomalylabs/streams-platform/commit/228a0a2ef7321d7b0748d7bc0590e06eec864a65

Thank you for the report!

[2019-11-14 18:41] #5043 closed, assigned to nobody

[2019-11-17 11:50] crowellchad commented on #4972
Doc

[2019-11-18 17:57] RyanThompson opened #5046 "[streams-core] Validate field/table names."
- [ ] Mustn't start with a number.
- [ ] Limit length to sane default. UI for suggesting shorter names.
...

[2019-11-19 09:45] mmodler commented on #5042
@RyanThompson

Any way to encourage you to take a look at this issue? Buying a :beer:, :coffee: or :doughnut: for you?

[2019-11-19 10:46] Pixney-William commented on #5042
yah, i would like this one sorted too

[2019-11-20 08:45] fatihalp commented on #4973
It still gives and error :( @RyanThompson

[2019-11-22 20:55] kiltedup opened #5047 "EnvSet update causes Install Error during migrations"
Following error occurs during fresh install.

[code]

Issue appears to be introduced by commit :

https://github.com/anomalylabs/streams-platform/commit/228a0a2ef7321d7b0748d7bc0590e06eec864a65

Pull that commit and the installer completes as expected.

[2019-11-22 21:13] RyanThompson commented on #5047
What is the content of the .env file at this point?

[2019-11-22 22:45] kiltedup commented on #5047
sorry - didn't check the contents of the .env file but it was as per the installation docs prior to running install --ready

[2019-11-22 23:17] RyanThompson commented on #5047
Can you share what values you had in your .env file?

I ran `composer create-project pyrocms/pyrocms` and then `php artisan install` and let the system handle it, and it worked. I suspect maybe something in the `.env` wasn't agreeable.

[2019-11-23 12:25] kiltedup commented on #5047
OK - tried again with `php artisan install` and it worked.

What I had been doing (and always) was using `php artisan install --ready` with the .env from the documentation ( [https://pyrocms.com/documentation/pyrocms/3.7/getting-started/installation](url) ) - edited of course. This was fine till recently as I had done a couple if installs recently this way.

Looks like the issue was `INSTALLED=fal

[2019-11-25 07:26] babaali19 opened #5048 "Manual installation"
Is there an address where I can directly access the files?
Just how do i setup via ftp?
Finally. Is there any Turkish language support?

[2019-11-26 08:29] stickeegreg commented on #5036
Seems like the real error is logged as well, but this is logged afterwards

[2019-11-26 17:34] edster commented on #5048
There is Turkish support in the streams platform, please PR any changes needed to modules that have issues.

You need to run composer to pull in all the assets and do a configuration, this can be done in your dev environment and FTP'ed into production.

[2019-11-26 17:34] #5048 closed, assigned to nobody

[2019-11-26 17:36] edster commented on #5047
Fixed: e0133c47dcc5b179e32a1eb755d5782563cf3fea, thanks for that.

[2019-11-26 17:36] #5047 closed, assigned to nobody

[2019-11-26 17:39] edster commented on #5041
That is an old video, migrations are created with the `make:stream` cmd after you have created a module

[2019-11-26 17:39] #5041 closed, assigned to nobody

[2019-11-26 17:40] #5040 closed, assigned to nobody

[2019-11-26 17:44] edster commented on #5037
I would assume this is a race condition with the custom view your using. The stock views seem to work fine.

[2019-11-26 17:44] #5037 closed, assigned to nobody

[2019-11-26 17:45] edster commented on #5034
Then simply remove it from the composer.json.

[2019-11-26 17:45] #5034 closed, assigned to nobody

[2019-11-26 17:46] edster commented on #5030
Need more information to asssit.

[2019-11-26 17:46] #5030 closed, assigned to nobody

[2019-11-28 23:37] Pixney-William opened #5049 "Date field type doesn't work with repeaters and validation fails"
**Describe the bug**
If you place a date field type within a repeater and set it to be text and not datepicker. It only instantiate on the first repeater, not the others. So it's a javascript thing there.

Then see images on how i set my dates. Please let me know if there are other ways to set the timezone than these and ill try. But basically if i use the datepicker, and have the values set accor

[2019-11-28 23:49] Pixney-William commented on #5049
Ive also set it hard in the .env file :
![image](https://user-images.githubusercontent.com/31292231/69835433-f4f39600-1241-11ea-9c21-22441cbfeac7.png)

Cant get this to work. Do you have the time to look at this?

[2019-11-28 23:57] Pixney-William commented on #5049
Doesn't matter if i choose date or date/time either..

![image](https://user-images.githubusercontent.com/31292231/69835620-43556480-1243-11ea-9fb1-014cf7b57ba7.png)

[2019-11-28 23:59] Pixney-William commented on #5049
Choosing only TIME works fine..

![image](https://user-images.githubusercontent.com/31292231/69835655-857ea600-1243-11ea-9490-f42f33183ceb.png)

[2019-11-29 00:31] Pixney-William commented on #5049
$this->configuration->get('streams::datetime.date_format'); =

![image](https://user-images.githubusercontent.com/31292231/69836268-e314f180-1247-11ea-9f6b-9836d0a430f7.png)

[2019-11-29 00:36] Pixney-William commented on #5049
It works perfectly fine if i create a date field , attach it to a page time and then saves it 👍

![image](https://user-images.githubusercontent.com/31292231/69836379-a4cc0200-1248-11ea-94ee-77ae4ca3c548.png)

[2019-11-29 00:36] Pixney-William commented on #5049
So can this have anything to do with it being inside a repeater?

[2019-11-29 00:41] Pixney-William commented on #5049
Confirmed,, if i place a datetime field type in a repeater and attach it to a page it fails validation. But the other datetimefield above validates fine..

![image](https://user-images.githubusercontent.com/31292231/69836484-55d29c80-1249-11ea-904b-11e8a138c49f.png)

[2019-12-03 00:29] longmajs opened #5050 "Pyro PRO subscribe error?"
Two days ago, I purchased the pro service at pyrocms.com, Unlimited licensing. After payment, there is a page prompting me to submit a Github handle. How does pyrocms pro purchase succeed?

[2019-12-03 03:31] RyanThompson commented on #5050
I've contacted you via email @thimper - so sorry for the delay and inconvenience!

[2019-12-03 03:31] #5050 closed, assigned to nobody

[2019-12-03 03:33] RyanThompson commented on #5050
Also you're now active. You can auth your server(s) and start using PRO addons now: https://pyrocms.com/documentation/pyrocms/3.7/getting-started/managing-addons

[2019-12-03 11:10] longmajs commented on #5050
Thank you for your reply. Best wishes

[2019-12-03 16:23] longmajs opened #5051 "php artisan down --message='xxx'，message does not show."
**Describe the bug**
run:
`php artisan down --message="XXXX"`

No custom information is displayed;

streams/views/error/error.twig:
![image](https://user-images.githubusercontent.com/3387095/70069093-2ac2c100-162c-11ea-8aaa-70ad847a1f3d.png)

message is lang/err.php content;

![image](https://user-images.githubusercontent.com/3387095/70069158-48902600-162c-11ea-8ca8-a68294299b4b.png)

![image](htt

[2019-12-03 17:14] longmajs commented on #5051
I know what you mean, you deliberately left out this definition and expressed it by defining 503 localization

[2019-12-09 15:08] mmodler commented on #5042
News on this?

[2019-12-22 08:40] dakshhmehta commented on #4720
Hi, sorry not been much active as PyroCMS project was completed. I'll check it next week and update you. Starting new project again.

[2019-12-27 13:46] schmidex opened #5052 "[users-module] Language Fallback for roles doesn't work"
Pyro 3.7

Steps to reproduce:
Change the CP language to anything else than English and visit the roles-table at `admin/users/roles`.
-> `admin`,`guest` and `user` are gone.
Same happens when trying to attach roles to a user. If the CP ist that to anything else than english you can't attach admin,user or guest role because they're missing in the dropdown.

Update:
Seems like you can't even edit a u

[2019-12-31 19:52] ericleversen opened #5053 "Creating page with 'nn' as slug gives 404 in site"
**Describe the bug**
A Page with slug=`nn` will cause a 404 error when trying to access from the site

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Admin
2. Create a page
3. Use NN for name, thus giving it nn for slug
4. Save
5. Go to site and hit the page's link.
6. See 404 error

**Expected behavior**
The page shows be rendered properly.

**Screenshots**
Attached shots of Create

[2020-01-03 17:52] ericleversen opened #5054 "Character counter not working; JS code at fault"
**Describe the bug**
The character counter does not work

**To Reproduce**
-Go to a field with character counter.
-The count is blank but the words are there. See attached
![Screen Shot 2020-01-03 at 11 48 41 AM](https://user-images.githubusercontent.com/1933891/71739427-0589c400-2e1f-11ea-8d45-23d6e5021109.png)
-Type in field and the counter remains blank

**Expected behavior**
Characters are cou

[2020-01-06 11:35] Pixney-William opened #5055 "[Tag Field-Type] Causing Error saving a post (getConfig() on null)"
On posts ~2.6.0 and streams-platform 1.7, "anomaly/tags-field_type": "~2.4.0", , trying to save a post i get a complaint like this. No matter if i enter or don't enter a tag.

So right now it seems like posts is not functioning at all. Anyone who can verify this?

![bild](https://user-images.githubusercontent.com/31292231/71815606-4f251980-3080-11ea-9fa6-3db1c7a2bc8d.png)

[2020-01-06 11:46] Pixney-William commented on #5055
Obv works with a conditional there for !field , but not sure that is the correct solution for this @RyanThompson

[2020-01-06 11:57] Pixney-William commented on #5055
Does it have anything to do with:
https://github.com/anomalylabs/upload-field_type/commit/5e92ee69da13ec07138eceeb94ef5af02439f530

@RyanThompson

[2020-01-08 07:12] mmodler commented on #5042
One month later...

[2020-01-09 05:20] RyanThompson commented on #4973
This has been resolved:

https://github.com/anomalylabs/streams-platform/commit/21daf3817257fa79628f9a8fea0f8d0e450ad330 Fixed in 1.6+

https://github.com/anomalylabs/users-module/commit/d183bb459fc00e133b1535a16b49bf67086799d3

https://github.com/anomalylabs/navigation-module/commit/5855f854bf9b92fc311b83e9fcc99ffc7dd9d113

[2020-01-09 05:20] #4973 closed, assigned to nobody

[2020-01-09 05:28] RyanThompson commented on #5055
https://github.com/anomalylabs/tags-field_type/commit/0c0474ca97565e16d6bf422ece88a872c771177f

[2020-01-09 05:28] #5055 closed, assigned to nobody

[2020-01-09 05:43] RyanThompson commented on #5054
https://github.com/anomalylabs/text-field_type/commit/cd41becc5f7fb43fb1f717570044c7eab427c498

[2020-01-09 05:44] #5054 closed, assigned to nobody

[2020-01-09 05:44] RyanThompson commented on #5054
Thank you for the report :-)

[2020-01-09 05:48] RyanThompson commented on #5053
Lol how did you come across this? Turns out `nn` and `aa` (my test) are both qualified locale abbreviations. We should validate against those but they are not supported because of URI / path hinting for locales.

[2020-01-09 05:48] #5053 closed, assigned to nobody

[2020-01-09 11:29] protectedfor opened #5056 "Can't properly use jQuery: Uncaught ReferenceError: $ is not defined"
**Describe the bug**
I'm trying to use jQuery in my project.
Getting error:
`Uncaught ReferenceError: $ is not defined`

**To Reproduce**
Steps to reproduce the behavior:
1. In theme's `webpack.min.js` add `jquery` and `initialize.js`
2. Try to use `$` in `initialize.js` file
3. Reload page
4. See error

**Expected behavior**
Proper work of jquery

**Additional context**
Here is my `webpack.min.js

[2020-01-09 11:46] protectedfor commented on #5056
Hm......seems I've got tired.....it's a really stupid issue from me.

I have fixed it.

I've just replaces method `.js` to `.copy` in my `webpack.min.js` :)

Sorry.

[2020-01-09 15:08] ericleversen commented on #5053
Don't ya just love weird edge cases like this?

I was doing a quick test of a new install and I entered N for the first one.
Then entered NN for the second one and voila.

Thx for the fix.

[2020-01-10 13:52] Pixney-William commented on #5056
Then ill close it :)

[2020-01-10 13:52] #5056 closed, assigned to nobody

[2020-01-21 20:32] RyanThompson commented on #5042
https://github.com/anomalylabs/blocks-module/commit/0d6dde510683615cb417156fc504700679dc8a4c

[2020-01-21 20:32] #5042 closed, assigned to RyanThompson

[2020-01-21 22:50] RyanThompson commented on #5038
I tend to agree - but this is going to be related to this scout driver specifically instead of the search system as a whole. Reason being is because scout is the underlying system and whatever we support needs to either occur above scout or be supported by scout.

In the meanwhile - I've added literal searching so `plato` will check for literal (boolean) matches but it's all returned at once right

[2020-01-21 22:53] RyanThompson commented on #5052
This has been resolved. But the roles will need to be re-saved so data for the fallback exists. This stems from an installation issue where everything was seeded in `en` regardless of configuration.

[2020-01-21 22:53] #5052 closed, assigned to nobody

[2020-01-21 23:09] RyanThompson commented on #5051
It should display more information though.. fixed: https://github.com/anomalylabs/streams-platform/commit/ca8955ec64151d662dcaf84c26363b3cac87a858

[2020-01-21 23:09] #5051 closed, assigned to nobody

[2020-01-21 23:10] #5033 closed, assigned to nobody

[2020-01-21 23:16] RyanThompson commented on #5049
This was fixed in core - prefixes were not passing into child forms properly

[2020-01-21 23:17] #5049 closed, assigned to nobody

[2020-01-22 06:42] mmodler commented on #5042
Thank you very very much!

[2020-01-23 10:14] Pixney-William opened #5057 "Sitemap and httpcache problems when posts does not exist."
Delete all posts on the site. Turn httpcache on. Run httpcache:warm

You will get this error:

![image](https://user-images.githubusercontent.com/31292231/72975271-cd97f000-3dd0-11ea-82f0-fdf6022d4737.png)

Visiting that url you see that the `$repository` is null in the sitemapcontroller line 65
![image](https://user-images.githubusercontent.com/31292231/72975346-f15b3600-3dd0-11ea-8365-aceb1eec4c

[2020-01-27 13:30] fatihalp opened #5058 "Post edit error if you changed system language in 3.7"
1- Install fresh pyrocms 3.7 in English
2- Change system language to Turkish and activate only that language.
3- Use admin panel language in English.
4- When you edit post it will give this error:

![image](https://user-images.githubusercontent.com/219454/73177819-06153200-4121-11ea-9f61-6ab31f34f39b.png)

[code]

[2020-01-28 07:54] szabogtamas opened #5059 "Ion_auth =& sign with php 7.2"
**Cannot use result of built-in function in write context error**
Pyro CMS won't start because of a fatal error caused by line 704 of Ion_auth.php

**To Reproduce**
Install Pyro CMS on a remote server running php 7.2 (I did it with the autoinstall function of hostinger)

**Expected behavior**
Just go on to the homepage

**Temporary fix**
Changing =& to = solves the issue for now.

[2020-01-30 04:47] longmajs opened #5060 "[sites-module] install error"
run command:
php artisan install --app=xxx --ready
When a pycms subsite is created, it does not find its own environment configuration of.env, but USES the.env in the root directory
env (" installed ")==true
Tables such as xxx_addons_addon do not exist, causing the installation to fail.

[2020-01-30 04:47] longmajs commented on #5060
In Connection.php line 664:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pyrocms.lingshuo_addons_modules' doesn't exist (SQL: select * from `lingshuo_addons_modules` where `installed` = 1 and `enabled` = 1)

In PDOConnection.php line 63:

  SQLSTATE[42S02]: Base table or view not found: 1146 Table 'pyrocms.lingshuo_addons_modules' doesn't exist

In PDOConnection.php line 61:

  SQ

[2020-01-30 07:05] longmajs commented on #5060
I see sites-module have some command class (LoadSiteInstallers...)
But not run when run php artisan install.

Do I have register LoadSiteInstallers in Anomaly\Streams\Platform\Installer\Console\Install.php;
Like this:

$this->dispatchNow(new ReloadEnvironmentFile());
$this->dispatchNow(new LoadEnvironmentOverrides());
$this->dispatchNow(new InitializeApplication());

$this->dispatchNow(new Configu

[2020-01-30 17:25] edster opened #5061 "[Multiple field types] Stop using Cache for config keys and change to crypt."
**Describe the bug**
Cache for config keys in `field_types` keeps breaking due to expirations.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a ft using cached config keys
2. Leave the page open for a short period of time
3. Can no longer use the AJAX as the config cache busts.
4. See error

**Expected behavior**
Config is always available.

**Additional context**
Multiple FT: https://

[2020-01-30 19:03] edster commented on #5061
Added Files FT

[2020-01-30 19:15] edster commented on #5061
Added File FT

[2020-01-30 20:59] edster commented on #5061
Added image FT

[2020-01-31 04:50] RyanThompson commented on #5061
Killed it! Many many thanks 💯

[2020-01-31 04:50] #5061 closed, assigned to edster, RyanThompson

[2020-02-03 08:00] fatihalp commented on #5058
we tested it fixed with https://github.com/anomalylabs/streams-platform/pull/690

@RyanThompson

[2020-02-05 08:45] Pixney-William opened #5062 "[textarea_fieldType] - Default value not populating textarea"
Steps to rep:
1) Create a migration for a page where you want to add a textarea to it.
2) Enter a default value for the textarea
3) Migrate and go checkout the page. Default value not filled. But if you look under fields, the value is there as default.

I will fill it out more..

[2020-02-06 16:15] chrisjk123 opened #5063 "Pyrocms upgrade from 3.5 to 3.7"
As I was going through the [docs](https://pyrocms.com/documentation/pyrocms/3.7/prologue/upgrade-guide), to update my composer dependencies I was missing one being: [anomaly/streams-platform](https://github.com/pyrocms/pyrocms/blob/3.7/composer.json#L26).

Unfortunately, it appears I can't include this and the repo's `twig` views rely on it. Had left my mac on all night and it was still stuck on t

[2020-02-07 19:31] edster commented on #5063
This can happen with big jump in versions.

Delete the anomaly folder in vendor directory and composer update.

[2020-02-07 19:31] #5063 closed, assigned to nobody

[2020-02-29 07:37] fatihalp opened #5064 "All links are broken after private_storage_adapter 1.0.2 update"
We use like this and our image links are broken:

`file(setting_value('.....logo_web')).url `

I think this commit broke:

https://github.com/anomalylabs/private_storage_adapter-extension/commit/a89f62b479fbaf17bc7fc11813bc6919513c5d5c

[2020-03-02 17:26] RyanThompson commented on #5064
Fixed! And bumped minor versions for that root correction.

[2020-03-02 17:26] #5064 closed, assigned to nobody

[2020-03-16 19:08] RyanThompson commented on #5059
We're not supporting v2 anymore :-/

That said I am glad it was a simple fix!

[2020-03-16 19:08] #5059 closed, assigned to nobody

[2020-03-16 19:10] RyanThompson commented on #5058
@fatihalp has this been resolved? I know we had a number of off-thread chats about it in Slack. Just want to make sure you're good before closing. IIRC we fixed the bug and corrected your data that was corrupted from it prior.

[2020-03-18 06:38] fatihalp commented on #5058
We needed to fork stream platform add whereOR to make it work with all conditions @RyanThompson

[2020-03-18 08:42] agussaminteractive opened #5065 "Files Module Upload Images With White Space Character Can Not Preview Uploaded Image."
I was try to upload an image file with containing white space character will make preview image not working. It's say image source is not readable. I think it was because make image function is not working properly.

![white space](https://user-images.githubusercontent.com/53432255/76941604-ef27da80-692e-11ea-80cf-41785912bc62.png)

Steps to reproduce the behavior:
1. Go to File Module In Backend

[2020-03-18 08:43] andriamasy commented on #4410
The problem with this sitemap extension is that if any html tags in the base are in xhtml format instead of xml format, if that person is caught then just do it:

[2020-03-24 07:18] agussaminteractive commented on #5065
Now is fixed by updating the composer.json :
from
`"anomaly/private_storage_adapter-extension": "~1.0.0",`
to
`"anomaly/private_storage_adapter-extension": "~1.1.0",`

Thank you

[2020-03-24 09:52] #5065 closed, assigned to nobody

[2020-04-04 03:28] #5060 closed, assigned to nobody

[2020-04-05 01:32] BubeCPH opened #5066 "Ui\Table uses translationID for rows"
**Describe the bug**
In multi-language setup the rows in a custom module uses the translationID as rowID making the buttons point to not existing or worse wrong entries.

It happens to some modules, but not all.
In the same project I have created another module, that doesn't suffer this problem.
It do look like that modules created after other languages than EN is enabled suffers this problem.

**

[2020-04-05 02:13] BubeCPH commented on #5066
Just did a new test.

1. Removed all other languages except EN
2. Reinstalled the module.
3. Created 2 new entries, all good
4. Added another language
5. Created a third entry, still good
6. Created another, now the ID don't match anymore

[2020-04-14 09:32] lauraevoluted opened #5067 "Page types and files field sort order"
**Describe the bug**
When a page type has a [files field](https://pyrocms.com/documentation/files-field-type/2.2) it creates a table (prefix_pages_pagetype_field_name) to store each linked entry, with a sort column.

When displaying the files on the frontend, the order is correct. The files are not shown in the correct order in the admin.

**To Reproduce**
Steps to reproduce the behaviour:
1. Crea

[2020-04-21 18:43] crydotsnake opened #5068 "[PyroCMS Website] Slack link on the Website not working"
Hello, i just would like to let you know that the slack invite link dont work anymore.

[2020-04-26 22:20] mallardduck opened #5069 "[Posts Module] Cannot adjust base URL in permalink"
**Is your feature request related to a problem? Please describe.**
I'd love to be able to have more robust configuration control over the posts module's Permalinks. The date format can be controlled - however it'd be even cooler if we could control the URL/Permalink structure of the 'root area' for Posts as well ad categories and tags.
(Think similar to WP's settings for posts - what exists is rea

[2020-04-26 22:26] mallardduck commented on #5069
First pass at addressing this here - https://github.com/anomalylabs/posts-module/pull/54

Initially I tried to implement with Settings Module but am not familiar enough with Pyro's execution path/order to understand how to make that work out. Either way this PR would allow simple access to adjusting the posts permalinks and could be expanded on later.

Hope this helps as it'd be a great feature to

[2020-05-26 08:34] mmodler opened #5070 "Composer v2.0"
Platform 1.7

There are some issues with psd-0 autoloading which will cause troube with composer 2.0:

Deprecation Notice: Class Anomaly\Streams\Platform\Ui\Form\Command\GetTableCriteria located in /vendor/anomaly/streams-platform/src\Ui\Table\Command\GetTableCriteria.php does not comply with psr-4 autoloading standard. It will not autoload anymore in Composer v2.0. in phar:///composer.phar/src/Co

[2020-05-28 22:55] lprocx opened #5071 "[Install] Call to a member function getId() of null"
Hi all,

I'm trying to run pyrocms on Ubunto 18.04 with nginx. I found a page that helped me with it [(](https://websiteforstudents.com/setup-pyrocms-on-ubuntu-16-04-17-10-18-04-with-nginx-mariadb-and-php-7-1-support/) and I got far enough that I have the installer on screen.

After filling in all required information i start the installation, but it get's an 500 error with the following logging:

[2020-06-23 21:08] RyanThompson opened #5072 "[upload-field_type] Items are moved into Files before validation confirms they're allowed."
**Describe the bug**
When submitting a form with an upload field type and locked down "allowed types", the file is moved into the filesystem AND THEN the validation fails. This needs to either garbage collect or even better - not process until after validation.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a front-end form with the upload field type
2. Specify allowed types.
3. Subm

[2020-07-07 08:25] fryiee commented on #5070
@mmodler @RyanThompson fixed (finally) in 1.7.33 and 1.6.192

[2020-07-07 08:27] fryiee commented on #5057
@Pixney-William fixed in sitemap-extension v2.2.14. Was happening irrespective of HTTP cache, just whenever the sitemap would generate at the index with a repository that was empty.

[2020-07-07 08:31] fryiee opened #5073 "[streams-platform] Running phpunit breaks commented env lines and doesn't clean up after itself."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Run PHPUnit on a project that has more than one commented env line, e.g.
[code]
2 See the following
[code]
3. In addition, the test env variable `DUMMY_TEST` is present.

**Expected behavior**
PHPUnit tests clean up after themselves in setUp/tearDown, and don't mess with e

[2020-07-07 08:32] fryiee commented on #5058
@RyanThompson and @fatihalp - is this still an issue?

[2020-07-07 08:34] fryiee commented on #5031
@RyanThompson @RobinRadic I'm going to take a run at this if it's agreeable?

[2020-07-07 08:35] fryiee commented on #5046
@RyanThompson are we validating this in migrations as well as in UI builders?

[2020-07-07 08:36] fryiee commented on #5028
@stickeegreg re-approving that this is a genuine bug and we are looking at it.

[2020-07-07 10:04] fryiee commented on #5016
@Pixney-William digging this up - is this what you're talking about?

- https://pyrocms.com/documentation/streams-platform/1.7/ui/forms
- https://pyrocms.com/help/developer-tools/form-builders/defining-custom-ajax-forms-in-twig

[2020-07-07 12:40] fatihalp commented on #5058
beacuase of this problem we're always installing pyro in English. Didn't check lately.

[2020-07-23 14:56] spartokos99 commented on #5071
I have the same issue on Xampp (Windows) with php 7.4.

I fixed the folder permissions and installed all extensions. Still doesn't work.
Help pls

[2020-08-05 17:32] JorodriguezNA opened #5074 "Sitemap extension is issuing a 500 error"
Viewing the sitemap at /sitemap.xml gives a 500 error:

"Cannot use object of type Closure as array"

At line 59:

`if (isset($configuration['repository'])) {`

You can replicate by going to https://pyrocms.com/sitemap.xml

Or just viewing the sitemap yourself on your site if you have the most stable version installed.

[2020-09-06 11:57] tobiit commented on #5071
I have the same issue on Ubuntu 18.04 and Ubuntu 20.04 - all folder permissions are set. Still doesn't work.
Help pls.

[2020-09-12 17:55] RyanThompson commented on #5074
Weird! Quick patch: https://github.com/anomalylabs/sitemap-extension/commit/f4d0dbc76bb3b7401749e4ff8f3a1bbf95dd0aff

Thanks for the heads up!

[2020-09-12 17:55] #5074 closed, assigned to nobody

[2020-09-12 18:03] #5070 closed, assigned to nobody

[2020-09-16 10:18] stickeegreg commented on #4595
In case anyone else has this problem, try this (from [here](https://pyrocms.com/forum/channels/streams-platform/error-when-migrating-to-production-class-anomalystreamsplatformmodelusersusersrolesentrymodel-not-found) and [here](https://pyrocms.com/forum/channels/everything/class-anomalystreamsplatformmodelusersusersrolesentrymodel-not-found)):

1. Edit your .env to set `INSTALLED=false`
2. Run `ph

[2020-09-16 17:12] ShuKTan opened #5076 "Error installing pyrocms"
getting error while installing (xampp & Windwos)

php artisan install command gives out below error.

In MigrateCommand.php line 58:

  Too few arguments to function Illuminate\Database\Console\Migrations\MigrateCommand::__construct(), 1 passed in C:\xampp\htdocs\pyro\vendor\anomaly\streams-platform\src\Database\Migration\MigrationServiceProvider.php on line 88 and exactly 2 expected

[2020-09-22 14:38] kiltedup opened #5077 "Error trying to add a new Field in v3.8 - Pages and Posts Module"
Error is thrown in 3.8 when trying to add a new field in Posts and Pages module (possibly others - not tested)

After choosing the required field type, following error is displayed:

`"Missing required parameters for [Route: anomaly.module.pages::fields.change] [URI: admin/pages/fields/change/{id}]."`

[code]

Issue does not occur when editing an existing field.

Problem seems to originate from :

[2020-09-22 16:28] kiltedup opened #5078 "v3.8 Blocks Field Type SCSS not output as CSS in browser"
When using blocks field type in v3.8, the forms have no styling as the blocks.scss is being output as scss in asset styles and not as css.

See below for page source snippet of styles being output in 3.7 vs 3.8

**3.7**

[code]

**3.8**

[code]

[2020-09-22 16:50] edster commented on #5078
Pyro 3.8 has removed the scss parser.

[2020-09-22 16:50] #5078 closed, assigned to nobody

[2020-09-23 10:28] vajihemrp opened #5079 "[Blocks Module] Error on create a page with faqs block"
Hi all,
After installing faqs_block extension when  I want to create a new default page. This error is appeared:

Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Method Anomaly\BlocksModule\Block\BlockCollection::__toString() must not throw an exception, caught ErrorException: Unexpected token "operator" of value ">".

Symfony\Component\Debug\Exception\FatalErrorException

[2020-10-01 15:48] aidanwatt opened #5081 "[files-module] [pyrocms 3.8]Force delete folder error"
**Describe the bug**

When force deleting a folder from trash an error is thrown and the operation doesn't fully complete.

`League \ Flysystem \ FileNotFoundException
File not found at path: folder_name`

**To Reproduce**
1. Create a new folder
2. Delete the folder
3. Goto trash and force delete folder
4. See error

**Expected behavior**
No error thrown, operation completes

**Additional context*

[2020-10-04 17:59] alancolant commented on #5076
Same error here

[2020-10-08 15:45] s-mcdonald opened #5083 "Error when adding a field to a stream - Fresh install of 3.8"
Whenever I attempt to create a field (regardless of module). I am presented with an error (see screenshot below).

## Note:
Im not sure if its related (probably), however when I go to /admin/addons -> search for any addon, no results display

## Environment
- Win 10
- With WSL Ubuntu 20.04
- Apache2
- php.7.3

## Steps
I created a folder in /var/www/cnthrivehub/sandbox

and installed pyro using th

[2020-10-08 15:50] s-mcdonald commented on #5083
This is the error log

[laravel-2020-10-08.log](https://github.com/pyrocms/pyrocms/files/5349117/laravel-2020-10-08.log)

[2020-10-09 12:34] #5083 closed, assigned to nobody

[2020-10-09 12:34] s-mcdonald commented on #5083
Duplicate of #5077

[2020-10-14 20:41] RyanThompson commented on #5079
How exactly are you getting this? I doubt this is the block itself. Perhaps something in the template or theme?

I have a local v3.7/v3.8 and faqs_block-extension works as intended out of the box.

Can you see what you can dig up?

[2020-10-14 20:47] RyanThompson commented on #5077
This has been resolved: https://github.com/anomalylabs/streams-module/commit/852bc484a778820ce1fcfe7ebbe3073557ff7cf2

[2020-10-14 20:47] #5077 closed, assigned to nobody

[2020-10-14 20:57] RyanThompson commented on #5076
This issue was resolved: https://github.com/laravel-streams/streams-core/commit/9e3e35c5a3ecbd078a6baf214510979c8ce2cc68#diff-ae0c55256b98cb19b118cfb9e70de6396933e1aaed29153f8115ec7a9b8b6302

[2020-10-14 20:57] #5076 closed, assigned to nobody

[2020-10-14 21:08] RyanThompson commented on #5073
Skipping for now: https://github.com/laravel-streams/streams-core/commit/8b2bc765b74358fadb2b2ee25ebf6f1b5942b4f4

[2020-10-14 21:08] #5073 closed, assigned to nobody

[2020-10-14 21:12] RyanThompson commented on #5071
PHP 7.4 was not supported with `anomaly/streams-platform@1.7` but 1.8 which is included in PyroCMS v3.8 does support it: https://pyrocms.com/posts/pyrocms-v3-8

I believe that was the cause of this issue. Please reopen if the issue persists on `anomaly/streams-platform@1.8`, but it appears to be resolved.

[2020-10-14 21:12] #5071 closed, assigned to nobody

[2020-10-14 21:53] RyanThompson commented on #5081
This has been resolved: https://github.com/anomalylabs/files-module/commit/a31e5c62d70e24e7ad3437cc8d8bc34ac83e1485

Thanks for the report!

[2020-10-14 21:53] #5081 closed, assigned to nobody

[2020-10-14 21:56] RyanThompson commented on #5069
Thank you for the PR!

[2020-10-14 21:56] #5069 closed, assigned to nobody

[2020-10-14 22:00] RyanThompson commented on #5068
We have since moved the community to Discord for Laravel Streams: https://discord.gg/Sh79MvV

[2020-10-14 22:00] #5068 closed, assigned to nobody

[2020-10-14 22:09] RyanThompson commented on #5067
This may have been resolved with https://github.com/anomalylabs/files-field_type/commit/6de3762895c2e421eb3700344e09dd548ed88d41 and https://github.com/anomalylabs/files-field_type/commit/3207995ff2e5a19b2748318bbd4d632c800e990e.

Please reopen if this issue persists. My apologies for not following up.

[2020-10-14 22:09] #5067 closed, assigned to nobody

[2020-10-14 22:10] #5038 closed, assigned to nobody

[2020-10-14 22:10] #5046 closed, assigned to nobody

[2020-10-14 22:17] RyanThompson commented on #5062
Resolved at some point. but tested and works (field_type.config.default_value). Share migration maybe.

[2020-10-14 22:17] #5062 closed, assigned to nobody

[2020-10-17 20:48] fatihalp commented on #4398
It would be nice @Piterden 👍

[2020-10-26 09:38] mmodler commented on #5070
Now with composer 2:

The "anomaly/streams-composer-plugin" plugin was skipped because it requires a Plugin API version ("^1.0") that does not match your Composer installation ("2.0.0"). You may need to run composer update with the "--no-plugins" option.

[2020-10-29 19:26] Piterden commented on #4398
@fatihalp Check out my unfinished extension for export https://gitlab.com/pyro-plus/exporter-extension

[2020-11-05 06:11] fryiee commented on #5031
@RobinRadic this was implemented in 1.7/1.8 (tagged at 0d20ad3af8780731e6fca6cd205662bb30b37cdb and 050d017d6c3e252a84862eccf8b7cc5545679b31)

[2020-11-05 06:11] #5031 closed, assigned to nobody

[2020-11-05 06:29] s-mcdonald opened #5085 "Users Module - User with lessor permissions cant reset PW (PyroCMS 3.8)"
I have a user in the system with CP access and access to manage users.

The permissions on this user are defined in a role and are shown in the below screenshot.
![image](https://user-images.githubusercontent.com/1879824/98205075-28c35980-1f83-11eb-9d46-f33f5626458d.png)

As that user, I navigated to admin/users and went to reset PW. I was prompted with the following error. Note that Changing the

[2020-11-21 05:39] RyanThompson commented on #5085
Arg, this is not Pyro - it looks like that is a mailer response. This works as expected best I can tell. You can't reset admin passwords but a nice message is flashed.

[2020-11-21 05:39] #5085 closed, assigned to nobody

[2020-11-30 08:15] stockhausen commented on #4944
Helllo, Same probleme here @RyanThompson

[2020-11-30 21:31] BubeCPH opened #5086 "[Blocks Module] Missing style and functions from Block field type"
**Describe the bug**
Block field type doesn't load the style and script correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Run composer create-project pyrocms/pyrocms pyro38-test
2. Complete install
3. Don't install any custom themes, modules or extensions
4. Login to CP
5. Navigate to Pages Module
6. Add new field type "Blocks"
7. Assign the newly created field to Page type "Default"

[2020-12-02 11:26] moroccan-webdev opened #5087 "Uprade an older version of the package that was developed mainly on top of CodeIgniter"
Hello @RyanThompson I have a project built developed from the early versions which was built on the top of CodeIgniter and I would like to Upgrade the whole project to the latest version which is built on the top of the framework Laravel.

Please If there is any kind of information that that can help me out fix some bugs and build newer functionalities, It would be very helpful.

Thanks in advance

[2020-12-05 23:04] RyanThompson commented on #5086
Thank you! Fixed: https://github.com/anomalylabs/blocks-module/commit/0054229faf29f4128d604a4c909cbcab3a79516b

[2020-12-05 23:04] #5086 closed, assigned to nobody

[2020-12-07 04:27] RyanThompson commented on #5087
Hello! It really depends on the details of the project. Please feel free to DM me on Discord: https://discord.gg/RjywDG2 @RyanThePyro

[2020-12-17 09:21] BubeCPH opened #5091 "[Addon Module] Can't view addons - Missing required parameters for route"
**Describe the bug**
It isn't possible to access an addon in "Addons Module / Addons".
Pyro is throwing the ErrorException _An exception has been thrown during the rendering of a template ("Missing required parameters for [Route: anomaly.module.addons::composer.download] [URI: admin/addons/download/{addon}].")._

**To Reproduce**
Steps to reproduce the behavior:
1. Create a fresh PyroCMS 3.8 proje

[2020-12-17 16:36] RyanThompson commented on #5091
Fixed: https://github.com/anomalylabs/addons-module/commit/662ca66fdf7921072719260c5da8776185140150

Thank you for the report!

[2020-12-17 16:36] #5091 closed, assigned to nobody

[2020-12-18 06:53] fatihalp commented on #5004
Apple products still not supporting webp :(

[2020-12-18 16:13] fatihalp opened #5092 "Maintenance Mode gives an error"
![image](https://user-images.githubusercontent.com/219454/102635964-18e38b80-4165-11eb-96eb-63b27973c602.png)

[2021-01-10 22:50] fatihalp opened #5093 "HTTP Cache is not working with 3.8"
**Describe the bug**

Whatever I tried I couldn't make it work. At last tried to change index.php CacheKernel to Barryvdh\HttpCache it's working right now.  Am I missing something?

![image](https://user-images.githubusercontent.com/219454/104137553-bcb00800-53ae-11eb-8971-89c826a5200c.png)

[2021-01-10 22:59] fatihalp commented on #5093
I see why now: when you logged in admin panel you have cookie set.

[code]

pyro so clever that understand  that you're admin :)

[2021-01-10 22:59] #5093 closed, assigned to nobody

[2021-02-03 08:36] spektra2147 opened #5094 "3.8 first installation error (before create .env)"
With php artisan install the first installation gets an error. I think it is because it cannot find the .env file.

Installing with php artisan install --ready.

![Ekran Resmi 2021-02-03 11 32 56](https://user-images.githubusercontent.com/39536659/106719970-f70a6f00-6613-11eb-8c67-7c4a544cd0eb.png)

[2021-02-18 12:23] aidanwatt opened #5095 "[streams-platform] Error when installing multi site"
**Bug Description**
Pyro throws error when trying to install a new site with a multi site setup.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install sites modules
2. Setup new site in dashboard
3. Run command php artisan install --app={app_name} --ready
4. See error

**Expected behaviour**
New site installed.

**Screenshots**
![image](https://user-images.githubusercontent.com/3669142/10

[2021-02-21 14:33] aidanwatt opened #5096 "[streams-platform][s3-adapter] Images not built when spaces in file name"
**Bug Description**
When using the s3 adapter extension if you upload an image with spaces in the file name, imaging building using the image service fails.

**To Reproduce**
Steps to reproduce the behaviour:
1. Install the S3 Adapter Extension and configure new disk to use publicly readable s3 bucket
2. Create new folder with disk
3. Upload image with spaces in name to folder
4. Preview image in

[2021-03-04 09:22] spektra2147 opened #5097 "[streams-composer-plugin] Composer 2 Upgrade Error"
I want to migrate composer 2.0. I fork the required package and changed the fixed composer versions in the composer.json file. But I am getting this error.

Can you create version 2.0 of the required package?

------------------

Package operations: 1 install, 0 updates, 0 removals
  - Installing visiosoft/streams-composer-plugin (v2.0): Extracting archive

Fatal error: Class Anomaly\StreamsCompos

[2021-03-04 09:22] spektra2147 commented on #5097
@fatihalp

[2021-03-04 09:22] spektra2147 commented on #5097
@RyanThompson

[2021-03-08 11:11] egyleader opened #5098 "Access denied for user 'forge'@'localhost'"
**Describe the bug**
when installing pyro cms with mysql database I get the following error message
[code]

I am using **Windows 10** with **Laragon** for mysql and apache management

**To Reproduce**
Steps to reproduce the behavior:
1. require pyrocms with composer `composer create-project pyrocms/pyrocms`
2. execute command `php artisan install`
3. fill the data with your localhost database data

[2021-03-08 11:46] Pixney-William commented on #5098
Do you have a forge user? Make sure you look at your database credentials within the .env file and make sure they match up to the users/credentials for your database.

[2021-03-08 15:50] edster commented on #5098
Default dB credentials on laragon are root, no pass
________________________________
From: William Åström <notifications@github.com>
Sent: Monday, March 8, 2021 3:46:56 AM
To: pyrocms/pyrocms <pyrocms@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [pyrocms/pyrocms] Access denied for user 'forge'@'localhost' (#5098)

Do you have a forge user? Make sure you look at y

[2021-03-15 14:21] jgulledge19 opened #5099 "Composer 2 and PHP 8 install error 3.8"
**Describe the bug**
I have PHP 8 and Composer 2 running on my Mac and tried to do a simple install to try out PyroCMS. Composer gives an error message:

**To Reproduce**
Steps to reproduce the behavior:
1. Run the composer command in the terminal: `composer create-project pyrocms/pyrocms`

**Expected behavior**
Install PyroCMS package requirements.

**Screenshots**
<img width="1120" alt="image" s

[2021-03-16 16:08] egyleader commented on #5098
I don't have a forge user and the crediential are the default for laragon root withh no pass

[2021-03-25 16:51] b1gw0rm commented on #5099
I'm having the same issue with composer 2 not being compatible with the two packages wikimedia/composer-merge-plugin and also anomaly/streams-composer-plugin due to them both having composer 1 as a specific dependency and so I'm trying to come up with workarounds in the meantime.

The biggest issue for me on this one is the wikimedia/composer-merge-plugin because that's how Pyro sees what template

[2021-03-25 17:38] edster commented on #5099
This is fixed in 3.9

[2021-03-25 17:38] #5099 closed, assigned to nobody

[2021-03-25 18:21] b1gw0rm commented on #5099
That's good to know. I see that there is an upgrade guide for anybody looking:

https://pyrocms.com/documentation/pyrocms/3.9/prologue/upgrade-guide

[2021-03-28 15:42] ryanlholt commented on #5098
@egyleader I also ran into this issue when trying to install locally. Running the installer a second time was successful. This leads me to believe that the env variables for the database aren't being set prior to the attempt to run migrations as 'forge' is the default set for "DB_DATABASE" and "DB_USERNAME" in the database config ( ./config/database.php ).

[2021-03-28 15:50] ryanlholt commented on #5094
@spektra2147 I'm also experiencing this issue. Second run is successful.

[2021-04-10 10:38] gnovaro commented on #5098
Is a permission problem when pyro creates the .env file. Change permissions and run again the installations, solve this problem for my. But i have another problem with migrations and MariaDB...

[2021-04-10 10:40] gnovaro commented on #5094
Duplicated issue #5098

[2021-04-10 10:54] gnovaro opened #5100 "Installation migration problem"
Before run composer and run the command php artisan install

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![imagen](https://user-images.githubusercontent.com/270990/114267397-a04a5880-99fb-11eb-8e6b-4812454c9ae0.png)

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] Ubuntu Linux
 - Browser [e.g. chrome, safari] ---

[2021-04-13 04:28] spektra2147 opened #5101 "db:seed not seeding all seeder file"
Laravel 8.x seeder not working without specifying class name

- Project seed does not work in the first installation

@fatihalp @RyanThompson

[2021-04-13 04:29] #5094 closed, assigned to nobody

[2021-04-13 04:29] edster commented on #5101
Run db:seed all-addons
________________________________
From: spektra2147 ***@***.***>
Sent: Monday, April 12, 2021 9:28:46 PM
To: pyrocms/pyrocms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [pyrocms/pyrocms] db:seed not seeding all seeder file (#5101)

Laravel 8.x seeder not working without specifying class name
@fatihalp<https://na01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgith

[2021-04-13 04:31] spektra2147 commented on #5101
Project seed does not work in the first installation. @edster

[2021-04-14 05:53] spektra2147 opened #5102 "pyrocms installation error (3.9)"
![Ekran Resmi 2021-04-14 08 57 37](https://user-images.githubusercontent.com/39536659/114661368-8bbdd700-9cff-11eb-913a-5616b19cc022.png)

[2021-04-14 05:53] spektra2147 commented on #5102
@RyanThompson @fatihalp

[2021-04-14 06:30] spektra2147 commented on #5102
@RyanThompson I fixed the problem when I fixed the laravel / framework version.("laravel/framework": "v8.36.2")

`"laravel/framework": "v8.36.2"`

Please add this line to your composer.json file.

[2021-04-14 09:57] finnito commented on #5102
I just saw this problem, too and can verify that @spektra2147's solution works.

[2021-04-15 19:13] positron48 opened #5103 "anomalylabs/addons-module ComposerProcess command type error"
I have a new clear installation of PyroCMS. If I try to install any module (e.g. Comments)  I get the error -

[code]

Reason of this error described here: https://github.com/symfony/symfony/blob/5.x/UPGRADE-5.0.md#process

It works if I replace `new Process` to  `Process::fromShellCommandline` here: https://github.com/anomalylabs/addons-module/blob/2.3/src/Composer/ComposerProcess.php#L27.

Anoth

[2021-04-16 02:20] jasonday opened #5104 "Installed via composer in subdirectory; apparent routing issues"
Seeing the below at install location. I'm attempting to run pyroCMS in a subdirectory.

![image](https://user-images.githubusercontent.com/748011/114961861-a5fad080-9e37-11eb-9eff-26205ceee30e.png)

- installed to apps/myapps/html/test/pyrocms
- screenshot is url mydomain.com/test/pyrocms/public/
- Ubuntu 18.04 server

[2021-04-16 02:21] edster commented on #5104
This is a k own issue, you need to point a vhost to the public directory and use that
________________________________
From: Jason Day ***@***.***>
Sent: Thursday, April 15, 2021 7:20:37 PM
To: pyrocms/pyrocms ***@***.***>
Cc: Subscribed ***@***.***>
Subject: [pyrocms/pyrocms] Installed via composer in subdirectory; apparent routing issues (#5104)

Seeing the below at install location. I'm attempt

[2021-04-16 10:50] Eighke commented on #5102
Probably due to https://laravel-news.com/laravel-anonymous-migrations if you wanna dig inside @RyanThompson

[2021-04-19 03:03] RyanThompson commented on #5102
Ya locking this isn't really a solution - digging in now

[2021-04-20 03:17] RyanThompson commented on #5102
This should be resolved here: https://github.com/laravel-streams/streams-core/commit/9b9104d8d8600f44d5152d56d7c3e975951076be

[2021-04-20 03:17] #5102 closed, assigned to nobody

[2021-04-20 08:21] spektra2147 commented on #5102
@RyanThompson https://prnt.sc/11qqib9

Can't find migration files

[2021-04-21 09:49] denismwangi opened #5105 "html5gallery box installation"
am trying to add youtube and Facebook videos using https://html5box.com/html5gallery but after compilation of js files my videos don't appear

[2021-05-29 07:20] Akshay-Hegde opened #5106 "[Docker] Installation error"
PHP version : 7.4

This in an attempt to dockerize pyrocms laravel version, infact  in past I used pyrocms codeigniter version.

Command sequence:

[code]

Below is error

[code]

Full details:
[code]

[2021-06-01 22:26] finnito opened #5107 "Uninstalling Addons Error"
**Describe the bug**
Trying to uninstall some addons to reduce bloat in an installation. Get SQL DROP errors on uninstall.

**To Reproduce**
__Blocks module__
[code]

__Variables Module__
[code]

  __Files Module__
[code]

  Something got hosed and now I get this error when loading the webpage:
[code]

**Expected behavior**
Addons should uninstall.

[2021-07-02 12:56] MWSDev opened #5108 "[accelerant-theme] Page versions can't be selected"
**Describe the bug**
If you edit a page and click on versions the available versions are displayed. On click on the load button a popup opens. When you click on OK you are redirected to the edit view but the previous version is not loaded.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit any page
2. Click on versions
3. Load any version
4. See error

**Expected behavior**
The selected ve

[2021-07-09 06:10] RyanThompson opened #5109 "Addon for SASS compilers/filters"
Add in legacy compilers via addon if it makes sense. What is the temperature on this?

[2021-07-09 20:07] edster commented on #5109
This would be great, I don't have the time or resources to update some older sites due to this change.

Being able to get some of the improvements from the new code base without having to redo a bunch of themes would be extremely valuable.

[2021-07-11 08:04] Akshay-Hegde commented on #5106
With even 3.9.0

[code]

[2021-07-12 21:53] finnito commented on #5109
Keen! I have some old sites too, and because it removes a step in building/deploying I think.

[2021-07-16 14:33] #5098 closed, assigned to nobody

[2021-07-16 14:34] #5105 closed, assigned to nobody

[2021-07-16 14:38] RyanThompson commented on #5106
This has been resolved with autoloading corrections since.

[2021-07-16 14:38] #5106 closed, assigned to nobody

[2021-07-16 14:39] #4677 closed, assigned to RyanThompson

[2021-07-16 14:40] #4410 closed, assigned to nobody

[2021-07-16 14:42] #4466 closed, assigned to nobody

[2021-07-16 14:43] RyanThompson commented on #5097
This has been resolved in 3.9

[2021-07-16 14:43] #5097 closed, assigned to nobody

[2021-07-16 14:43] #1474 closed

[2021-07-16 14:43] #3895 closed

[2021-07-16 14:43] #3955 closed

[2021-07-16 14:43] #3957 closed

[2021-07-16 14:43] #3968 closed

[2021-07-16 14:43] #3970 closed

[2021-07-16 14:44] #4026 closed

[2021-07-16 14:44] #4042 closed

[2021-07-16 14:44] #4092 closed

[2021-07-16 14:44] #4140 closed

[2021-07-16 14:46] #4180 closed

[2021-07-16 14:46] #4196 closed

[2021-07-16 14:46] #4243 closed, assigned to nobody

[2021-07-16 14:46] #4249 closed, assigned to nobody

[2021-07-16 14:46] #4252 closed, assigned to nobody

[2021-07-16 14:46] #4253 closed, assigned to nobody

[2021-07-16 14:46] #4261 closed, assigned to nobody

[2021-07-16 14:46] #4315 closed, assigned to nobody

[2021-07-16 14:48] #4399 closed, assigned to nobody

[2021-07-16 14:48] RyanThompson commented on #4398
This is all inherent in LS with the JSON and what not

[2021-07-16 14:48] #4398 closed, assigned to nobody

[2021-07-16 14:52] #4434 closed, assigned to nobody

[2021-07-16 14:52] #4438 closed, assigned to nobody

[2021-07-16 14:52] #4447 closed, assigned to nobody

[2021-07-16 14:55] #4491 closed, assigned to nobody

[2021-07-16 14:55] #4495 closed, assigned to nobody

[2021-07-16 14:55] #4521 closed, assigned to nobody

[2021-07-16 14:55] #4535 closed, assigned to RyanThompson, Piterden

[2021-07-16 14:55] #4553 closed, assigned to RyanThompson

[2021-07-16 14:55] #4562 closed, assigned to RyanThompson, Piterden

[2021-07-16 14:55] #4601 closed, assigned to nobody

[2021-07-16 14:55] #4613 closed, assigned to nobody

[2021-07-16 15:13] #4382 closed, assigned to nobody

[2021-07-16 15:13] #4384 closed, assigned to nobody

[2021-07-16 15:13] #4693 closed, assigned to nobody

[2021-07-16 15:13] #4694 closed, assigned to nobody

[2021-07-16 15:41] mustafa-online commented on #4490
@RyanThompson .. are we going to see this in **PyroCMS v4** ??
Bootstrap 5 is already supports RTL.

[2021-07-16 16:20] Akshay-Hegde commented on #5106
Could you please elaborate, no luck either docker build or just composer

[2021-08-16 21:22] ethanblake4 opened #5110 "Authorizer error after deleting a stream"
Sometimes, after deleting a stream through the admin interface, I will no longer be able to access the PyroCMS admin interface and it will give me this error:
[code]

Seems to be inconsistent so I'm not entirely sure what causes it. What I do know, after investigating, is that the value of one of the permissions gets set to
[code]

whereas all of the other permissions are strings, specifically eit

[2021-08-24 07:17] finnito opened #5111 "Abandoned packages"
**Describe the bug**
When running `composer install` I get the following warnings:

[code]

I've attached my `composer.json` for reference. Thanks :)

[composer.txt](https://github.com/pyrocms/pyrocms/files/7037223/composer.txt)

[2021-08-29 01:37] finnito opened #5112 "[Files-Module]: Install/Uninstall Migration Errors"
**Describe the bug**
I'm unable to uninstall the files module with artisan.

**To Reproduce**
[code]

[code]

This is using `"anomaly/files-module": "~2.6.0"` in my `composer.json`

[2021-09-02 03:54] finnito opened #5113 "[search-module]: FULLTEXT not supported on sqlite"
**Describe the bug**
 `SQLSTATE[HY000]: General error: 1 near "(": syntax error (SQL: ALTER TABLE fitlytics_search_items ADD FULLTEXT(title,description);)`

**To Reproduce**
`php artisan install --ready` (I've attached my composer.json).

the error occurs in these lines of the `search__create_items_stream` migration of the search module.
[code]

https://github.com/anomalylabs/search-module/blob/da