[2017-10-28 01:41] mattcdavis1 commented on #4664
no - the issue is just that the flash messages never get cleared (except for after successfully fixing errors).  At least not with the way i have it setup which afaik is the proper way to handle it in Pyro (the other option of submitting to the default form handler URL doesn't give me enough control).

So if a person triggers a validation error and then doesn't re-submit the form something in Pyro

[2017-10-28 01:59] RyanThompson commented on #4672
Note to myself/whomever. This needs to be smarter: https://github.com/anomalylabs/streams-platform/blob/1.3/resources/js/form/form.js#L6

[2017-10-28 01:59] #4672 closed, assigned to nobody

[2017-10-28 10:34] Pixney-William opened #4673 "[image-field_type] Cropping area outside of image"
You should not be able to move the cropping area outside of the image.

[2017-10-28 13:49] ghost commented on #4673
https://github.com/anomalylabs/image-field_type/pull/16

[2017-10-28 13:49] ghost commented on #4671
https://github.com/anomalylabs/image-field_type/pull/16

[2017-10-29 01:15] Piterden commented on #4664
Long time ago I had it worked correct, only with this way:
[code]

[2017-10-29 10:05] ghost commented on #4673
Merged and fixed. Close it

[2017-10-29 10:06] ghost commented on #4671
Merged and fixed, close it

[2017-10-29 10:06] #4673 closed, assigned to nobody

[2017-10-29 10:06] Piterden commented on #4673
Fix you ))

[2017-10-29 10:07] ghost opened #4674 "Error rendering edit view after anomaly/streams-platform (v1.3.51 => v1.3.52)"
When i updated to streams platform 1.3.52 from 1.3.50 i got this error..

An exception has been thrown during the rendering of a template ("An exception has been thrown during the rendering of a template ("An exception has been thrown during the rendering of a template ("An exception has been thrown during the rendering of a template ("An exception has been thrown during the rendering of a templat

[2017-10-29 10:08] ghost commented on #4674
[code]

[2017-10-29 10:08] ghost commented on #4674
in `resources/views/form/partials/fields.twig`

[2017-10-29 10:09] Piterden commented on #4674
Field type not defined, as I remember. Something brakes fields config.

[2017-10-29 10:17] ghost commented on #4674
Confirmed 1.3.50 works fine. But not 1.3.52 .

@Piterden are you saying you know what @RyanThompson did to make it fail?

[2017-10-29 10:21] Piterden commented on #4674
Git knows, check the diff

[2017-10-29 10:21] ghost commented on #4674
1.3.51 works not 1.3.52.

I will check..

[2017-10-29 10:28] Piterden commented on #4674
I took 1.3.50 vs 1.3.52
![image](https://user-images.githubusercontent.com/5930429/32142678-365c2752-bcad-11e7-853a-5a2bb63e716b.png)

And `streams-platform-1.3.50/resources/views/table/partials/body.twig`

[2017-10-29 10:29] ghost commented on #4674
you should take 1.3.51vs52.. the issue has to do with the getAttributes method added

[2017-10-29 10:30] Piterden commented on #4674
Fix you! I don't have time now

[2017-10-29 10:30] ghost commented on #4674
Neither do i.. i have to drive my snowmobile

[2017-10-29 10:31] Piterden commented on #4674
What will you give me for Christmas, Santa?

[2017-10-29 10:38] Piterden commented on #4674
I think, we need some global avoiding of Twig exceptions. How are you about it?

[2017-10-29 13:47] mpochron opened #4675 "The each() function is deprecated in PHP7.2."
The each() function is deprecated in PHP7.2.
https://wiki.php.net/rfc/deprecations_php_7_2#each
http://php.net/each

[2017-10-30 04:39] Piterden commented on #4675
So, what is this issue related for?

Can you imagine that we know about `each`?

[2017-10-30 04:41] #4675 closed, assigned to nobody

[2017-10-30 04:42] Piterden commented on #4674
Did you fix it? @designbywilliam

[2017-10-30 07:58] MarGul opened #4676 "[Documentation] The pyrocms.com site throws 500 error's"
Hey.
Wasn't sure where to get in contact with you guys to I'm opening an issue for this instead. Almost everywhere on www.pyrocms.com I get 500 errors (videos, invite for slack,...).

Just wanted to see if the resources has been moved or there is any problem on my part. Best thing would be to get an invite to the slack channel so we can close this "issue".

[2017-10-30 08:03] Piterden commented on #4676
I have videos and invite working good. Check once more please.

Links are appreciated.

[2017-10-30 08:31] MarGul commented on #4676
Thanks for the reply. I have tried two computers, different browsers and everything and I still get this:

Maybe yours is cached?

![pyrocms](https://user-images.githubusercontent.com/11759765/32161250-1fe93dd6-bd55-11e7-902e-095715149e84.png)

[2017-10-30 17:26] Piterden commented on #4676
Maybe it is your cached?
![image](https://user-images.githubusercontent.com/5930429/32185589-a103703e-bdb0-11e7-858f-eec795843d28.png)

[2017-10-30 17:28] Piterden commented on #4676
Check the certificate you have, it seems I have another one.

[2017-10-30 17:28] #4676 closed, assigned to nobody

[2017-10-30 19:29] Piterden opened #4677 "[streams-platform] The standard WizardFormBuilder with chain of pages support"
This would be nice improvement to have something like a multipages form collector in the standard builder classes arsenal.

Thoughts?

[2017-10-30 19:53] ghost opened #4678 "[date-field_type] Not possible to have it as optional"
This is a bug. It's not possible to leave this as optional since if you save, and haven't entered a date. It throws a missing data error.

[2017-10-30 19:54] ghost commented on #4674
Its fixed now @Piterden

[2017-10-30 19:55] ghost commented on #4671
Fixed @Piterden

[2017-10-30 20:27] Piterden commented on #4678
https://github.com/anomalylabs/datetime-field_type/pull/26

[2017-10-30 20:43] RyanThompson commented on #4656
Seems like the same thing as I have minus a level doesn't it? If the addon was more complex there would be more directories

[2017-10-30 20:45] Piterden commented on #4656
If you would have the same thing, I would never confused with mode define.

I mean modes should be in the `mode` folder.

[2017-10-30 20:49] ghost commented on #4671
I was the one who did the pull request @Piterden , i think it might be smarter to assign it to dwains or someone to test:)

[2017-10-30 20:51] Piterden commented on #4671
I can't, sorry(

[2017-10-30 21:12] #4660 closed, assigned to nobody

[2017-10-30 21:13] Piterden commented on #4661
Strict length limit on a slug-ft would solve this issue.

[2017-10-30 21:14] edster commented on #4646
This is still an issue and should not be closed.

[2017-10-30 21:16] Piterden commented on #4646
Oh sorry. Just that was a week, I have thought you had solved it.

[2017-10-30 21:17] edster commented on #4646
No it is an issue with `withPivot` and multiple relation.

Talked to Ryan about it last week and he needs to enhance the FT he said.

[2017-10-30 21:17] Piterden commented on #4646
So what about the details? How to achieve that?

[2017-10-30 21:18] RyanThompson commented on #4646
it's OK this is indeed an issue and I have it on my  internal list for the addon.

[2017-10-30 21:26] Piterden commented on #4659
??? @designbywilliam

[2017-10-30 22:02] Piterden commented on #4654
https://github.com/anomalylabs/text-field_type/pull/9

[2017-10-30 22:07] Piterden commented on #4648
https://github.com/pyrocms/accelerant-theme/pull/37

[2017-10-30 22:08] Piterden commented on #4656
https://github.com/pyrocms/pyrocms/issues/4652 @RyanThompson

[2017-10-30 22:09] #4652 closed, assigned to nobody

[2017-10-30 22:11] Piterden commented on #4647
@RyanThompson  https://blog.carbonfive.com/2016/10/04/ubiquitous-language-the-joy-of-naming/

[2017-10-31 06:19] fryiee opened #4679 "[geocoder-field_type] image() presenter method only does http://, returning broken links"
See L98. Need to use either `//` or force `https` to display correctly.

[2017-10-31 06:23] fryiee commented on #4679
I believe this is key related.

[2017-10-31 06:23] #4679 closed, assigned to nobody

[2017-10-31 09:47] ghost opened #4680 "[editor-field_type] Issue when rendering json array"
If you have an editor field type and set it to translatable, then you add (for both languages):

	[
		{
			"name":"Ryan Thompsson",
			"title": "CEO"
		},
		{
			"name":"Someone else",
			"title": "Something else"
		}
	]

save and then try switching between the languages, the brackets on one language dissapears

[2017-10-31 14:09] #4678 closed, assigned to RyanThompson

[2017-10-31 14:10] #4674 closed, assigned to RyanThompson

[2017-11-01 09:49] Pixney-William opened #4681 "[forum-module] Issue with pages and/or files type reported in the forum"
https://pyrocms.com/forum/channels/field-types/files-field-type-record-not-deleted-when-you-delete-the-related-stream

[2017-11-01 11:06] timjai commented on #4657
Although it's not strictly related we've created a pyro/twig plugin that allows us to add a placeholder filter that resolves problems on the front end when there's no source image.

General Usage: `<img src="{{ image(item.image|placeholder).fit(370, 250).quality(80).url }}">`

If it's of any interest I'll happily write up some docs and share it

_tim@evoluted_

[2017-11-01 11:23] Pixney-William commented on #4657
Please do @timjai all docs and tips are very appreciated by the community!

[2017-11-01 15:43] Youhan opened #4682 "[comments-module] v1.0.6 issues"
Thank you for the great work on the comments module Ryan.
I was just playing with the module with Pyro being v4.3
First I added it to `composer.json` using `"anomaly/comments-module": "~1.0.0",`
Then I installed the module and made some comments on a post both with a authenticated user ( admin ) and a guest commenter.

#### Problems:
When I click on `view` I get a 500 error at `admin/comments/view

[2017-11-01 15:48] RyanThompson commented on #4682
Yes I plan on adding that in the control panel table

That said - is your relationship setup correctly in the DB? You have a subject_type and subject_id?

And this is clicking on view in backend right?

Would you mind digging around a little here: https://github.com/anomalylabs/comments-module/blob/1.0/src/Http/Controller/Admin/CommentsController.php#L67

[2017-11-01 16:19] Youhan commented on #4682
The `view` problem was on my side but the `edit` problem still exists.

In the CommentsController we have
[code]
and the CommentFormBuilder gets the `subjectId`: https://github.com/anomalylabs/comments-module/blob/1.0/src/Comment/Form/CommentFormBuilder.php#L174

In the table `subject_id` is 7 and `subject_type` is `Anomaly\PostsModule\Post\PostModel`
but in the CommentFormBuilder above (#L174) th

[2017-11-02 21:14] Pixney-William opened #4683 "Cache is not being invalidated when using pagination"
This does not work:

[code]

Ryans comment : "Spin up an issue for this I can add it. Should be pretty straight forward to get a cache key like this."

[2017-11-03 12:32] RyanThompson commented on #4683
Cache now treats paginators like collections but might wanna use a better strategy since entries on other pages are unable to be considered.

[2017-11-03 12:32] #4683 closed, assigned to nobody

[2017-11-03 13:03] RyanThompson commented on #4682
We need different forms for backend and front end. I'll take care of it thanks for checking it out!

[2017-11-03 13:38] Piterden opened #4684 "[streams-platform] Can't install addon with a simple folder copying"
Earlier that worked fine, and I could just move a folder with my addon to the right place.

Now I have error after moving, and I have to call `make:addon` command first, then replace all files in the created by the command folder.

[2017-11-03 16:18] Piterden commented on #4682
Let's take Vue for the back part

[2017-11-03 18:14] Pixney-William opened #4685 "Adding a grid without assigned fields throws an error"
In a migration i have created a new grid stream (this grid namespace is assigned to default_pages).

I go into the page, and it has no previous rows added.

I click on add new row, select the grid and hit save. `An error is thrown`

If i instead, add another grid to the page. And click save. And then add this grid and click save. It all works.

If i remove all the grids again. Click save. Then add

[2017-11-04 01:10] Piterden commented on #4685
Just tell us where to move that error? Where would be the best place for it?

[2017-11-04 15:09] Pixney-William commented on #4685
Are you asking me @Piterden

[2017-11-04 15:12] Piterden commented on #4685
How do you know it. Did I tell you?

[2017-11-05 09:28] Youhan commented on #4682
@RyanThompson I just came to say that the backend form should be separate, and now that you already said that I probably should delete this comment but the backspace key on my keyboard is not working ^_^

[2017-11-05 14:11] RyanThompson commented on #4643
@basv what version are you on?

I have added it to a simple variables group for testing - made required - and it's working fine. This sounds slightly familiar I wonder if you're out of date?

[2017-11-05 14:12] basv commented on #4643
@RyanThompson I'm at ~1.0.0

[2017-11-05 14:45] basv commented on #4643
Upgraded to 1.1.0, still encounter the same issue

[2017-11-06 00:28] mattcdavis1 commented on #4614
This is related to the Twig upgrade not Pyro.  Just need to switch to `getGlobals` for my twig globals.

[2017-11-06 00:28] #4614 closed, assigned to nobody

[2017-11-06 10:07] Pixney-William opened #4686 "Setting a language problem"
When you have a website for/with people of different nationalities, the users should be able to set their preferred language under preferences.

* Logging in as a Swedish site admin , i would like my preference lang setting to be English.
* Logging in as a Chinese webmaster, i would like my preference lang setting to be Chinese.

Today, if i as a user change my preference settings for lang, it aff

[2017-11-08 14:56] Pixney-William opened #4687 "Accelerant style issue for repeaters (within grids only?)"
https://imgur.com/a/GuIEA

[2017-11-08 15:39] Pixney-William commented on #4670
Are we far away on this ? @RyanThompson

[2017-11-08 15:40] RyanThompson commented on #4670
Newp

[2017-11-11 12:44] Piterden commented on #4687
![image](https://user-images.githubusercontent.com/5930429/32689486-158a41ea-c6f7-11e7-80a0-f7d13cc9b012.png)
WTF, William? Do you forget about `ctrl+v`?

Do you mean big margins?

[2017-11-11 12:45] Piterden commented on #4687
You are the good in CSS! Fix it))

[2017-11-11 16:20] Pixney-William commented on #4387
@RyanThompson What is the status on this issue? I am beginning to have issues with clients who report that they need this feature since they are a couple working on the website and things get messed up.

We need something here, otherwise it will not be possible to use the cms for larger organisations...

[2017-11-12 16:16] emergingdzns opened #4688 "[country-field_type] Documentation incorrect or bug"
The documentation for the Country field type (https://pyrocms.com/documentation/country-field-type/latest) states that there is a "text" mode and "text" is used in the default example. However, when using "text" it throws an error in the form builder like the one shown here: https://pyrocms.com/forum/channels/modules/error-in-twig-view-text-not-found-on-using-form-builder

Either there is no text

[2017-11-12 16:27] Piterden commented on #4688
Fixed. Thanx)

[2017-11-12 20:07] #4688 closed, assigned to nobody

[2017-11-14 14:44] Pixney-William commented on #4687
I am not sure it should be fixed in a fieldtype.. I think this styling should be per theme. Otherwise it wont be fun creating themes.

I fixed in the hjortron theme, and have to do this to change it which is not good...

`.grid-container .repeater-field_type .repeater-container .repeater-item .repeater-body .form-group`

[2017-11-14 17:36] keevitaja opened #4689 "[redirects-module] Redirections not working for from URI starting with `posts`"
Hello,

`some-slug` -> `some-new-slug` works perfectly fine, but

`posts/some-slug` -> `posts/some-new-slug` does not!

I guess all routes starting with `posts` are routed to some posts controller and it never hits the redirection.

[2017-11-14 17:39] Piterden commented on #4689
You are the lucky guy. Me was need to learn Nginx's redirects.

[2017-11-14 17:40] keevitaja commented on #4686
Admin locale switching is session based. So if you change your locale in admin, it kinda sticks with your session and takes precedence in frontend. Pretty ducked up!

[2017-11-14 17:53] keevitaja commented on #4689
How me lucky? Me too did nginx redirect now!

[2017-11-14 17:56] Pixney-William commented on #4686
K, we need to fix this!

[2017-11-16 12:34] huglester opened #4690 "datetime_field-type - not possible to clear the field"
Hello,

it's currently not possible to clear the datetime.. simply removing value, saving, does not work

[2017-11-17 06:12] RyanThompson commented on #4625
Merged

[2017-11-17 06:12] #4625 closed, assigned to schmidex, Piterden

[2017-11-20 02:37] Pixney-William commented on #4670
Let me know if there is no time for this @RyanThompson and ill write something to handle this on my site temp because we have issues with it since no content shows up on pages if they forget writing content.

[2017-11-21 19:57] Piterden opened #4691 "[widget-extension] Visible in add-widget list even if not installed!"

[2017-11-23 14:31] basv commented on #4643
@RyanThompson any news on this? :)

[2017-11-25 16:22] Pixney-William commented on #4273
@mattcdavis1 tested it out recently and compared to craft? Just asking because it seems like i still got around 300ms. But i might not have the same setup for testing as you.

And speed is very important to me so i am interested to see if there has been improvements made over the last 6 months.

[2017-11-25 16:25] Pixney-William commented on #4273
I have also tried `composer dumpautoload -o` with no improvements.

Do we have a roadmap or something regarding these kind of improvements @RyanThompson ?

[2017-11-25 16:31] Pixney-William opened #4693 "[forum-module] should order by when latest comment was added"
We have to order forum posts by when the latest comment was added. Those of us visiting the forum right now have no idea what posts that are active.

This is a very important feature to the forum (according to me)

[2017-11-25 16:32] Piterden commented on #4693
Forum should be killed

[2017-11-25 16:47] Pixney-William opened #4694 "Performance Concerns"
I am opening this since the last one was closed. Speed is very important and would like to know / discuss where we are with the plans to improve the results mentioned in the thread below. And also to see if others have better results than myself at 300ms.

If we are still at 300ms, when can we expect these to drop? And maybe a question is if it is possible?

https://github.com/pyrocms/pyrocms/issu

[2017-11-25 20:29] Piterden commented on #4694
Haha. Why didn't me get it earlier? Now, if Ryan will close something, I will just open the new one!!!

[2017-11-27 14:26] RyanThompson opened #4695 "[streams-platform] Mentions don't linkify if they're the first item in a string."

[2017-11-27 14:26] RyanThompson commented on #4695
https://pyrocms.com/forum/channels/everything/how-to-override-streams-views-globally/

[2017-11-27 15:38] RyanThompson opened #4696 "[streams-platform] Do this for images"
https://medium.freecodecamp.org/using-svg-as-placeholders-more-image-loading-techniques-bed1b810ab2c

[2017-11-27 16:43] vargvinter opened #4697 "Problem with unit testing. Clean Pyro install on XAMPP and Homestead / Windows"
I am unable to run tests.

It returns:
[code]

Problem occurs on XAMPP and Homestead as well.
Thread on the official forum: https://pyrocms.com/forum/channels/general/how-to-configure-the-test-environment-in-pyrocms-vagranthomestead/

[2017-11-27 16:54] Piterden commented on #4697
Do you have the `anomaly/test-module` package?

[2017-11-27 17:04] vargvinter commented on #4697
`C:\xampp\htdocs\pyrocms> composer require anomaly/test-module --dev`

Throws:
[code]

[2017-11-27 17:05] Piterden commented on #4697
What about `php artisan make:addon anomaly.module.test`?

[2017-11-27 17:11] vargvinter commented on #4697
Done.
Then `php artisan addon:install anomaly.module.test`

After phpunit run bunch of:
[code]

[2017-11-27 17:12] Piterden commented on #4697
`php artisan make:addon anomaly.plugin.test`

Did you have some logical test in school?

UPD ^

Only modules and extensions should be installed.

[2017-11-27 17:20] vargvinter commented on #4697
All done.
Tests work.
Thanks.

Shouldn't it be in docs?

[2017-11-27 17:23] #4697 closed, assigned to nobody

[2017-11-29 00:19] Piterden opened #4698 "Forms in CP not return its page scroll position after save."
Actually I don't want page to be reloaded during save, but it's pointless to talk about it.

It is very uncomfortable that page not returns scroll position. Could we fix it? @RyanThompson

[2017-11-29 09:31] vargvinter opened #4699 "Can't override validation messages."
I do `php artisan streams:publish`

Changes in `/resources/lang/xx/validation.php` or in `/resources/default/streams/lang/xx/validation.php` don't take effect.

Changes in `vendor/anomaly/streams-platform/resources/lang/xx/validation.php` take effect.

Of course I don't want to mess in core.

Solution?

[2017-11-30 14:56] oimken opened #4700 "[grid-field_type] [repeater-field_type] Need some improvements for UE."
### Grid-field_type
1. If create a Grid field_type with only One grid selected,   Show the grid directly (Skip the " [Click `Add Row`] ->(Popup the modal) -> [Click the grid to insert]")..
2. If Maximum Items was set to `1`, Just hide the grid toolbar and 'add row' buttons to make the Form much more clean.

### Repeater-field_type
1. Do the same as Grid-FT, If Maximum Items was set to `1`, Just hi

[2017-11-30 15:10] oimken opened #4701 "[comments-module] Custom fields is needed."
Oh Ryan please,
Need to add custom fields group by `channel`  for comments-module.
It will make the comments MUCH MORE useful and powerful and adorable and so on.

[2017-12-01 04:43] Piterden commented on #4699
This is the bullshit man.

I have publish streams and edit `resources/default/streams/lang/en/validation.php`.

All works fine!

![image](https://user-images.githubusercontent.com/5930429/33468196-82e5072e-d66b-11e7-8742-ffeaf70b0d40.png)

[2017-12-01 04:46] Piterden commented on #4698
And it happens even in frontend.

[2017-12-01 07:00] vargvinter commented on #4699
Ok, I have new thoughts. Currently I am developing on XAMPP and my validation messages overrides don't work.

But I have also Vagrant/Homestead machine and it works fine.

No idea why. In both environments I have default pyro installation
That's frustrating.

Do you need any more information?

[2017-12-04 06:58] Piterden commented on #4699
Why would me need it? It is your environments issues, which have not any relation to PyroCMS.
Try to work on linux.

[2017-12-05 00:50] Pixney-William commented on #4410
Work it man. We need it :) @RyanThompson

[2017-12-05 00:53] Pixney-William commented on #4410
Just had a look at that was easy.. so no rush from my side..

[2017-12-05 20:03] emergingdzns opened #4702 "[country-field_type] top_options config not being used in drop down."
I've got a list of top options but they are not being added to the top of the dropdown.

Please see forum thread for more details: https://pyrocms.com/forum/channels/field-types/country-field-type-sorting-is-wrong-and-ignoring-top-options

[2017-12-06 07:40] oimken opened #4703 "[translator-module] There is a BIG BUG in translate `field.php`"
Could not save translations in `field.php` and `notification.php`  and any translations has sub-array translations,  for example:

### translator module can handle 'addon.php' ( Flat array ? ) fine.
[code]
### But failure to save Multi-dimensional arrays such as `field.php` , it just empty my translations like below!!!
[code]

[2017-12-06 17:26] Piterden commented on #4703
https://github.com/anomalylabs/translator-module/pull/25

[2017-12-06 18:18] RyanThompson opened #4704 "[input-mode FTs] Make sure all FTs (select) mode JS only applies to applicable modes."

[2017-12-14 20:35] Pixney-William commented on #4457
Description is now up to 320 characters sometimes @RyanThompson .. fyi

[2017-12-14 20:37] Pixney-William commented on #4457
Closing this. If we need it we could just write a migration for it. And a better solution would be to develop a SEO extension for pyro with this information.

[2017-12-14 20:37] #4457 closed, assigned to nobody

[2017-12-15 14:29] pepijnolivier opened #4705 "[datetime_field-type] Impossible to configure different time representation"
By default the datepicker represents time via AM / PM notation.

Seems like it doesn't support configuring a different representation (for example, European notation is 23:59 instead of 11:59 AM)

[2017-12-15 14:38] Piterden commented on #4705
Did you try to set
[code]
???

[2017-12-15 14:57] Piterden commented on #4702
Forum is shitty!
I think, it should be only one select-FT, which could load a different data sets.

[2017-12-15 15:13] pepijnolivier commented on #4705
Yup,

Here's my field definition in the formbuilder

[code]

[2017-12-15 15:18] Piterden commented on #4705
Mixing of `"` and `'` is the bad practice.
![image](https://user-images.githubusercontent.com/5930429/34048323-5d07c41a-e1c4-11e7-8f38-b854e061b0e3.png)

[2017-12-15 15:20] pepijnolivier commented on #4705
I agree, that's not really the issue though. Can you advise on the actual problem ?

[2017-12-15 15:21] Piterden commented on #4705
Don't you see your config is working for me?

[2017-12-15 15:23] Piterden commented on #4705
And the only one difference is quotes!

[2017-12-15 15:28] pepijnolivier commented on #4705
The quotes shouldn't matter, but thanks for running my code. Now I know it *should* work...
Just updated the datetime package to the latest version, still no dice...

[2017-12-15 15:29] pepijnolivier commented on #4705
@Piterden Just to be sure, you used this config in a FormBuilder field definition, right ?

[2017-12-15 15:32] Piterden commented on #4705
I have `"anomaly/datetime-field_type": "~3.0.0",`.

Yes, it is the `fields` array of a single form builder.

Quotes are important, believe me. I can't explain it, and I was surprised about it too. It's just the fact)

[2017-12-18 16:23] RyanThompson commented on #3897
I was going to add a slug type field called "name" to the pages and have them use that for a named route like "pages::$name".. would like route pattern option in there too but not sure about that (for naming segments n such)

[2017-12-18 17:15] Piterden commented on #3897
Why don't use existing slug for it?

[2017-12-18 20:16] damian-pf commented on #3897
@Piterden slugs can change.

 But I guess in the context of the WYSIWYG link, could update all the links, depends on how it's stored I guess.

You could have a table that keeps track of everywhere the named route is being linked to, that way updating would be easy.

[2017-12-18 20:19] damian-pf commented on #3897
@RyanThompson what about a links module? You could create the "named route" there and it's db entry would just link the IDs so no issue if the slug changes.

Does the WYSIWYG content go through the twig parser? Could you have a twig function to fetch the link?

[2017-12-18 20:21] Piterden commented on #3897
Why don't you try it

[2017-12-19 02:54] Piterden commented on #3897
And what?

[2017-12-21 10:52] mjlizard opened #4706 "[datetime-field_type] Cannot set null value"
In Datetime FieldType there is no way to set null value.
For example, I have custom news module with datetime field: publicating news until date. When I change my mind and I want to reset this value, there is no way to do it, even if I manualy delete date from input.
There should be option to allow send via form null values and save it in database.

[2017-12-21 11:12] mjlizard opened #4707 "Overwrite streams-platform .twig files"
I can't overwrite default .twig files (from streams-platform). If I well understand a very modest project documentation, there should be option to overwrite:
**/vendor/anomaly/streams-platform/resources/views/form/form.twig**
using this file:
**/resources/default/streams/views/form/form.twig**
Unfortunately, PyroCMS ignoring second file and forcing first. This makes it impossible to overwrite stre

[2017-12-21 11:18] vargvinter commented on #4707
I can confirm.

`php artisan streams:publish` is publishing views but changes made in published files are not reflected. Pyro always use core view files.

[2017-12-21 13:45] pepijnolivier commented on #4705
I ran composer update and the problem was solved.
I have a hunch this was a bug in the streams platform, but I'm just guessing.

@Piterden single quotes behave differently compared to double quotes, but in this case, it has no effect. [More info](https://stackoverflow.com/a/3446286/237739)

[2017-12-21 13:45] #4705 closed, assigned to nobody

[2017-12-23 07:54] Piterden commented on #4707
I use it in my theme's SP
[code]

[2017-12-31 13:13] dwainscheeren opened #4708 "[slider-field_type] scss error"
When using this field type you sometimes get error:
"An exception has been thrown during the rendering of a template ("Undefined variable $brand-info: line: 2")."

Please fix

[2018-01-01 17:17] Dinushasilva opened #4710 "[streams-platform] Addon field translations not working properly with multidimensional arrays"
**Field Type = textarea**
**PyroCMS = v3.4.10**

This is not working, as the field is unable to show the instructions on all three fields (movies,series,topics), it will only show on the first field which is (movies).

[code]

But this will work

[code]

[2018-01-01 17:23] Piterden commented on #4710
You set translations for only one field, which is description.

[2018-01-01 17:33] Dinushasilva commented on #4710
as in?

[2018-01-01 17:34] Piterden commented on #4710
Instructions property must be a string value

[2018-01-01 17:38] Dinushasilva commented on #4710
But it's working for name field, you mean Instructions can't be an array type?

[2018-01-01 17:40] Piterden commented on #4710
Yes, it must be string

[2018-01-01 17:43] Dinushasilva commented on #4710
But then how can we use it for multiple fields? let's say if we have **description** field on three different streams?.

How can we manage unique instructions for all three?.

[2018-01-01 22:04] dwainscheeren opened #4711 "[users-module] Mails send from Example not settings email"
When I invalidate a password users get mail from Example <example@example.com> instead of name from settings and e-mailadres.

[2018-01-02 02:45] Piterden commented on #4710
The thing is you have fields attached to the domain, which is the module in our case. Streams have assignments, not fields. And assignment item can override fields settings.

[2018-01-02 13:15] vargvinter opened #4712 "[boolean-field_type] Translatable does not work for 'switch' mode"
Hello,

Like in the title. When boolean field_type is in the 'switch' mode I can't toggle field for translations other than default.

[2018-01-03 02:18] Pixney-William opened #4713 "[redirects-module] possible bug"
# Works
Redirect From : `events`

# Does not work

Redirects From : `events/exhibitions`
Redirects From : `events/exhibitions/myurl`

[2018-01-03 12:19] girvydas opened #4714 "[image-field_type][settings-module] Image value not saving at settings"
If ‘anomaly.field_type.image’ field type is added to form, this value is not saving at settings module. After save, value in database table is null.

But everything works fine with "anomaly.field_type.file".

Bug appears on:
"anomaly/streams-platform": "~1.3.0",
"anomaly/settings-module": "~2.1.0",
"anomaly/image-field_type": "^1.2",

[2018-01-03 12:25] RyanThompson commented on #4713
Is events a module? It's likely due to _when_ these routes are routed (if they are outside of this redirect).

Routes are last come first serve for the most part in Laravel - and this causes issues when multiple addons are trying to route the same thing.

- Renaming posts for example is a bad use currently for this addon. It's tricky due to internal route conflicts.

- Redirecting OLD routes for a

[2018-01-03 12:51] Pixney-William commented on #4713
Correct, events is a module.

The correct use case here, was that the client had named the url bad from a seo perspective :
`events/exhibitions/bad-url` and then changed it to : `events/exhibitions/good-url`. And since they had already published the url publically on twitter, we want the bad url to redirect to the good-url.

I get that conflicts would crash things. I just can't figure out where th

[2018-01-03 17:21] RyanThompson commented on #4710
This should indeed be working and I see it working elsewhere.. might be a compiler issue. I'll look into it though.

[2018-01-05 18:38] vargvinter opened #4715 "Translatable field_type-text is repopulated for languages that have null value in DB with default translation on form edit"
Hello,

So this is the case:

- I have three languages on the page (`EN`, `DE`, `PL`), where `EN` is default,

- In the form I have translatable and required text input and I want to provide value only for `EN` translation (because it is required) - it works fine for creating the record (translations for `DE` and `PL` languages are set to `null` in DB),

- When I edit this record the **text input

[2018-01-05 18:42] Piterden commented on #4715
Are you talking about frontend, or CP?

[2018-01-05 18:50] vargvinter commented on #4715
I am talking about CP.

It's nice for listings. When I browse panel in `DE` locale, `null` values take default translation.

But for form editing it is very confusing and undesirable.

[2018-01-05 20:30] Piterden commented on #4715
Can you please describe what behavior for required and translatable fields you are waiting?

[2018-01-05 20:52] vargvinter commented on #4715
Given we have table with translations:

![screen](https://user-images.githubusercontent.com/6939116/34627622-99e5e396-f261-11e7-8dda-659db2a592a2.png)

When I go to this record edit page I should see text `Foobar` for `EN` translation **only**. For translations `DE` and `PL` (when I toggle dropdown with locales next to a label) this field should be blank because there is `null` in DB table.

Now a

[2018-01-06 04:16] Piterden commented on #4715
It was clear enough. Tell me next thing, please.
What is your opinion about having `null` in the DB for required fields?

[2018-01-06 04:20] Piterden commented on #4715
The behavior of using a fallback locale works correctly there. It shouldn't allow you to save item before all locales wouldn't be filled.

It is my official opinion about this situation!

[2018-01-06 04:27] Piterden commented on #4715
[code]

[2018-01-06 11:06] vargvinter commented on #4715
@Piterden

Not `null` for default translation. `null` for other translations.

@Piterden

So, it does not work as you described it.

- For record creation: Pyro does not force you to fill all translations for required and translatable field. It **only requires default translation** (`EN` in our example - if not filled form validation will fail and redirect back with form errors). Other translation

[2018-01-06 18:06] vargvinter commented on #4715
Is there a solution for the time being? Am I able to control field population in controller's edit method manually?

[2018-01-08 09:53] Eighke commented on #4703
https://github.com/anomalylabs/translator-module/pull/25 isn't working, but https://github.com/anomalylabs/translator-module/pull/24 fixed the problem

[2018-01-08 09:55] Piterden commented on #4703
So make correct changes and PR

[2018-01-08 20:34] Eighke commented on #4703
I think you can merge the anomalylabs/translator-module#24 directly. I don't want to get his contribution. :)

[2018-01-09 07:04] michvh-dev opened #4717 "[repeater-field_type] erase field from repeater not working"
When a filled in repeater field you want to erase is it not working. When clicking update the value is filled back in. (version streams ~1.3.0 & repeater ~1.3.0)

[2018-01-09 07:14] Piterden commented on #4717
Sorry, what? Try to use GTranslate...
And screenshots would be nice, too.

[2018-01-09 07:28] Piterden commented on #4713
https://github.com/pyrocms/pyrocms/pull/4716

[2018-01-09 07:31] Piterden commented on #4714
So use file

[2018-01-09 07:31] Piterden commented on #4712
What it the case?

[2018-01-09 15:10] RyanThompson opened #4718 "[text/textarea-field_type] Counter JS issue"
When the counter is not shown the JS console throws errors for query selecting on null values.

[2018-01-10 11:48] Piterden commented on #4718
I told you about and showed you how to write correctly. Don't you believe me?
[code]
You MUST do it!!! It is not a joke!

[2018-01-10 12:24] vargvinter opened #4719 "[country-field_type@2.3.2] - Countries options list issue"
After update to v2.3.2 a value of option in dropdown has number instead of country code. Storing number instead of country code in database breaks other things like displaying country for given record.

Is:
`<option value="0" selected="">Andorra</option>`

Should be:
`<option value="AD">Andorra</option>`

[2018-01-11 19:14] RyanThompson commented on #4067
Fixed

[2018-01-11 19:14] #4067 closed

[2018-01-11 19:14] RyanThompson commented on #4067
https://github.com/anomalylabs/settings-module/commit/9ff71c0cbe4755ff9a37777a6674ed50a187bb86#diff-3ef327dba58aa03968a0b60d7c940178L52

[2018-01-11 19:15] RyanThompson commented on #4714
Settings does not support fields that require more than one column OR a pivot table currently.

[2018-01-11 19:15] #4714 closed, assigned to nobody

[2018-01-11 19:16] RyanThompson commented on #4648
This has been fixed - thanks @Piterden !

[2018-01-11 19:16] #4648 closed, assigned to RyanThompson

[2018-01-11 19:18] RyanThompson commented on #4710
@Dinushasilva does re-compiling the streams fix this?

[2018-01-12 03:49] Dinushasilva commented on #4710
@RyanThompson , Sorry i couldn't mention that, yup recompiling the streams would do the fix,

if anyone needs a temporary fix,

[code]

[2018-01-12 20:27] dakshhmehta opened #4720 "[repeater-field_type] Rows/Column Layouting Doesn't work"
The scenario: Trying to generate invoice layout, which has purchase details, vendor name etc as common.
However, PurchaseItem stream is repeater powered and would like to align it with 4/4/4 name/qty/amount respectively in the design.

The problem: Section grid alignment as per rows/columns within section doesn't render properly. However, the same form being used directly from the controller can r

[2018-01-15 12:58] vargvinter opened #4721 "[streams-platform] Additional locales problem - throws 404"
- `php artisan streams:publish`

- in `resources/default/streams/config/locales.php` I add new language (Czech in this case because I need it) to the `supported` array:

[code]

- Then in Control Panel in Settings I check Czech language.

- Select dropdown next to the translatable fields has Czech language - great.

- When I go to my-site.org/cz/some-url **it throws 404.**

- Works if I overwrite

[2018-01-15 14:41] ddnetters opened #4722 "[ streams-platform ] Exception when on login with fresh install"
Streams-platform throws an exception when trying to log into the admin panel on a fresh install.

# Exception
[code]
## File
https://github.com/anomalylabs/streams-platform/blob/1.3/src/Addon/Module/Listener/DetectActiveModule.php#L107

# Steps to reproduce
1. `pyro new mysite`
2. `php artisan install`
3. Fill in login form at `mysite.localhost/admin`

[2018-01-15 14:45] ddnetters commented on #4722
Same goes for the other code in the handle function. `$module->getVendor()` gets called on an array.

[2018-01-15 14:52] bbrala commented on #4722
Hmm, just saw the same in a fresh install...

[2018-01-15 14:55] bbrala opened #4723 "php artisan make:addon my-addon.module.news fails"
When using dash in the addon name, creation fails.

[code]

When not using a dash, all is fine. Perhaps the input should be checked?

[2018-01-15 14:57] Piterden commented on #4723
`php artisan make:addon b_brala.module.news`

[2018-01-15 14:58] bbrala commented on #4723
Yeah, i understand the fix, but if the input is invalid, shouldn't that be checked by the command?

[2018-01-15 14:59] Piterden commented on #4723
It would be nice. Make a PR )))

[2018-01-15 15:02] ddnetters commented on #4722
Temp fix is to add
[code]

To the `AddonCollection`s `get()` function

Ryan is pushing a fix as we speak

[2018-01-15 15:06] Piterden commented on #4722
I use only `composer create-project`

[2018-01-15 15:15] ddnetters commented on #4722
Issue fixed see:
https://github.com/anomalylabs/streams-platform/commit/fa5f60c88e435be82d3847c6abab98bf7f0aa49d

[2018-01-15 15:15] #4722 closed, assigned to nobody

[2018-01-15 16:30] bbrala commented on #4723
@ddnetters Ah, just made a PR, it uses preg_match to check for valid charactes. I see in your PR that it just checks for dashes, which would still mean other characters would pass right?

[2018-01-15 16:36] RyanThompson commented on #4723
Thanks @bbrala

[2018-01-15 16:36] #4723 closed, assigned to nobody

[2018-01-16 19:06] ddnetters opened #4724 "[users-module] Users must have access to users module to access back-end"
When you login to the backend at `/admin`, the `/admin` page tries to redirect you to `/admin/dashboard`. However the `AuthorizeModuleAccess` middleware prevents this redirect and throws a 403 if the user's not allowed to atleast read the users stream.

## Steps to replicate
1. Create a user role that only has access to pages
2. Try to login with a user which has only that role

[2018-01-19 11:23] michvh-dev commented on #4717
After further research it is not the repeater but the datetimefield. When you want to change a datetime field value it is not changing. It is the latest version of the datetimefield

[2018-01-19 11:33] Piterden commented on #4720
What if you replace `form.render_fields` to just `form.render`?

[code]

[2018-01-21 11:48] Pixney-William commented on #4659
@RyanThompson is this something that would be very time consuming for you?

[2018-01-22 05:00] mattdillon100 opened #4725 "[streams-platform] Class 'TestCase' not found immediately after install"
Following the installation instructions and immediately running `phpunit` results in the following error:
[code]
I have tried installing using the web interface and the CLI but get the same result.

My phpunit.xml is unchanged.

PHPUnit version is **6.6.5**

[2018-01-22 16:36] RyanThompson opened #4726 "[files-module] Prevent nasty file names cause it breaks downloads."

[2018-01-22 18:01] pdring commented on #3559
Hi. Could you make your 3.0.3 version available please?

[2018-01-22 22:00] mattdillon100 commented on #4725
After looking into this a little more, it seems that namespacing isn't set up correctly for the test classes. Pyro installed Laravel 5.5 but the `TestCase` class (tests/TestCase.php) doesn't have any namespacing. Adding `namespace Tests;` changes the error to
[code]
when PHPUnit is ran.

Can we please get some feedback on this?

[2018-01-22 22:35] Piterden commented on #4725
You should develop only inside  your own addon, using Pyro. So, tests should be there too.

[2018-01-22 22:38] mattdillon100 commented on #4725
How are we to run application-wide tests? this being part of our deployment procedure.

By adding `"tests/TestCase.php"` to the autoload classmap in `composer.json` I have got tests running, but all fail with:
[code]

[2018-01-23 07:30] fryiee commented on #4719
This is absolutely a bug, and should be fixed ASAP. Broke a production site pretty badly.

[2018-01-23 07:33] vargvinter commented on #4725
@wildcard27 Try this: https://github.com/pyrocms/pyrocms/issues/4697

[2018-01-23 12:39] RyanThompson commented on #4715
I am taking a look at this now.

[2018-01-23 12:58] RyanThompson commented on #4715
Should take care of this! Thanks for the information guys.

https://github.com/anomalylabs/streams-platform/commit/2c3db2f499b3c5a99059591f793addfa670cd1ef

[2018-01-23 12:58] #4715 closed, assigned to RyanThompson

[2018-01-23 17:25] okaufmann commented on #4724
I had the same problem and solved it by giving access to the Dashboard by ticking the following Permission:

![image](https://user-images.githubusercontent.com/4414498/35290522-caed5ebc-006a-11e8-801f-bd3a8cf984f2.png)

[2018-01-23 17:33] okaufmann commented on #4724
I can confirm this behaviour...

[2018-01-24 00:40] mattdillon100 commented on #4725
@vargvinter Already tried. All tests still fail. You will see by the error I have referenced that the suggestions in that thread would not fix the issues.

@Piterden presumably you would have had all tests passing prior to release(?). Can you please explain how?

[2018-01-24 03:40] mattdillon100 commented on #4725
The open pull request (https://github.com/pyrocms/pyrocms/pull/4727) seems to fix all. Can we get an ETA as to when this will be implemented please?

[2018-01-24 19:36] RyanThompson opened #4728 "[streams-platform] Prevent unnecessary work in schema management"
For example sorting assignments should not modify the table unless the `sort_order` is dirty.

Check everything though.

[2018-01-25 00:22] Piterden commented on #4707
So, @vargvinter @mjlizard, does it work now?

[2018-01-25 01:22] fryiee commented on #4719
Fixed in https://github.com/anomalylabs/country-field_type/pull/13

[2018-01-25 01:23] fryiee commented on #4706
Did https://github.com/anomalylabs/datetime-field_type/pull/30 this merge fix your issue?

[2018-01-25 02:40] #4719 closed, assigned to nobody

[2018-01-25 06:41] vargvinter commented on #4707
Yes, creating custom theme did the trick.

[2018-01-25 06:45] #4707 closed, assigned to nobody

[2018-01-25 10:25] SergioMBS opened #4729 "Templates module fire/handle issue"
When running

`php artisan template:sync`

The flowing error happens

`Method Anomaly\TemplatesModule\Console\SyncTemplates::handle() does not exist`

The same things also happens when pressing the UI _Sync_ Button

[2018-01-25 10:30] SergioMBS commented on #4729
A pull request is available here

https://github.com/anomalylabs/templates-module/pull/5

[2018-01-26 01:13] fryiee commented on #4697
This isn't a fix btw, you just created a blank addon that had the same namespace in core that mimicks the test addon in vendor.

[2018-01-26 01:33] fryiee commented on #4726
@RyanThompson I'll look into this. Is this in the FileDownloader class itself?

[2018-01-26 01:41] fryiee commented on #4695
@RyanThompson this looks like it is working?

[2018-01-26 01:42] fryiee commented on #4698
I think this is probably best handled in theme. It's not a universal and requires fixing the position of form messages.

[2018-01-26 06:45] vargvinter commented on #4719
https://github.com/anomalylabs/country-field_type/pull/14

[2018-01-30 01:37] C-137D commented on #4660
i solve this by  running
$ composer dump-autoload
before
$ php artisan voyager:install --with-dummy

[2018-01-30 16:03] #4478 closed, assigned to nobody

[2018-01-30 19:58] zvineyard commented on #4273
It wasn't until I upgraded to PyroCMS 3.4 that I really saw the performance on my site decline. At the moment, I'm limited to non-SSD hosting. I've tried enabling opcache, fiddling with NFS, disabling xdebug, etc. I still get about a 5 second delay. Do I just need more processing power? Any other recommendations I should pursue?

[2018-01-31 09:20] oimken opened #4731 "[streams-platform] files-field_type is not working at streams-platform v1.3.95"
Files-field_type  got error even in core module.

Here is the way to reappear in Page-module:
1. if there is no page type with files-field_type assigned,  create a files-field_type add assign to a page type
2. create a new page with the page type
3. you will got  500, error log will have something like this:
```ErrorException(code: 0): array_filter() expects parameter 1 to be array, null given at

[2018-01-31 09:24] robinvoor commented on #4731
Got the same error, trying to create a page with the files-field_type returns:
[code]

[2018-01-31 09:25] theworkfounder commented on #4731
The same error, like you!

[2018-01-31 09:29] theworkfounder opened #4732 "[multiple field type] Multiple Field Type with lookup mode not working in Stream (1.3.95)"
When i assign a field type with lookup mode to a stream, it generate error like this:
`Argument 1 passed to Anomaly\MultipleFieldType\Table\ValueTableBuilder::setSelected() must be of the type array, null given, called in ...core/anomaly/multiple-field_type/src/MultipleFieldType.php on line ...`
PS: Only with lookup mode, tag mode work normal.

[2018-01-31 09:34] dwainscheeren commented on #4731
Got the same error here.

[2018-01-31 09:38] robinvoor commented on #4731
Alright I was testing other versions of the streams-platform, it appears using version 1.3.92 is not returning any errors anymore and thus I can successfully create a page again. (also used `php artisan assets:clear` and `php artisan cache:clear`)

[2018-01-31 09:54] oimken commented on #4731
@theworkfounder checked.  Revert this commit will make the error away:
https://github.com/anomalylabs/streams-platform/commit/2c3db2f499b3c5a99059591f793addfa670cd1ef

[2018-01-31 11:49] Dinushasilva commented on #4732
Same issue, only appears to have when creating a new entry.

[2018-01-31 12:55] RyanThompson commented on #4731
On it

[2018-01-31 13:12] theworkfounder commented on #4732
@Dinushasilva
Quick fix: downgrade to stream platform: 1.3.92 and wait for update!

[2018-01-31 14:25] RyanThompson commented on #4732
The null value is required so that translations for non-primary locales can be left blank. So I can't rightly revert the commit. However, this should fix it properly - thanks for the heads up!

https://github.com/anomalylabs/multiple-field_type/commit/900d803dc79961f79d40037e7c97aa7d2c4cb370
https://github.com/anomalylabs/files-field_type/commit/2d104c004a2fe43dfc209dd6a0728ed85fd23167

[2018-01-31 14:25] #4732 closed, assigned to nobody

[2018-01-31 14:25] RyanThompson commented on #4731
Thanks for pointing that out @oimken - huge help!

The null value is required so that translations for non-primary locales can be left blank. So I can't rightly revert the commit. However, this should fix it properly - thanks for the heads up!

https://github.com/anomalylabs/multiple-field_type/commit/900d803dc79961f79d40037e7c97aa7d2c4cb370
https://github.com/anomalylabs/files-field_type/commit/2

[2018-01-31 14:25] #4731 closed, assigned to nobody

[2018-01-31 21:22] RCrowt commented on #4273
I don't know if this is of any use but I did some performance experimentation last week. I am building a data importer for a project so I benchmarked the various methods of importing data and the results were very interesting..

For the test I inserted 10,000 records from a CSV file and timed how long it took to to iterate and insert the rows...

- **DB:Insert()**  - A simple array passed straight

[2018-01-31 22:11] RyanThompson opened #4733 "[streams-core] Assignment labeling"
Change assignment table column name -> label
Make the placeholder for each label, instructions, warning, the actual value to be used by default if any.

[2018-02-01 09:51] ddnetters opened #4734 "[ relationship-field_type && accelerant-theme && repeater-field_type ] Variable use crashes assetic"
When you've got a repeater which contains a relationship field type it crashes assetic in the backend. The cause being the fact that the repeater loads css on the fly when adding a new row ('add row'). The generation of css happens after everything has been loaded. This mean any newly generated css files don't have access to the theme's variables.

The relationship field type needs those variables

[2018-02-01 12:44] RyanThompson commented on #4734
Every field type needs to have the variables ripped out of it and use the equivalent value used instead from the Accelerant theme - wanna tackle a few of these and send in PRs? Would be greatly appreciated!

[2018-02-01 22:27] edster commented on #4734
Alot of these got patched up today ^.^

[2018-02-01 22:36] edster opened #4735 "[geocoder-ft] Function when google is undefined doesn't work."
Was trying to use a geocoder FT in the frontend in a repeater.

Talked to Piterden and `this` in ` scriptTag.src = this.dataset.include; // set the source of the script to your script` results to window, which doesn't have the dataset attribute, so it just fails out.

Got around this by including the google maps API in my form builder.

Below is the offending function, found in input.js
[code]

[2018-02-02 11:13] #4734 closed, assigned to nobody

[2018-02-05 05:25] mattdillon100 opened #4736 "Labels not showing correctly for custom form in admin"
I have created a new stream (called clients) and set up the migrations:

Fields migration:
[code]

Stream migration
[code]

The labels for the form fields in the 'Add Client' form in admin are showing as:

`pivotal.module.clients::field.name.name`, `pivotal.module.clients::field.slug.name`, etc.

[2018-02-05 05:26] mattdillon100 commented on #4736
![image](https://user-images.githubusercontent.com/4284273/35789581-e614f614-0a88-11e8-868e-30b896bb0564.png)

[2018-02-05 05:27] Piterden commented on #4736
You need to fill translations under `resources/lang`

[2018-02-05 05:30] mattdillon100 commented on #4736
Damn. So much repetition! Can this not auto populate for the default language using the field name?

[2018-02-05 05:35] Piterden commented on #4736
Sorry, I don't understand what you want to achieve...

[2018-02-05 05:51] mattdillon100 commented on #4736
A colleague has worked this out. By adding a 'name' key to the field declaration part of the stream migration, it uses that by default. This should probably be documented.

Basically (for anyone wondering in future) the `$fields` array in the stream migration should contain the `name` key. Meaning my example above changes to:

[code]

[2018-02-05 05:52] Piterden commented on #4736
It is the wrong way!

[2018-02-05 05:53] Piterden commented on #4736
Check this out https://gitlab.com/snippets/1670608

[2018-02-05 05:56] mattdillon100 commented on #4736
I don't see anything in that link that refers to what I am trying to achieve.

[2018-02-05 05:57] Piterden commented on #4736
It doesn't mean that there is nothing.

[2018-02-05 06:04] mattdillon100 commented on #4736
This is an extract of the form fields handler (`\Anomaly\Streams\Platform\Field\Form\FieldFormFields`):

[code]

This shows that the form builder is using the `field.name.name` value as the label. So I have set this in the `$fields` array

[2018-02-05 13:16] vargvinter commented on #4712
Fixed here
https://github.com/anomalylabs/boolean-field_type/pull/22

[2018-02-05 13:16] #4712 closed, assigned to nobody

[2018-02-05 22:47] mattdillon100 commented on #4736
After playing around with this, I have decided to reopen as an issue.

I understand that you are not meant to use the `name` key when creating the streams as this will not be overridden by the language file.

The issue here is that, just to get the basics of a field working, you need to declare the field's existence in 3 files:

[code]

Surely, the default functionality should be that, if there is

[2018-02-06 10:26] Piterden commented on #4736
https://github.com/anomalylabs/streams-platform/blob/1.3/src/Support/_helpers.php#L28-L41

Check it out.

[2018-02-06 15:43] RyanThompson commented on #4736
@wildcard27 ya you can definitely put the name / label / instructions right in the migration and I have done this many times!

You can also set `LAZY_TRANSLATIONS=true` in your .env file and it will guess most of this for you.

AND.. on top of that I am indeed working on adding more and more to the generators all the time so these will indeed be generated in the future.

I almost always use LAZY_T

[2018-02-06 15:45] RyanThompson commented on #4736
The reason it doesn't do this by default is because it can make it difficult to spot missing translations during addon development.

I could see enabling lazy translations by default with debug mode off - and when debug mode is ON it shows real results (misising translations for example)

But again generators will really help with this in the near future.

[2018-02-06 15:45] #4736 closed, assigned to nobody

[2018-02-06 15:46] #4718 closed, assigned to nobody

[2018-02-06 15:47] #4704 closed, assigned to nobody

[2018-02-06 15:47] #4703 closed, assigned to nobody

[2018-02-06 15:48] RyanThompson commented on #4703
This has been resolved and twig2 versioned up in a new branch for streams platform 1.3

[2018-02-07 18:47] Pixney-William opened #4737 "[datetime-field_type] Allowed to enter time, but data not stored."
When using the datepicker (time) you have a field when clicking shows a time selector. However, you are also able to enter a time manually.

If you do that, and hit save. It's not stored.

Now, if you are not able to do that, you shouldn't be allowed to enter a value without the selector if it can't be saved.

[2018-02-08 09:21] kiltedup opened #4738 "[templates-module] No permissions"
Templates module has no permissions in resources/config so is accessible to anyone with Control Panel access.

[2018-02-09 13:10] Pixney-William opened #4739 "Accelerante Theme ; Tables missing pagination"
Main problem is that we are missing pagination.

Second problem is that the select box, always jumps back to 5 results. See last image even though i have selected 10 results (query string).

## Here you see 6 results

![image](https://user-images.githubusercontent.com/31292231/36029219-9b5c4f42-0da2-11e8-9b82-448118feaeca.png)

## Here you have 5 results, but without pagination

![image](https://u

[2018-02-09 13:18] vargvinter commented on #4739
Yup, pagination is broken.

[2018-02-09 13:18] Pixney-William commented on #4739
Thank you for confirming @vargvinter

[2018-02-09 13:19] vargvinter commented on #4739
No problem.
Just saw it minutes ago in my app, but you were faster with posting this issue. :)

[2018-02-10 14:07] Pixney-William commented on #4739
This is now done

[2018-02-10 14:07] #4739 closed, assigned to nobody

[2018-02-12 22:53] adrianfalleiro opened #4740 "[file-field_type] Upload/Select modal does not work with multiple locales"
Hi there, I have noticed an issue with the File Field Type when working across multiple locales in the admin.

The issue occurs in the entry edit/creation screen and affects the ability to select/upload files for multiple locales.

The Field Field Type modal only appears for the first locale, and not any of the others. So, for example, if I have two locales (in this order): `en` and `fr` - the mod

[2018-02-14 19:06] edster opened #4742 "[form-builder] -- Setting a message on field over writes all error messages"
Given the below example,  `'messages'     => ['required' => 'You must accept the Terms & Conditions.',],` will over write ALL error messages. So if you have anouther required field, say phone, if you submit the form, it will ALWAYS only show `'You must accept the Terms & Conditions.',`. Even if the `accept` field is checked off.

[code]

[2018-02-14 20:07] edster commented on #4742
So trying to work through this, I found that `FormMessages::class` is iterating through all fields and looking for custom messages, if it finds them, is trying to set them. However it is just setting the `$rule -> message`

This ends up just returning the last custom message combination.

I would think you would want to have an array of fields->[rule->message]
` $messages[$field->field] = [$rule =

[2018-02-14 20:49] edster commented on #4742
Fixed!

https://github.com/anomalylabs/streams-platform/pull/539

[2018-02-14 21:17] edster commented on #4742
Merged into 1.3

[2018-02-14 21:17] #4742 closed, assigned to nobody

[2018-02-15 03:24] fryiee opened #4743 "[streams-platform] Table Filters don't prepend table prefix."
As title. Method likely responsible:

[code]

L308 - 313 anomaly\streams-platform\src\Ui\Table\Table.php

[2018-02-15 05:01] fryiee opened #4744 "[streams-platform] Buttons only allow href and not route name."
We should add support either through the HrefGuesser or add a separate attribute for buttons where you can specify `route` and point to a route name.

[2018-02-17 22:20] emergingdzns opened #4745 "[api-module] API Module is broken"
Ok so I've installed the API module 2.0.2.

I can't authenticate ANYTHING at all. It simply won't work. I'm able to use the admin panel and created a new client.

I then went in and did try adding the callback route as shown in the documentation. When I try to call it I get the same error I get when I run php artisan tinker...
[code]
I know that user 300 exists and works (it's even an admin user).

[2018-02-19 16:18] RyanThompson commented on #4740
Merged

[2018-02-19 16:18] #4740 closed, assigned to nobody

[2018-02-19 16:18] RyanThompson commented on #4740
Thank you!

[2018-02-19 16:48] keribend commented on #4721
I have this problem also, the published config files are only loaded after the request has already been modified by `Anomaly\Streams\Platform\Http\Kernel::defineLocale`.

[2018-02-20 06:20] fryiee opened #4746 "[select-field_type] type coercion"
Dropdown is automatically selecting options with key 0 due to coercion of empty value `''` .

[2018-02-20 06:32] fryiee commented on #4746
Fixed in https://github.com/anomalylabs/select-field_type/pull/15

[2018-02-20 19:11] girvydas opened #4747 "[streams-platform] ControlPanelBuilder events"
ControlPanelBuilder has no “fire()” methods.
Should have all the ready, building, built, etc

[2018-02-21 01:37] Piterden commented on #4747
Why do you need it?

[2018-02-21 04:09] adrianfalleiro commented on #4740
Thanks @RyanThompson

[2018-02-21 09:44] girvydas commented on #4747
There's some snippets form chat with Ryan:

Where is no possible way to add “Module section” button outside of class extended by `Anomaly\Streams\Platform\Addon\Module\Module`.
I’m trying to add button from FormBuilder method onBuilt like this:
[code]
---
ryanthompson [6:25 PM]
The CP sections are built through the ControlPanelBuider

So you would onBuilt there pry

[2018-02-21 14:22] Piterden commented on #4747
Set it inside

[2018-02-21 15:01] girvydas commented on #4747
I need to check things before adding buttons. It would be nice to set buttons dynamically.

[2018-02-23 12:21] afbora commented on #3559
I have no files anymore, sorry.

[2018-02-26 05:01] fryiee commented on #4747
I agree with this. No reason not to add events wherever possible - helps in overriding without forcing to extend class.

[2018-02-26 05:03] Piterden commented on #4747
So set it dynamically, @girvydas

[2018-02-26 06:06] girvydas commented on #4747
@Piterden How to set it? There is no events/hooks to bind on. Could you give example?

[2018-02-26 08:46] Piterden commented on #4747
Please describe your goal more detailed. Without your comments related to a programming. Just with human language.

[2018-02-26 09:05] girvydas commented on #4747
Situation: There is module "sales" with streams called "Sale", "Payment" and these has own Control Panel sections with buttons new and etc.
We need to add button "Generate payment" at "Sale form view" (SaleFormBuilder) to top of the section (there other buttons appears: New, edit..), BUT this button should appear only then status of "Sale" is __whatever__, so all logic should be at FormBuilder and

[2018-02-26 09:15] Piterden commented on #4747
[code]

[2018-02-26 12:20] #4746 closed, assigned to nobody

[2018-02-26 12:31] girvydas commented on #4747
By doing this way it is possible to hack situation, but is it the best solution?
What is the reason not to add "ready, building, built" events?

@Piterden doing it this way code gets coupled and there is unnecessary route checks:
[code]

Sorry for getting this deep into details. My case is solved. But like someone mentioned, what is the reason not to add events?

[2018-02-26 12:39] Piterden commented on #4747
Look at my example
[code]

It is a good way. Add the condition to not include unnecessary things.

[2018-02-26 12:40] fryiee commented on #4747
PR with CP events here: https://github.com/anomalylabs/streams-platform/pull/543

[2018-02-27 00:47] fryiee commented on #4747
@girvydas these events were merged.

[2018-02-27 06:39] girvydas commented on #4747
Seems like this issue can be closed.

[2018-02-27 06:39] #4747 closed, assigned to nobody

[2018-02-28 14:53] pdring opened #4748 "SQLSTATE erros for simple php artisan updates"
Hi,

Using https://pyrocms.com/help/developer-tools/cheatsheets/upgrading as a guide, I **cd** into my site's PyroCMS folder on my local machine and try to run one of the **php artisan** commands but I always get the same errors:

In Connection.php line 664: SQLSTATE[HY000] [2002] No such file or directory (SQL: select * from `default_settings_settings`)
In PDOConnection.php line 47: SQLSTATE[HY00

[2018-02-28 15:04] pdring commented on #4748
Solved it by adding **'unix_socket' => '/Applications/MAMP/tmp/mysql/mysql.sock'** into **database.php** under **mysql**.

[2018-02-28 15:04] #4748 closed, assigned to nobody

[2018-03-01 13:55] josephbuarao opened #4749 "Do you need Filipino Translation for Pyrocms?"
Hi there,

Good day and how are you? I hope this message finds you well.

I am Joseph Buarao , who has been doing high quality Filipino and Tagalog translations for several projects.

Consider this message as my letter of application. I am a web developer by profession and an experienced Filipino translator - these are on top of being an experienced web developer with more than 6 years of experien

[2018-03-02 03:36] Piterden commented on #4735
You have a few bad mistakes in your JS, @edster

[code]

[2018-03-02 03:42] Piterden commented on #4745
Try next way:
[code]

[2018-03-02 06:16] emergingdzns commented on #4745
Actually, @RyanThompson fixed it. There were a couple bugs in the module.

[2018-03-02 06:16] #4745 closed, assigned to nobody

[2018-03-02 21:05] edster commented on #4735
@Piterden that wasn't my code, that was the current function.

[2018-03-04 13:46] narayandhoj opened #4750 "[variables-module] PgSQL has `Not null Violation Error` while creating variable group"
I am using pgsql 10 and I have freshly installed pyro with Pgsql. But when I tried creating new variable group it shows :

SQLSTATE[23502]: Not null violation: 7 ERROR: null value in column "config" violates not-null constraint DETAIL: Failing row contains (29, variables, site, variables_, id, id, f, f, f, f, f, null, f, null). (SQL: insert into "default_streams_streams" ("prefix", "namespace", "s

[2018-03-04 13:55] Piterden commented on #4750
Try 9th version. PHP v7.2 doesn't work fully too.

[2018-03-05 14:58] RyanThompson opened #4751 "[streams-platform] Deleted By ID column needed."

[2018-03-05 22:35] #4749 closed, assigned to nobody

[2018-03-07 12:41] ddnetters opened #4752 "[wysiwyg-field_type] HTML doesn't persist"
When editting raw HTML is a wysiwyg it doesn't presist. When saving the field twice it'll remove the HTML on the second save.

[2018-03-09 17:04] RyanThompson commented on #4744
Ya I say a route parameter could be checked for and made into href?

Or we could use the `hasRoute` method I added (cause it fails in Laravel I think).

Has route could collide with simple routes/urls like `login` is my only concern that route. Pun not intended.

Thoughts?

[2018-03-09 17:06] RyanThompson commented on #4656
I'll likely revisit this when vanilla-izing the FT later.

[2018-03-09 17:06] #4656 closed, assigned to RyanThompson

[2018-03-09 17:07] RyanThompson commented on #4642
This was fixed a while ago. Multiple FT is working as it should.

[2018-03-09 17:07] #4642 closed, assigned to Piterden

[2018-03-09 17:09] RyanThompson commented on #4585
Ya this is known - I don't see a huge problem with it and I had the damndest time trying to sort out the query prior. Might take another whack at it with the FT update though removing jQuery and cleaning it up.

[2018-03-09 17:09] #4585 closed, assigned to nobody

[2018-03-09 17:11] RyanThompson commented on #4582
I've been playing around with this recently and I've found that hooks were a good solution. No changes needed and it's BC but I haven't fleshed anything out as it's been waaaay back on the back burner. If you are still interested in doing something here I've been on a feature binge and can help you with getting a PR put together.

[2018-03-09 17:12] #4546 closed, assigned to RyanThompson

[2018-03-09 17:16] RyanThompson commented on #4752
Errrr.. all of the HTML? Like it wipes out your content? I am not able to recreate this. Do you have a step by step I can follow to recreate?

[2018-03-09 17:18] RyanThompson commented on #4743
If you are adding a filter directly to the table POST-BUILD you will need to accomodate the prefix yourself. The object is already made and build cycle complete. Best to add the filter to the builder earlier in the cycle.

[2018-03-09 17:18] #4743 closed, assigned to nobody

[2018-03-09 17:25] RyanThompson commented on #4738
https://github.com/anomalylabs/templates-module/commit/102ad0aa549181b2830c3b86b76632b3b0c1d412

[2018-03-09 17:25] #4738 closed, assigned to nobody

[2018-03-09 17:34] RyanThompson commented on #4733
https://github.com/anomalylabs/streams-platform/commit/2e06da052d2fe6b2400ca20d14cffe0fdef0db62

[2018-03-09 17:34] #4733 closed, assigned to nobody

[2018-03-09 17:35] RyanThompson commented on #4737
This has been fixed prior by not allowing custom/manual input!

[2018-03-09 17:35] #4737 closed, assigned to nobody

[2018-03-09 17:36] #4729 closed, assigned to RyanThompson

[2018-03-09 17:37] #4735 closed, assigned to nobody

[2018-03-12 01:30] fryiee commented on #4743
@RyanThompson how do you mean? Are you saying the filters should by named with a prefix as their slug if it is going to have one? Because I am definitely not adding it post build - the filters are set in the builder, and then I just set the prefix at runtime. I would expect this

Here's some example code:
TableBuilder:
[code]

And in my controller:

[code]

That will not correctly append the prefi

[2018-03-12 01:36] fryiee commented on #4743
I believe the issue remains because it does not add the prefix to the filter.

[2018-03-12 21:27] Pixney-William opened #4753 "Pages with not enabled language should throw a 404"
## Filing this issue since it hasn't been done

jeroendewaele [Today at 10:44 AM]
in #support
What’s the point of ‘enabling’ languages, for ex. only dutch & english, if you still can visit all the pages in other languages?
As an example: https://pyrocms.com/de/documentation or https://pyrocms.com/it/documentation etc
Result: you get the same page (bad for google indexing because duplicate content)

[2018-03-13 01:07] Piterden commented on #4750
@narayandhoj Any updates?

[2018-03-13 03:07] Piterden commented on #4753
You took out the dirty linen :joy:

[2018-03-13 17:03] girvydas opened #4754 "Feature request: multiple polymorphic-field_type"
Field type similar to grid-field_type with option to select (assign) related entries, but not create new ones.

Grid is strictly create only.. but it could be starter.
And between that and the multiple FT code should be able to cobble something together.

[2018-03-14 05:03] narayandhoj commented on #4750
@Piterden I tried both 9.2 and 9.6 version error still there. For now I have altered the streams table and working.

[2018-03-14 06:27] Piterden commented on #4750
Make a PR for those changes

[2018-03-16 11:41] Piterden commented on #4750
Either, could you please describe to me what I need to do to repeat it? Step by step...

[2018-03-17 08:36] #4578 closed, assigned to nobody

[2018-03-17 08:36] #4556 closed, assigned to Pixney-William

[2018-03-17 08:37] Pixney-William commented on #4594
Has this been completed @RyanThompson so that we can close the issue?

[2018-03-17 08:38] Pixney-William commented on #4603
Has this been fixed so we can close the issue @RyanThompson ?

[2018-03-17 08:39] #4671 closed, assigned to nobody

[2018-03-17 08:39] Pixney-William commented on #4681
Has this been fixed so we can close the issue @RyanThompson ?

[2018-03-17 08:40] Pixney-William commented on #4685
Reminder to myself to test to see if this has been fixed.

[2018-03-17 08:42] Pixney-William commented on #4713
Closing this issue since i guess it's not to be fixed.

[2018-03-17 08:42] #4713 closed, assigned to nobody

[2018-03-17 09:18] ddnetters commented on #4753
Yes, please

[2018-03-20 20:48] ThinkGraphical commented on #4568
Any update on this?

[2018-03-26 20:42] saintsatplay2015 opened #4756 "login"
When testing local installation of PyroCMS and attempting to reset the admin login password I get the following error thrown in the browser (after entering and submitting the admin e-mail address):

mb_strtoupper() expects parameter 1 to be string, array given

Above error exception is thrown at vendor/laravel/framework/src/Illuminate/Support/Str.php381.

Any guidance or suggestions for how to res

[2018-03-27 02:05] Piterden commented on #4756
It's strange, but I have a success changing admin's password on my local installation.

Could you give some more info about what you did exactly?

[2018-03-29 05:20] fryiee opened #4757 "[multiple-field_type] multiple tags mode fields have the last field's data."
As title.

You can replicate by putting two multiple FTs in one form with different data. The first field will have the second field's values.

I haven't tested on tags FT to see if issue exists there also.

[2018-03-29 05:23] fryiee opened #4758 "[select-field_type] Select and checkboxes fields created using FieldRepositoryInterface render correctly when used but cannot be edited in FieldsController"
As title. To replicate, use for example, Pages Module, and create a select field from the admin UI. This will save the configuration using line breaks between values, and not arrays. Create the same select via FieldRepositoryInterface and although the field is visible in the FieldsTableBuilder output, clicking error results in a `Array to string conversion` error. This is due to the edit page's fi

[2018-03-29 05:24] fryiee opened #4759 "[streams-platform] /documentation/streams-platform/1.3/the-basics/views has wrong content"
As title. Brings up Core Concepts rather than views copy.

[2018-03-29 05:25] fryiee opened #4760 "[files-module] Better metadata and organisation of files"
As title. The files module should support nested folder structures.

[2018-03-29 05:27] fryiee opened #4761 "[files-module] Disks created are not synced with Storage."
As title. To replicate, create a disk, such as `local_private` via admin UI. Then attempt to retrieve it using `Storage::disk('local_private')` . This is the output:
[code]

The workaround to get it load properly requires you to set config/filesystems.php to have a new disk, with the following:
[code]

The driver must equal the slug of the disk, and root can be anything as once it is set here the

[2018-03-29 06:04] fryiee opened #4762 "[file-field_type] We should be able to view/download files that are upload to a field from the FT itself."
As title. There should be controls to view/download directly from the file/s FT screen once it has been uploaded and selected. For example, in below, either hyperlinking the preview / icon itself or adding another View / Download button would be most appropriate.

![image](https://user-images.githubusercontent.com/5254791/38072685-3d363166-3373-11e8-93cd-6b96ec9ea715.png)

This applies to files FT

[2018-03-29 06:39] fryiee commented on #4762
https://github.com/anomalylabs/files-field_type/pull/20
https://github.com/anomalylabs/file-field_type/pull/29

Example screenshot from PR:
![image](https://user-images.githubusercontent.com/5254791/38073784-2e16f8aa-3378-11e8-91ec-97f317a2cb91.png)

[2018-03-29 06:47] fryiee commented on #4758
On investigation this is in the ParseOptions section of the FT.

[2018-03-29 07:03] fryiee commented on #4758
L101 of Anomaly\Streams\Platform\Form\Command\GetConfigFields:
[code]

I believe this is responsible. This is just doing a basic array set on the value without doing any parsing to / from.

[2018-03-29 07:22] fryiee commented on #4758
Doing this to convert the option handler to a string so it can be parsed directly in the value works, but it seems quite smelly (not just the awkward array uses). What are your thoughts on this @RyanThompson ?

In SelectFieldType:

[code]

[2018-03-29 07:28] fryiee opened #4763 "[repeater-field_type] We need some way of interacting/passing the parent form to the repeater form."
Currently there's no easy way to get the repeater form builder to know about its parent. This is important as it breaks the pattern that we often use for setting runtime specific information on a form. For example, specifying that the form is using a parent model via the use of a setSomething() / getSomething() approach in the form builder can't be achieved in the repeater form as we have no way o

[2018-04-01 14:35] Pixney-William opened #4764 "blocks_module : block.id not accessible"
https://github.com/anomalylabs/blocks-module/blob/1.0/resources/views/blocks/wrapper.twig#L2

[2018-04-01 19:22] RyanThompson commented on #4764
Fixed: https://github.com/anomalylabs/blocks-module/commit/aa4621d0038d379f3fa961ad8086285a2c49e933

[2018-04-01 19:22] #4764 closed, assigned to nobody

[2018-04-01 19:24] RyanThompson commented on #4762
I like it! Ima put those into a dropdown group on the edit and merge (aside from the brown.. lol)

[2018-04-01 19:25] RyanThompson commented on #4761
So this needs to be in config earlier than we are adding it then?

[2018-04-02 05:18] fryiee commented on #4762
@RyanThompson the brown is just brand primary.

[2018-04-02 05:20] fryiee commented on #4761
Seems that way.

[2018-04-03 08:02] adrianfalleiro commented on #4711
@dwainscheeren I came across this issue too.

From my investigation, it appears that when `config('app.debug')` is set to true, `MailServiceProvider` is initialised before the PyroCMS addons have loaded. This means that the `config('mail.from')` value is being read directly from the values in the `app/config/mail.php` file and not being overridden by PyroCMS.

Since the `MailServiceProvider` is a

[2018-04-05 11:55] girvydas opened #4765 "[streams-platform] Streams config - register listeners"
There is no additional array for listeners to register in "config/streams.php".

[2018-04-05 12:10] Piterden commented on #4765
Use the service provider for placing listeners inside.

[2018-04-05 12:17] girvydas commented on #4765
It is not always suitable. Ex.:
I need to bind listener on  "AddonsHaveRegistered" event while running installer. Non of module service providers are loaded yet.
Only way to bind listener is to use "app/Providers/EventServiceProvider.php". But it would be nice to have Laravel independent solution.

[2018-04-05 15:43] Piterden commented on #4765
Can't imagine the Laravel independent listener. Events is the part of Laravel and not the part of PHP.

[code]

[2018-04-06 06:51] girvydas commented on #4765
I'm not talking about Laravel independent listeners or events.
It would be nice to have ability to register listeners not directly in Laravel "core" project ("app/Providers/EventServiceProvider.php"), but via "config/streams.php", just like commands, schedulers and etc. It would be more flexible.

[2018-04-06 06:53] Piterden commented on #4765
Developing under the `app` folder is the bad practice for Pyro. You should place all your code into your custom addons.

[2018-04-06 06:57] girvydas commented on #4765
What's what I'm talking about.
In file https://github.com/pyrocms/pyrocms/blob/3.4/config/streams.php could be added something like:
[code]

[2018-04-06 07:07] Piterden commented on #4765
Man, you don't need it. You can include there the service provider and bind listeners inside. Anyway, no one listener from `/config/streams.php` never be init before service providers.

[2018-04-06 07:39] girvydas commented on #4765
As I mentioned before, my problem was when I needed to bind listener on "AddonsHaveRegistered" event while running installer. When Pyro runs installer, it skips modules and extensions service providers registering (vendor/anomaly/streams-platform/src/Addon/AddonProvider.php line 133 and 137) and there is no way to include/bind listeners in service providers.

[2018-04-06 13:03] fryiee commented on #4765
@girvydas what's the use case for it? I'm onboard with this one 👍 just need to know what to be testing any PR against.

Just to confirm:

* You're trying to hook into `php artisan install` but any SP from an addon isn't loaded;
* You don't want to add any code directly to `app/`;
* You want to have a way to bind to those events fired during installation;
* and whatever code you're calling is NOT c

[2018-04-06 13:12] mmodler opened #4766 "[streams-platform] SetMetaInformation command overwrites own timestamps"
Hi,

i tried to set updated_at of a model manually for seeding using the laravel feature $model->timestamps = false, which disables timestamp auto-update.

But on save the saving event dispatches the SetMetaInformation command:
[code]

This will overwrite my updated_at. I think:

- It might be a copy-and-paste bug (the code is a little pointless/redundant) and $this->entry->updated_at should only

[2018-04-06 13:17] fryiee commented on #4766
@mmodler your first point isn't correct - in your example, it would only ever get updated_at set once. The current code is correct: it's checking that it has 'created_at' set, which would mean that it has been created before and is now being updated.

It should just check the timestamps flag as you've suggested.

[2018-04-06 13:21] fryiee commented on #4766
https://github.com/anomalylabs/streams-platform/pull/552

[2018-04-06 13:37] mmodler commented on #4766
But why the double logic, laravel will update updated_at?

If it would set it only if updated_at is null, it would make more sense?

EDIT: The created_at part does this, only set if not set before...

[2018-04-06 13:53] fryiee commented on #4766
@mmodler it seems that EloquentModel doesn't automatically updating using Laravel timestamps, so it's manually set anyway - which explains why Laravel timestamps updates aren't used. See https://github.com/anomalylabs/streams-platform/blob/1.3/src/Model/EloquentModel.php#L31

This is because Laravel doesn't have created_at_id/updated_by_id by default. Meaning my PR will need to be adjusted.

The l

[2018-04-06 14:03] fryiee commented on #4766
I think the simple solution is to use SetMetaInformation for the updated_at_id and created_at_id, but remove the updated_at / created_at set completely and use the inbuilt Laravel timestamps setter for that - although I'm not sure what impact that may have on core and whether detaching the setters will cause any problems. @RyanThompson may need to weigh in on this.

[2018-04-06 14:19] mmodler commented on #4766
You're absolutely right, laravel timestamps are disabled by default. But this is a very unintuitive solution i think - and you definitely need a way to save custom timestamps (for example on data import).

[2018-04-06 14:28] girvydas commented on #4765
1. yes
2. yes
3. yes
4. not sure

In my case, I'm binding listener for "AddonsHaveRegistered" event and on binded listener calling code from my module. Basically I run my command "SortRegisteredAddons" and sort order of addons they install.

[2018-04-14 07:06] #4752 closed, assigned to nobody

[2018-04-17 06:46] fryiee commented on #4761
@RyanThompson any thoughts on fix here?

[2018-04-17 06:51] fryiee opened #4767 "[streams-platform] Section tabs with views do not translate via trans()."
As title. Can be replicated by creating a section in a form builder that has a tab with a custom view. This custom view should call `trans()`. The resulting string will not be properly translated (using a normal addon namespace string such as `anomaly.module.users::etc...`

[2018-04-17 07:16] fryiee opened #4768 "Select all checkbox is not working."
Traced to the following issue:
`ReferenceError: event is not defined actions.js:32:17`

[code]

event needs to be added to event listener closure.

[2018-04-17 07:18] fryiee commented on #4768
https://github.com/anomalylabs/streams-platform/pull/554

[2018-04-17 07:28] fryiee opened #4769 "[streams-platform] Readonly fields are displayed in form but aren't saved."
As title. To replicate, create a form builder with a readonly field. The field will be present in the form builder (albeit readonly), but on save will not populate the field in the DB.

[2018-04-17 07:32] fryiee commented on #4769
Seems related to this code (EloquentFormRepository L92-96):

[code]

Assuming this is intended - is it necessary to set these values manually on the form builder via getters/setters, then set the value programmatically before saving, with locked/hidden values only being used for display?

[2018-04-17 07:40] fryiee commented on #4769
I realised I answered my own question (and got my method name locked confused with readonly). This can be ignored.

[2018-04-17 07:40] #4769 closed, assigned to nobody

[2018-04-18 11:40] RyanThompson commented on #4766
At the time Laravel didn't have auto timestamps. Let me see what I can do real quick.

[2018-04-18 12:08] RyanThompson commented on #4766
Fixed: https://github.com/anomalylabs/streams-platform/commit/50d8775596a47fb9542b6436e32df3fc19f26bdc

[2018-04-18 12:08] #4766 closed, assigned to nobody

[2018-04-18 12:22] RyanThompson commented on #4768
Thanks again @fryiee !

[2018-04-18 12:22] #4768 closed, assigned to nobody

[2018-04-18 12:39] RyanThompson commented on #4765
I've thought about this one too and have been meaning to do it for a bit. I'll get er done!

[2018-04-18 12:40] RyanThompson commented on #4765
For me.. it's just easy / early / clean. 3 things I like.

[2018-04-18 12:57] RyanThompson commented on #4761
I've not been able to dig into this yet but I feel like the storage manager service provider could yield some insight as to how to replace config properly so it's not required so early.

[2018-04-19 12:08] RichardMBS opened #4772 "[streams-platform] Password reset form broken due to form builder changes"
When you request a password reset and click the link you will get the following error...

`Method Anomaly\UsersModule\User\Password\ResetPasswordFormCriteria::__toString() must not throw an exception, caught ErrorException: Array to string conversion`

When the password reset form is being built it adds fields using the 'FormBuilder::addFields()' method. Recent changes to this method have added a

[2018-04-27 13:56] fryiee commented on #4767
@Piterden this is a bug, not a feature.

[2018-04-28 07:42] abhishekyagnik opened #4773 "[Hosting Error] Cms taking up invalid path on shared hosting subfolder"
Hi, I am getting following error because the path is invalid.
Somehow, cms is repeating names of the path

[code]

Following is the structure:
Domain: SOMEAPP.com/release
The public folder contents are in release directory too

I have moved the public folder and have made necessary laravel changes in the public index.php for boostrap

Is there anything else we need to change for pyrocms to work?

[2018-04-28 08:40] Pixney-William commented on #4659
@RyanThompson have you had time looking into this issue yet? Bugs me:)

[2018-04-29 15:06] Pixney-William opened #4774 "Cache (model) is not cleared correctly when editing the grid"
Chat me up @RyanThompson when you see this and let's go over it!

[2018-04-29 15:30] Piterden commented on #4773
Changes should be exactly the same as for clean Laravel installation.

[2018-04-29 16:47] RyanThompson commented on #4774
Can you update and check this again. There was a couple issues in Grid cache that got sorted out yesterday.

[2018-04-29 16:50] Pixney-William commented on #4774
Well i did a composer update 2 hours ago and that didnt help.. ill check locally now though

[2018-04-29 16:54] Pixney-William commented on #4774
Im on grid 1.3.0 , updated now,  doesn't work @RyanThompson

[2018-04-30 19:32] Pixney-William commented on #4774
Do not forget this mr @RyanThompson

[2018-04-30 20:00] RyanThompson commented on #4774
Fixed: https://github.com/anomalylabs/streams-platform/commit/da57de1cf32ab777c6b317d2d73c502bdd31bf6d

[2018-04-30 20:01] #4774 closed, assigned to nobody

[2018-05-01 09:51] girvydas opened #4775 "[streams-platform] Installation error on eager loaded addons"
Installation fails if "sitemap-extension" is not required in composer.json
This occured after streams-platform update.
At "version": "v1.3.132" had no errors.

But at streams version:
` "name": "anomaly/streams-platform",
            "version": "v1.3.198",` any artisan command fails.

Potential cause:
  `resources/streams/config/addons.php` eager/deferred addons are loaded in some paths collection

[2018-05-01 09:53] girvydas commented on #4775
Test this one https://github.com/anomalylabs/streams-platform/commit/a260dba768480dedffdc2a3028db013a707cb2fd

[2018-05-02 04:12] adrianfalleiro opened #4776 "[streams-platform] Replace uses of superglobals with Request object"
In a few places, superglobals ($_SERVER, $_REQUEST, $_POST, $_GET) are used instead of the Request object.

Some of these places are:
- Anomaly\Streams\Platform\Http\Kernel
- Anomaly\Streams\Platform\Addon\FieldType\FieldType
- Anomaly\InstallerModule\Installer\Form\InstallerFormHandler

I think it is best to avoid using superglobals where possible, especially when we have a great abstraction in t

[2018-05-03 16:33] edster commented on #4772
Confirmed this is still a thing in 3.5 branch as well

[2018-05-03 16:45] fryiee commented on #4776
@adrianfalleiro no reason why not - submit PR and we'll get it looked at.

[2018-05-03 16:47] fryiee commented on #4775
@girvydas submit a PR and we'll get it looked at.

[2018-05-03 16:54] RyanThompson commented on #4776
Indeed - would love a PR for it. Might be instances across addons so if you queue up a PR make sure to scan the whole project ^_^

[2018-05-03 16:56] RyanThompson commented on #4775
@girvydas that link you posted should have fixed this - Blocks module was showing this behavior and it's been resolved I can confirm. Closing for now - reopen if the issue persists for you.

[2018-05-03 16:56] #4775 closed, assigned to nobody

[2018-05-03 16:58] RyanThompson commented on #4773
I would hesitate to host Pyro out of a subdirectory. Laravel doesn't always pick up the base bath and append. Try using release.someapp.com if you can.

[2018-05-03 16:58] #4773 closed, assigned to nobody

[2018-05-03 17:12] RyanThompson commented on #4759
This has been fixed

[2018-05-03 17:12] #4759 closed, assigned to nobody

[2018-05-03 17:12] RyanThompson commented on #4772
Merged - thanks @RichardMBS !

[2018-05-03 17:12] #4772 closed, assigned to nobody

[2018-05-03 17:14] RyanThompson commented on #4765
This has been added: https://github.com/pyrocms/pyrocms/commit/d76a7149105519e9db4fcf526be71d0dea08be22

I've needed to do this before as well - for easy / quick EARLY listener registration.

[2018-05-03 17:14] #4765 closed, assigned to nobody

[2018-05-03 17:15] RyanThompson commented on #4763
This is a feature in the 1.4 branch: https://github.com/anomalylabs/streams-platform/blob/1.4/src/Ui/Form/Multiple/MultipleFormBuilder.php#L168

[2018-05-03 17:15] #4763 closed, assigned to nobody

[2018-05-03 17:16] RyanThompson commented on #4763
We might need to back port this... so FTs don't need to be arbitrarily versioned with improvements (they'll likely need to do this themselves)

[2018-05-03 17:24] RyanThompson commented on #4763
Backported.

[2018-05-03 17:44] RyanThompson commented on #4346
This is in PyroCMS v3.5

[2018-05-03 17:44] #4346 closed, assigned to nobody

[2018-05-03 17:45] RyanThompson commented on #4762
Done and done

[2018-05-03 17:45] #4762 closed, assigned to nobody

[2018-05-03 17:46] RyanThompson commented on #4600
Done

[2018-05-03 17:46] #4600 closed, assigned to nobody

[2018-05-03 17:48] RyanThompson commented on #4336
This is in 2.4 that's included in Pyro 3.5

[2018-05-03 17:48] #4336 closed, assigned to nobody

[2018-05-03 17:50] RyanThompson commented on #4095
This is moot with blocks FT

[2018-05-03 17:50] #4095 closed

[2018-05-03 17:51] RyanThompson commented on #3922
Decided against this.

[2018-05-03 17:51] #3922 closed

[2018-05-03 17:52] #3800 closed

[2018-05-03 23:52] adrianfalleiro commented on #4776
Great, I will start lining up a PR for streams-platform and any other modules. I will keep this ticket updated as I go.

[2018-05-07 06:31] adrianfalleiro commented on #4776
@RyanThompson @fryiee How do you test the `streams-platform` repo?

I think I need to clone the `pryocms/pyrocms` repo and add my local `streams-platform` path as a repository and run the tests from `pryocms/pyrocms`?

[2018-05-07 06:39] fryiee commented on #4776
@adrianfalleiro that's correct. I clone a workbench installation of the Pyro repo then swap out streams-platform with my fork

[2018-05-07 10:06] slavicd opened #4777 "[streams-platform] Error when the database is empty and the .env file is present"
If a .env file is present, it looks like the installer chokes with "base table not found..." thingy. It's not possible to do anyhing with the app: artisan migrate throws the same thing. Only solution was to remove the .env.

[2018-05-07 11:54] mmodler commented on #4274
I think the issue is still open? I also see tons of queries on simple pages :(

[2018-05-07 11:55] mmodler commented on #4379
Related to #4274 ?

[2018-05-08 18:50] RyanThompson commented on #4210
https://github.com/anomalylabs/streams-platform/blob/1.3/resources/config/system.php#L14

[2018-05-09 00:08] adrianfalleiro commented on #4776
PR for `streams-platform` submitted - https://github.com/anomalylabs/streams-platform/pull/568
PR for `installer-module` submitted - https://github.com/anomalylabs/installer-module/pull/29
PR for `files-module` submitted - https://github.com/anomalylabs/files-module/pull/57

[2018-05-10 22:11] oimken opened #4778 "slider-field_type can not set the range with negative number？"
For example：

set `Minimum Value`  to `-50` and  `Maximum Value` to `50`,
default value `0`;

Slider field type dose not work..

[2018-05-11 04:31] Eighke opened #4779 "[streams-platform] Pyro v3.5 has a login error"
Just tried pyro 3.5, I got an error on `http://localhost:8000/admin/login` using `php artisan serve`

[code]

Didn't try on Apache, but `QUERY_STRING` doesn't exists if we haven't a query in the URL.

[2018-05-11 15:17] RyanThompson commented on #4778
Looks like it was working fine less the default value did not set properly. Fixed: https://github.com/anomalylabs/slider-field_type/commit/f69d0b9dc9b4a67b10e419bf0e317f210eb9011b

[2018-05-11 15:17] #4778 closed, assigned to nobody

[2018-05-11 15:17] RyanThompson commented on #4778
https://packages.pyrocms.com/ updates every 10 minutes so try updating in about 4-ish minutes

[2018-05-18 03:27] Piterden commented on #4777
Try to change the INSTALLED flag inside your `.env` file to an opposite value.

[2018-05-18 03:29] Piterden commented on #4779
I don't have it.

Streams Platform doesn't have a `QUERY_STRING` words inside its sources.

[2018-05-18 03:43] Piterden opened #4780 "[streams-platform] Need to dump composer autoload at the end of make addon command."
On a clean Pyro install I have an Exception of class not found each time, when I use `make:addon` artisan command.

Manual dump composer solves this issue.

[2018-05-18 04:46] slavicd commented on #4777
I believe I did that at the time to no avail.

[2018-05-18 04:48] Piterden commented on #4777
Why your DB is empty?

[2018-05-18 04:50] slavicd commented on #4777
Because the installer failed after it didn't find a php module and I had to drop/create db, otherwise it would be stuck at some error.

[2018-05-18 04:54] Piterden commented on #4777
My installer fault too. Cause of mbstring. But everything is fine

[2018-05-18 05:00] Piterden commented on #4777
I checked it one more time.

1. Dropped all tables
2. Set `INSTALLED=false`
3. `artisan install`
[code]

[2018-05-18 05:02] slavicd commented on #4777
Does it throw the base table not found error if you leave installed to true and delete db?

[2018-05-18 05:04] Piterden commented on #4777
Of course yes. Even I wouldn't check it. I am sure!!

![nowp](https://user-images.githubusercontent.com/5930429/40216857-399f7c44-5a72-11e8-98ba-2e611ca1059b.png)

[2018-05-18 05:19] #4756 closed, assigned to nobody

[2018-05-18 09:51] Eighke commented on #4779
Pyro 3.5 -> Streams Platform 1.4

https://github.com/anomalylabs/streams-platform/blob/e4e5d1c072aa60efbe94c7e3020d696d74009a44/src/Ui/Form/Component/Action/Guesser/RedirectGuesser.php#L62

[2018-05-20 10:15] dwainscheeren commented on #4760
I really would like to have this!

[2018-05-20 12:21] Pixney-William commented on #4760
I really would like to have this !

[2018-05-20 19:23] adam-mckenna opened #4781 "Error ReflectionException when attempting to install PyroCMS"
When completing the initial installation form and submitting, the proceeding page begins to load and then I am presented with the following error:

[code]
<img width="1680" alt="screen shot 2018-05-20 at 20 23 15" src="https://user-images.githubusercontent.com/9249853/40282743-a7f28916-5c6b-11e8-87e6-c2651f5f0186.png">

[2018-05-21 19:11] mf16 opened #4782 "[decimal-field_type] 0 min/max values treated as null"
There was a previous fix for this merged in 2017, but it was only in the view. If the min/max config value for the decimal field type is set to 0, it is treated as null during validation.

I've created a pull request in the anomalylabs/decimal-field_type repository: https://github.com/anomalylabs/decimal-field_type/pull/19

[2018-05-22 12:44] girvydas opened #4783 "[anomaly/markdown-field_type] version conflict"
Composer require conflict at https://github.com/pyrocms/pyrocms/blob/3.5/composer.json

Streams-platform version "~1.4.0" requires "anomaly/markdown-field_type": "~3.0.0", but
https://github.com/anomalylabs/markdown-field_type/tree/3.0, there is line "anomaly/streams-platform": "^1.3.0"

[2018-05-22 12:46] girvydas commented on #4783
"anomaly/files-module": "~2.5.0" as well

[2018-05-22 15:27] RyanThompson commented on #4782
Merged! Thank you

[2018-05-22 15:27] #4782 closed, assigned to nobody

[2018-05-22 15:28] RyanThompson commented on #4781
Odd.. what's your environment look like?

[2018-05-22 15:30] RyanThompson commented on #4780
Can you tell when / where exactly it's being thrown? We dump here: https://github.com/anomalylabs/streams-platform/blob/1.3/src/Addon/Console/MakeAddon.php#L98

[2018-05-22 15:40] RyanThompson commented on #4779
Fixed: https://github.com/anomalylabs/streams-platform/commit/da6ae0437307d8b7c86da234b692fd1aa612be80

[2018-05-22 15:40] #4779 closed, assigned to nobody

[2018-05-22 15:48] RyanThompson commented on #4783
Good catch! Fixed them both, thank you.

[2018-05-22 15:48] #4783 closed, assigned to nobody

[2018-05-22 15:49] RyanThompson commented on #4783
Give satis a couple minutes to update is all.

[2018-05-22 16:01] RyanThompson commented on #4777
I don't see an error here necessarily. We need better PHP environment checks perhaps though.

[2018-05-22 16:01] #4777 closed, assigned to nobody

[2018-05-22 16:03] RyanThompson commented on #4767
Can you give some example of code not working? If `section.view` is present it simply includes it so trans() inside there would be up to you as a normal view: `{% include section.view %}`

[2018-05-22 16:29] RyanThompson commented on #4761
This should do it: https://github.com/anomalylabs/local_storage_adapter-extension/commit/b24705e101e703b5db6ac5375760eaae8cf621be

[2018-05-22 16:29] #4761 closed, assigned to nobody

[2018-05-22 16:34] RyanThompson commented on #4760
There will need to be some cleverness with the filesystem cause not all adapters support this. BUT.. we could use uniqueness to have virtual nested folders..

[2018-05-22 16:35] RyanThompson commented on #4776
Closing this for now as we'll handling this in an on-going manner.

[2018-05-22 16:35] #4776 closed, assigned to nobody

[2018-05-22 16:54] #3663 closed

[2018-05-22 16:54] #3664 closed

[2018-05-22 16:55] dwainscheeren commented on #4760
Thats a good idea.

[2018-05-22 17:12] fryiee commented on #4760
I think this is an important one to have, as it's a significant issue both in terms of infrastructure and useability on the admin UI.

[2018-05-22 17:17] fryiee commented on #4767
Disregard, this is PEBKAC

[2018-05-22 17:17] #4767 closed, assigned to nobody

[2018-05-22 17:17] fryiee commented on #4758
@RyanThompson what are your thoughts on this guy?

[2018-05-22 19:26] Piterden commented on #4781
https://github.com/anomalylabs/installer-module/pull/30

[2018-05-22 21:25] Pixney-William commented on #4760
Agreed. And so does my cat application!

[2018-05-23 00:11] ryancwalsh commented on #4781
@RyanThompson and @AdamMcquiff I am similarly having tons of trouble trying to install PyroCMS. I have spent hours today.

(I'm on Windows 10 using a Vagrant Virtualbox I set up originally alongside Laravel Homestead.  In the past, I've gotten an initial PyroCMS installation working in that same spot. But then I never got around to exploring Pyro. Today, I wanted to install a fresh copy and take a

[2018-05-23 01:36] ryancwalsh commented on #4781
This is really weird.

What finally worked for me was:

In `composer.json`, change the version of streams-platform to `"anomaly/streams-platform": "1.3.219",`, and add all of these lines to the bottom of the "require" section:

        "filp/whoops": "~2.0",
        "laravel/tinker": "^1.0",
        "phpunit/phpunit": "~6.0",
        "fzaninotto/faker": "~1.4",
        "mockery/mockery": "0.9.*",

[2018-05-23 02:06] ryancwalsh commented on #3525
I may have resolved this.

I'm running Laravel Homestead on Windows 10, and my pages are way too slow, which is why I bailed on PyroCMS the first time I took a peek at it. (3.14 seconds for /admin/dashboard/view/welcome)

https://pyrocms.com/forum/channels/general/slow-page-loads says to set `type: nfs`.

So I installed the "winnfsd" plugin from https://github.com/winnfsd/vagrant-winnfsd/tree/f703

[2018-05-23 04:25] samcgi commented on #4781
I was get this issue also and for me it's work by editing installerFormHandler.php
and add use Illuminate\Http\Request; at the top

[2018-05-23 23:11] mf16 opened #4784 "[streams-platform] Asset management broken on V3.5-beta1"
Commit #3be8f000a1320a71f283cd20171218d75266054e of the streams-platform breaks assets for us. No javascript is loaded into theme.js. Downgrading does not fix this issue.

[2018-05-24 01:55] mf16 commented on #4784
This was completely a mistake. That commit cleared asset cache for some reason which is what made us notice someone had removed the code to compile that js.

[2018-05-24 01:55] #4784 closed, assigned to nobody

[2018-05-24 03:40] RyanThompson commented on #4781
Merged the PR so request is included. @ryancwalsh proc_open is a pretty common (that I see anyways) windows server thing but youd have to google it real quick cause windows is all foreign to me.

[2018-05-24 03:40] #4781 closed, assigned to nobody

[2018-05-24 03:46] RyanThompson commented on #4757
<img width="450" alt="screen shot 2018-05-23 at 10 45 23 pm" src="https://user-images.githubusercontent.com/1099967/40463435-0173696c-5edb-11e8-9cfe-d65285b3c7c5.png">

Not getting this. Variable with two repeaters - tried same related model and different ones. No bleeding over. Perhaps this was fixed?

[2018-05-24 03:46] RyanThompson commented on #4757
Kinda old so Ima close - please reopen if it persists!

[2018-05-24 03:46] #4757 closed, assigned to nobody

[2018-05-24 03:47] RyanThompson commented on #4754
Depending on what kinda content you need or if it's not non-content objects.. partials module might be something to look at. But yes, an FT like this would be nice. Poly needs a lookup mode too to begin with.

[2018-05-24 03:54] fryiee commented on #4757
@RyanThompson was this tested on the multiple FT itself, from a form builder (not GUI?)

[2018-05-24 04:14] RyanThompson commented on #4753
Ill show YOU my dirty linens..

https://github.com/anomalylabs/streams-platform/commit/bb5d97e55fff81041fdc0c2031e49b1636afbb41

[2018-05-24 04:14] #4753 closed, assigned to nobody

[2018-05-24 04:48] RyanThompson commented on #3921
Not sure this is worth the trouble.

[2018-05-24 04:48] #3921 closed

[2018-05-24 04:49] RyanThompson commented on #4750
@Piterden are you able to replicate this at all?

[2018-05-24 04:50] RyanThompson commented on #4750
Closing for now but keep me posted if there is something we can do!

[2018-05-24 04:50] #4750 closed, assigned to nobody

[2018-05-24 04:50] RyanThompson commented on #4751
Not worth the trouble I don't think.. Let's ride it out.

[2018-05-24 04:50] #4751 closed, assigned to nobody

[2018-05-24 04:51] RyanThompson commented on #4725
Merged

[2018-05-24 04:51] #4725 closed, assigned to nobody

[2018-05-24 04:59] RyanThompson commented on #4708
This has been since resolved.

[2018-05-24 04:59] #4708 closed, assigned to nobody

[2018-05-24 05:01] RyanThompson commented on #4706
https://github.com/anomalylabs/datetime-field_type/commit/8d61288a1c3f995f356aa7a49698282368408d47

[2018-05-24 05:01] #4706 closed, assigned to nobody

[2018-05-24 05:02] #4698 closed, assigned to RyanThompson

[2018-05-24 05:03] RyanThompson commented on #4695
This has been fixed yep

[2018-05-24 05:03] #4695 closed, assigned to nobody

[2018-05-24 05:30] RyanThompson commented on #4691
This is probably fixed by now - used to be hit or miss extensions I forgot to limit non-enabled. But should all be OK now. Please report specific addons that use the extensions if you find any more instances of it ^_^

[2018-05-24 05:30] #4691 closed, assigned to RyanThompson

[2018-05-24 05:30] RyanThompson commented on #4690
Duplicate of another issue and also fixed :-P

[2018-05-24 05:30] #4690 closed, assigned to nobody

[2018-05-24 05:31] #4654 closed, assigned to nobody

[2018-05-24 05:37] RyanThompson commented on #4624
Same here and I know Laravel has mime adjustment configurations too

[2018-05-24 05:37] #4624 closed, assigned to nobody

[2018-05-24 06:29] RyanThompson commented on #4681
Working on it - GC in general needs work

[2018-05-24 06:30] RyanThompson commented on #4561
Merged and fixed

[2018-05-24 06:30] #4561 closed, assigned to nobody

[2018-05-24 06:30] RyanThompson commented on #4527
Merged and fixed

[2018-05-24 06:30] #4527 closed, assigned to nobody

[2018-05-24 06:31] RyanThompson commented on #4506
Merged and closing

[2018-05-24 06:31] #4506 closed, assigned to nobody

[2018-05-24 06:31] #4238 closed, assigned to nobody

[2018-05-24 06:32] #4372 closed, assigned to nobody

[2018-05-24 06:32] #4377 closed, assigned to nobody

[2018-05-24 06:32] #4416 closed, assigned to nobody

[2018-05-24 06:33] RyanThompson commented on #4681
I have sep tasks for these as its more widespread. Closing.

[2018-05-24 06:33] #4681 closed, assigned to RyanThompson

[2018-05-24 06:33] #4661 closed, assigned to RyanThompson

[2018-05-24 06:37] RyanThompson commented on #4555
I don't see that symfony supports this right now.

[2018-05-24 06:37] #4555 closed, assigned to RyanThompson, Piterden

[2018-05-25 21:54] sir-vince opened #4785 "[Streams-platform] performance issue with many files in resources folder of active template"
In streams-platform, commit 3be8f000a1320a71f283cd20171218d75266054e introduced some changes to the method lastModifiedAt which recursively iterates over every file in the resources folder of the activated theme. If someone stores a lot of files, eg. stores all the source files from a pre-bought template or a node_modules folder, this could potentially kill performance of an application.

[2018-05-28 12:25] ufhy commented on #4141
any one has to fix this??

[2018-05-28 18:14] edster opened #4786 "[Image-FT] -- You cannot use the image FT with the settings module"
You are unable to use the image FT with the settings module, bombs out. Some fields rely on multiple columns / pivots so we need some way to virtualize them. to be saved.

[2018-05-28 18:22] edster opened #4787 "[Streams Platform 1.3/1.4] -- Unable to unset entry to clone"
The below used to work as a cloning mechanism, however this now just makes the form blank with no values anymore.

To I managed to get around this by using `$form->setFormMode('create');` instead, but having issues with cloning grids which I wonder has something to do with the way they are being related here.
[code]

[2018-05-28 19:07] sir-vince commented on #4785
The catalyst to this issue seem to be
`if ($this->request->isNoCache() && $this->lastModifiedAt('theme::') > filemtime($path)) {
            return true;
        }`
in Asset\Asset.php

[2018-05-29 12:17] Pixney-William opened #4788 "Select Field Type : Array to string conversion error on edit"
This error is shown when you try to edit the field from within the admin when the field has NOT been created by the GUI but through migrations.

## Expected Behavior
Normally when you create a select field type within the grid module, you are able to the options by `key:value` in a textarea.

When you are migrating, you use the options array.

I should be able to edit these options both when a sel

[2018-05-29 12:18] dwainscheeren commented on #4788
Very annoying its a bug for months now.

[2018-05-29 12:18] Pixney-William commented on #4788
Did you file an issue @dwainscheeren ? So i know if this is a duplicate?

[2018-05-29 12:50] dwainscheeren commented on #4788
Nope this one is the first I guess

[2018-05-29 13:08] Pixney-William commented on #4788
Seems like its a duplicate of https://github.com/pyrocms/pyrocms/issues/4758

[2018-05-29 13:53] RyanThompson commented on #4788
Easy enough to fix - thanks for the heads up @Pixney-William

[2018-05-29 14:07] RyanThompson commented on #4788
Fixed: https://github.com/anomalylabs/select-field_type/commit/ac7bc6f30ef28fd9f81358ab986ffafa57ab514b

[2018-05-29 14:07] #4788 closed, assigned to nobody

[2018-05-29 14:12] RyanThompson commented on #4758
Fixed: https://github.com/anomalylabs/checkboxes-field_type/commit/d726c99713bdf022cea686196045a7c10197ec95

[2018-05-29 14:12] #4758 closed, assigned to nobody

[2018-05-29 17:37] RyanThompson commented on #4785
I was going to actually remove that clause in favor for the one on line 660

[2018-05-29 17:38] RyanThompson commented on #4785
Which would use this syntax: https://github.com/anomalylabs/streams-platform/blob/1.3/resources/stubs/addons/resources/views/partials/metadata.twig#L43

[2018-05-29 17:42] RyanThompson commented on #4785
https://github.com/anomalylabs/streams-platform/commit/6c5a23d4c1f307f5570883c7201aa6e34750dba9

[2018-05-29 17:42] #4785 closed, assigned to nobody

[2018-05-29 17:43] RyanThompson commented on #4780
Open er up if need be but I think this is working correctly.

[2018-05-29 17:43] #4780 closed, assigned to nobody

[2018-05-30 08:50] Pixney-William opened #4789 "Repeater and/or Markdown Bug - Duplicating markdown fields"
#### Issue description

The repeater has some kind of bug. When adding more rows, the markdown field on previous entries are duplicated

#### Steps to reproduce the issue

1.  Create a repeater
2. Create a text and markdown field
3. Assign those fields to a repeater.
4. Create a new page type.
5. Create a new field of repeater
6. Assign the pagetype the repeater
7. Go to the page using the repeate

[2018-05-30 09:00] fryiee commented on #4789
@RyanThompson @Pixney-William is this similar to this one here?

https://github.com/pyrocms/pyrocms/issues/4757

[2018-05-30 09:08] Pixney-William commented on #4789
It looks similar @fryiee , but i guess i would need to have a deeper dig to know if it is for sure. And you know how busy i am with gdpr:) So ill let @RyanThompson decide:)

[2018-05-30 16:44] RyanThompson commented on #4789
woa

[2018-05-31 11:54] Pixney-William commented on #4789
Did you have a time to look at this @RyanThompson? The client is complaining so would like to help them:)

[2018-05-31 12:36] Pixney-William commented on #4789
This is happening on several sites. All sites, i have two languages if that might matter.

[2018-05-31 12:43] Pixney-William commented on #4789
Ok @RyanThompson , also tested on pages where i only have one language (en) set. And the same behavior.

[2018-05-31 13:30] Pixney-William commented on #4789
It doesnt happen to a textarea, so far ive only seen it on markdown

[2018-05-31 14:04] Pixney-William commented on #4789
Wonder if this isn't a js issue somewhere.. Can't really find where though...

[2018-06-05 13:57] nickstanko opened #4790 "[forms-module] MultipleFormBuilder bug"
After latest updates on 3.4 and 3.5 getting error with the forms addon, please help.

Type error: Argument 1 passed to Anomaly\StandardFormExtension\StandardFormExtension::integrate() must be an instance of Anomaly\Streams\Platform\Ui\Form\Multiple\MultipleFormBuilder, instance of Anomaly\FormsModule\Form\Form\FormFormBuilder given, called in /home/forge/site.test/pyrocms/core/anomaly/forms-module

[2018-06-05 17:06] Piterden commented on #4790
Try to update your module too.

[2018-06-09 22:12] Piterden commented on #4786
[code]

[2018-06-09 22:13] bluesaga2001 commented on #4694
I got the same problem.
I installed Pyrocms 3.4 through composer, when I open the index page ,it takes more than 14s ,and my another laravel project just takes about 500ms on same computer .
In Chrome ,It shows TTFB takes the most time. then I use Xdebug ,I find it access the index.php for 4 times. I have no idea how to continue.

[2018-06-09 23:02] Pixney-William commented on #4787
Your english is getting a lot better

[2018-06-09 23:04] Pixney-William commented on #4789
@RyanThompson is working on it @Piterden

[2018-06-10 03:47] Piterden commented on #4754
Multiple polimorphic is just a pivot with polymorphic

[2018-06-11 03:56] edster commented on #4786
Piterden what on earth are you trying to say here.

One, you have file not image.

Two, if that is intentional that has no relation ok this bug

[2018-06-11 03:59] edster commented on #4787
Did you even read the description? As I said above, cloning entries.

It is my own class, random swearing is not productive.

[2018-06-11 12:59] beije opened #4791 "Translatable fields disappear when non-english languages are set for site"
When configuring a site to have any combination of enabled languages, except English, the translatable fields will disappear from the admin forms.

The problem seems to be because of the localstorage variable `formTranslations` not being set properly, or rather, not falling back properly. (It seems to always default to `en`, even if `en` does not exist as a translatable option).

Note: If you've p

[2018-06-11 21:09] Pixney-William commented on #4789
@RyanThompson i tried refactor today to use blocks instead for this screaming client. But its the same problem there unfortunately..

[2018-06-12 08:39] robinvoor opened #4792 "[files-module] Add all files after uploading"
As title. It should have a button that adds all files at once. When I upload 100+ images at once, I don't really have the time to click more than 100 times on the +Add button.

[2018-06-12 15:05] Piterden commented on #4792
This would be a very useful feature. Almost such useful, such it was the hoverable menu...

[2018-06-13 20:05] edster opened #4793 "[sites-module] Site language not properly being set"
So there is something amiss in the posts module and languages and sites module.

Default references language is English
Site created in sites module default language is German.

sub site`.env` has the German LOCALE set, and it reflects properly when creating the page and in settings

But once you save it, and try to view or edit it, the query tries to find the translation file for english instead

[2018-06-14 09:33] Pixney-William commented on #4789
Tested and confirming it works! Closing this now.

[2018-06-14 09:33] #4789 closed, assigned to nobody

[2018-06-18 10:37] Pixney-William opened #4794 "[streams-platform] Can not switch language on dynamically added grid items."
@Piterden you caused an issue here last year. When you add a grid item dynamically, you are not able to switch language on that item.

https://github.com/anomalylabs/streams-platform/blob/1.3/resources/js/form/translations.js#L35

[2018-06-18 12:24] Piterden commented on #4794
Also, three lines above, the comment about the construction below is the bullshit! It isn't a shorthand of a ready event))

Btw, I don't remember about that issue...

[2018-06-18 14:16] Pixney-William commented on #4794
So you are submitting a fix @Piterden ?

[2018-06-18 14:26] Pixney-William commented on #4792
@Piterden Not sure i understand what you mean here.

[2018-06-19 04:29] aldf opened #4795 "[checkboxes-field_type] can't save or display users/roles/permissions"
After updating anomaly/checkboxes-field_type to v2.3.12 [this commit](https://github.com/anomalylabs/checkboxes-field_type/commit/d726c99713bdf022cea686196045a7c10197ec95) then the streams can't render checkbox field type options in users/roles/permissions.
after I downgrade to anomaly/checkboxes-field_type to v2.3.11 then it's working fine.

[2018-06-19 09:52] Pixney-William opened #4796 "[wysiwyg-field_type] - Missing error border"
Should have a red border indication.

![image](https://user-images.githubusercontent.com/31292231/41590373-230b3d70-73b7-11e8-9738-51afc3dc6381.png)

[2018-06-19 10:04] Pixney-William opened #4797 "[Feature Request] - Improved File & Media manager"
This is one of the most requested features we have had from clients. A better way to manage their files.

**To be a solid CMS we do need an improvement to the file manager with (most importantly) the possibility to :**

* Rename files
* Copy files
* Copy files from one directory to another
* Move files from one directory to another

[2018-06-19 10:05] fryiee commented on #4797
https://github.com/pyrocms/pyrocms/issues/4760 related

[2018-06-19 10:10] dwainscheeren commented on #4797
I WANT THIS

[2018-06-19 10:14] Piterden commented on #4797
https://github.com/iutbay/mm

[2018-06-19 20:50] Pixney-William opened #4798 "[repeater-field_type] - Error when having a required field in the repeater"
### Issue and Steps to Reproduce
* Create a repeater which has a couple of fields that are required.
* Attach the repeater to your default page type
* Add a new row, enter content on one area but leave one textarea.
* Click save
* After reload, you see an error message that you missed the field. Alla data you entered on the other fields are lost. In fact, the row is lost.

### Screenshots

![doesn

[2018-06-19 21:58] Pixney-William opened #4799 "[streams-platform] htmlcompress slows down ttfb"
I just got a top from Zvineyard to remove the htmlcompress. Locally that cuts TTFB with 1000ms here. And in production with something like 100-250ms.

Not sure if we can so anything about this. Or if we should remove it from the theme scaffolding to make sure people don't use it if it slows down the sites this much.

[2018-06-21 09:16] robinvoor opened #4801 "[streams-module] Preview image like files-field_type does for pages"
As title. Preview image(s) in streams module table (current display for image row: https://i.imgur.com/Pn7nBaC.png), the same way the files-field_type does for pages (https://i.imgur.com/wwYIOPy.png).

Maybe add an option to show preview in field option while assigning the field type (image_field-type, file_field-type, files_field-type).

[2018-06-21 16:31] zvineyard commented on #4799
Here's a link to a simple compressor I wrote to replace the default compressor in Pyro templates: https://github.com/zvineyard/pyrocms-html-compressor

One thing I could do is make an upgrade to the tags are the same in my plugin and the default tags. That way we'll have backward compatibility.

[2018-06-23 03:46] acjf opened #4802 "Swift_TransportException Connection could not be established with host smtp.qq.com"
MAIL_DRIVER=smtp
MAIL_HOST=smtp.qq.com
MAIL_PORT=587
MAIL_USERNAME=-
MAIL_PASSWORD= -
MAIL_ENCRYPTION=ssl

用户名密码被我隐藏，.env 我设置了正确的数值，但出现了 Connection could not be established with host smtp.qq.com 错误。我该如何操作？

[2018-06-24 15:26] immersiontravis commented on #4694
@bluesaga2001: What OS is your host machine?

If you're using Homestead (on a non-Windows host), try adding "type: nfs" to your "folders" mapping in Homestead.yaml:

https://pyrocms.com/forum/channels/general/slow-page-loads

https://laracasts.com/discuss/channels/requests/nfs-on-homestead-20

You may also need to install nfs-kernel-server:

sudo apt-get install nfs-kernel-server

The folders sect

[2018-06-25 01:59] fryiee opened #4803 "[select-field_type] values with colons aren't rendered correctly"
As title. This is likely due to the fix we implemented for https://github.com/pyrocms/pyrocms/issues/4758.

Sample field configuration data:

[code]

[2018-06-25 02:18] Piterden commented on #4803
Had you tried to escape them? Or use the unicode equivalents?

[2018-06-25 02:25] Piterden commented on #4802
Ну я даже не знаю. Наверное, сперва нужно понимать, что никто не виноват в том, что вы не знаете английский язык. Я думаю, что это лично ваши проблемы и я не обязан пользоваться переводчиком, чтобы вас понимать. Представляете, если бы все говорили на родных языках? Был бы хаос!

[2018-06-25 02:28] Piterden commented on #4801
[code]
Just do it!

[2018-06-25 02:30] Piterden commented on #4802
I suppose the is your server issue or either you have wrong password.

[2018-06-25 02:37] Piterden commented on #4796
And why don't you fixed it?

[2018-06-25 02:55] Piterden commented on #4795
https://github.com/anomalylabs/checkboxes-field_type/pull/19

[2018-06-25 09:50] Pixney-William commented on #4797
Why did you close this @Piterden ?

[2018-06-25 09:57] Piterden commented on #4797
Why did you remove my message?

[2018-06-25 10:18] Pixney-William commented on #4797
@Piterden You were simply referencing a link to a non-stable vue file manager. And as you know, @RyanThompson don't want to use vue for this anyway, so it was not relevant. Another underlying reason was that you had also commented on others issues with non-relevant information earlier.

[2018-06-25 13:20] RyanThompson commented on #4797
We'll need to seriously rethink and possibly hash folder names with external drivers to get nested folders. Not all drivers support them but if we have a folder/bucket by hash then we can only reference them by ID basically (string ID). Thoughts?

[2018-06-25 13:21] RyanThompson commented on #4797
JUST so it can be consistent across the board.

[2018-06-27 18:11] RyanThompson commented on #4799
@zvineyard I like that idea. Let me profile real quick so I don't waste your time and we'll take that approach if it makes sense. Thank you!

[2018-06-27 20:46] Pixney-William commented on #4796
I haven't had time. Thought i would issue it at least. And then take it if i get the time

[2018-06-28 09:32] Pixney-William commented on #4802
As Piterden is saying, this is most likely an issue of wrong password, not supplying the correct details. I have personally a few sites up running with the latest version of pyrocms using mailgun and i have not experienced this problem. So check all the configs and make sure they are correct.

Best

[2018-06-28 09:32] #4802 closed, assigned to nobody

[2018-06-28 09:42] Pixney-William commented on #4795
Was this resolved yesterday @fryiee ?

[2018-06-28 09:46] Pixney-William commented on #4790
Something you know anything about @fryiee ?

[2018-06-28 09:49] Pixney-William commented on #4744
Any further comment on Ryans comment here @fryiee ?

[2018-06-28 09:52] Pixney-William commented on #4726
Did you ever look at this @fryiee ?

[2018-06-28 09:54] Pixney-William commented on #4803
Reverted yesterday by @RyanThompson. Confirmed to now be working by @fryiee

[2018-06-28 09:54] #4803 closed, assigned to nobody

[2018-06-28 09:58] Pixney-William opened #4804 "[users-module] Set password should have better description"
Since we have specific requirements when setting a users password. We need to specify those on the field to make sure an admin don't know about them. Saving causes waste of time having to correct errors and when using password managers you need to reenter email fields and names as well sometimes.

![image](https://user-images.githubusercontent.com/31292231/42027560-50e5c084-7aca-11e8-96a8-67a7d9ee

[2018-06-28 10:01] Pixney-William commented on #4724
Confirmed also on

![image](https://user-images.githubusercontent.com/31292231/42027842-f6a0396e-7aca-11e8-924c-aef5fbc6128d.png)

[2018-06-28 10:03] Pixney-William commented on #4721
@keribend and @vargvinter is this still an issue?

[2018-06-28 10:13] Pixney-William commented on #4720
@RyanThompson & @dakshhmehta is this still an issue or can we close it?

[2018-06-28 10:15] Pixney-William commented on #4710
@RyanThompson did you fix this?

[2018-06-28 10:16] Pixney-William commented on #4711
@RyanThompson Comments on this?

[2018-06-28 10:16] Pixney-William commented on #4711
@dwainscheeren @adrianfalleiro  is this still an issue?

[2018-06-28 10:22] keribend commented on #4721
@Pixney-William last update on my project is about three months ago and yes, it was still an issue. Don't know if at the moment of writing there are new updates with fixes.

[2018-06-28 10:23] Pixney-William opened #4805 "[Datetime-field_type] Faulty display of selected date and time"
Seems like only the hour is displayed

![image](https://user-images.githubusercontent.com/31292231/42028915-0cfb52c2-7ace-11e8-9800-e1eaaa472107.png)

[2018-06-28 10:24] Pixney-William commented on #4717
This is not longer an issue, however there is a new one : https://github.com/pyrocms/pyrocms/issues/4805

[2018-06-28 10:24] #4717 closed, assigned to nobody

[2018-06-28 10:25] Pixney-William commented on #4728
For what version is this accepted @RyanThompson

[2018-06-28 10:25] Pixney-William commented on #4670
If i am not mistaken. This is sorted @RyanThompson . Closing

[2018-06-28 10:25] #4670 closed, assigned to RyanThompson

[2018-06-28 10:27] Pixney-William commented on #4702
@RyanThompson Is this still an issue? Seems like it was confirmed on the forum but i haven't had time to verify it. Maybe you know better if it is @emergingdzns ?

[2018-06-28 10:34] Pixney-William commented on #4699
@RyanThompson do you have any comments to this one to help @vargvinter with the issue?

[2018-06-28 10:35] Eighke commented on #4721
It is "normal", the `supported` locales are checked in the Kernel before the config to be set. You can override it in '/resources/core/config/streams/locales.php'.

So to add new locales you need to override both files.

[2018-06-28 10:46] Pixney-William commented on #4721
@RyanThompson Could you have a look at this and see if you feel this might still be an issue or if your fix really fixed it? I get the feeling maybe @Eighke was after something else?

![discussion](https://user-images.githubusercontent.com/31292231/42029875-3d3b9700-7ad1-11e8-9c9b-f370c28865f5.jpg)

[2018-06-28 10:48] Pixney-William commented on #4664
@RyanThompson Is this still a bug?

[2018-06-28 10:49] Pixney-William commented on #4662
For what version is this accepted @RyanThompson or is it already completed?

[2018-06-28 10:53] Pixney-William commented on #4659
So this is obviously still existing. I could close it, because we are a limited amount of people working this way. Well, actually i don't know how limited group it is, since it's growing. At the same time, it feels like something that shouldn't exist.

Let me know what you feel and i could close it if you want - @RyanThompson

[2018-06-28 10:54] Pixney-William commented on #4658
Is this something we still have an issue with? I have scout driver as null as standard since then so i have no idea.

[2018-06-28 10:56] Pixney-William commented on #4657
Did you ever share this @timjai ?

[2018-06-28 10:57] Pixney-William commented on #4655
Is this a feature you have "accepted" @RyanThompson , and in that case for what version?

[2018-06-28 10:58] Pixney-William commented on #4653
@RyanThompson comments on this one?

[2018-06-28 10:58] Pixney-William commented on #4651
Where are we on this feature @RyanThompson , accepted? For what version?

[2018-06-28 10:59] Pixney-William commented on #4650
What version is this accepted for @RyanThompson

[2018-06-28 11:03] Pixney-William commented on #4795
Resolved by @RyanThompson 2018-06-27

[2018-06-28 11:03] #4795 closed, assigned to nobody

[2018-06-28 11:05] fryiee commented on #4726
@Pixney-William no, I haven't had a chance.

[2018-06-28 11:09] fryiee commented on #4744
I would think it's safer to use a separate parameter to prevent URL collisions using href.

[2018-06-28 11:15] fryiee opened #4806 "[files-module] Created disks aren't retrievable using Storage::disk()"
As above.

Files aren't retrievable using their disk slug location, and using Storage::disk('slug') always returns the 'local' disk.

To reproduce:
- Create "Local Private" disk (slug local_private) and set to private.
- Call `Storage::disk('local_private');`

You'll see the 'local' disk, not the local_private one.

Similarly:
- Create "Local Private" disk (slug local_private) and set to private.

[2018-06-28 11:38] Eighke commented on #4793
Itis not clear, we have many case:

A1/ You have 2 sites (`applications`), with no domain (`applications_domains`), we defined the locale in `.env` using `LOCALE=XX`
A2/ You have 2 sites, with 1 domain per sites, we define the locale in the database

And:

B1/ You have only 1 locale per site
B2/ You have both locale per site

---------------

So I tested, using FR for the second sites:

* A1 + B1:

[2018-06-28 11:41] fryiee commented on #4806
https://github.com/anomalylabs/local_storage_adapter-extension/pull/5/files

[2018-06-28 11:46] Pixney-William commented on #4806
https://github.com/anomalylabs/local_storage_adapter-extension/pull/5

[2018-06-28 11:49] Pixney-William commented on #4793
@edster would you mind follow up on this?

[2018-06-28 13:21] Pixney-William commented on #4387
Form locks is being introduced in version 3.5

https://pyrocms.com/posts/pyrocms-3-5-beta1

[2018-06-28 13:26] Pixney-William commented on #4197
This seems like a good feature request to catch up on @RyanThompson

[2018-06-28 13:28] Pixney-William commented on #4253
Another great idea @mattcdavis1

[2018-06-28 13:38] Pixney-William commented on #4437
Seems like you tagged this @RyanThompson , is it done?

[2018-06-28 13:42] Pixney-William commented on #4521
### What i mean is:
If you access `admin/posts` you should have a title and description field here. Or access to a page where you are able to set it. Because this is the place where it's most logical to set the title and description for the "index page of blogs".

[2018-06-28 13:43] Pixney-William commented on #4568
I totally see the use of this feature too. @RyanThompson ?

[2018-06-28 13:56] Pixney-William commented on #4622
I do see the use case here. And down the road i would like to see this too.

[2018-06-28 14:36] ThinkGraphical commented on #4568
To take it a step further, my thought process on this is:
When a user uploads images through the field-type, surely the intent is to add those images to that field, otherwise the user would have just uploaded the images globally through the files module.

So why ask to select them? Sure, the 'Add all' is a valuable solution.. but directly adding the images without the extra modal would improve the

[2018-06-28 14:56] RyanThompson commented on #4806
Merged! Thanks a ton guys

[2018-06-28 14:57] RyanThompson commented on #4806
I also did something a bit ago that changed when it was all registered so should be good to go now entirely.

[2018-06-28 14:57] #4806 closed, assigned to RyanThompson

[2018-06-28 15:13] Pixney-William commented on #4568
Totally agree with your line of thinking here @ThinkGraphical . But i am thinking, maybe we should create another field type instead of changing the files one?

Because maybe, we would like a files field type that just has a drop/select area (you know, dropzoneish). If im not mistaken a guy on slack Oimken was doing something similar to this. Just recently. Ill ask him to join in here.

The reason

[2018-06-28 15:19] Pixney-William commented on #4726
@RyanThompson Could you please define a nasty file name for anyone wanna try to look at / understand the issue?

[2018-06-28 15:23] Pixney-William commented on #4420
What was the result of your resaerch @RyanThompson

[2018-06-28 15:24] Pixney-William commented on #4421
Is this sorted @RyanThompson

[2018-06-28 15:26] Pixney-William commented on #4797
Other related issue: https://github.com/pyrocms/pyrocms/issues/4131

[2018-06-28 15:28] RyanThompson commented on #4702
Fixed this and also added `shouldSort: false,` to the other choices.js related FTs: https://github.com/anomalylabs/country-field_type/commit/c958a732053f8440c8a05cff7b5654b8fc807415

[2018-06-28 15:28] #4702 closed, assigned to RyanThompson

[2018-06-28 15:28] Pixney-William commented on #4243
Is it implemented globally yet @RyanThompson ?

[2018-06-28 15:48] Pixney-William commented on #4274
@RyanThompson This has to do with performance, and since its still open. Please have a look at it. I have also been worried about the queries:)

[2018-06-28 15:50] Pixney-William commented on #4300
@RyanThompson ?

[2018-06-28 15:51] RyanThompson commented on #4794
Fixed: https://github.com/anomalylabs/streams-platform/commit/92dc2e70488ec4eb35f5de8165091c0ab0d6bccd

[2018-06-28 15:51] #4794 closed, assigned to RyanThompson

[2018-06-28 15:53] Pixney-William commented on #4315
Did you do this @RyanThompson, otherwise lets add it to a milestone please!

[2018-06-28 15:57] Pixney-William commented on #4356
Did you get this done @RyanThompson

[2018-06-28 15:59] RyanThompson commented on #4296
https://github.com/anomalylabs/streams-platform/commit/cd2b9074cc68f2695a54e395dc829a16805d6471

[2018-06-28 15:59] #4296 closed, assigned to nobody

[2018-06-28 16:00] Pixney-William commented on #4409
What do you wanna do here @RyanThompson

[2018-06-28 16:01] Pixney-William commented on #4411
Is this still an issue @RyanThompson ? I know i ran into it at some point earlier. Very annoying.

[2018-06-28 16:04] Pixney-William commented on #4793
By @edster : Hey sorry that was still open. We figured it out, it was a miss config on the clients side. They were creating it via seeder and missed something

[2018-06-28 16:04] #4793 closed, assigned to nobody

[2018-06-28 16:07] RyanThompson commented on #4805
@Pixney-William what does your field configuration look like?

[2018-06-28 16:08] Pixney-William commented on #4805
@RyanThompson time + date . I just added one datetime field time using gui, then assigned the page type, and then got that. All standard settings, didnt do anything.. others have posted about it too so it is a common issue happening a few days ago

[2018-06-28 16:10] Pixney-William commented on #4694
So ill comment on this. By removing the htmlcompress, the site is loading faster. So that is one optimisation one can do.

[2018-06-28 16:12] RyanThompson commented on #4805
What are your settings for the time format?

[2018-06-28 16:16] RyanThompson commented on #4664
I think this is still a message behavior. I just tested this on a public form - the register one for example. Form errors (required fields). Loaded the form on another tab and they're not there because the session stuff is pulled in the view (usually a messages partial). So they are no longer present. However if your view doesn't get a chance to do this then it's stuffed.

I think.. form sessions

[2018-06-28 16:16] #4664 closed, assigned to nobody

[2018-06-28 16:26] RyanThompson commented on #4805
You on 3.0?

[2018-06-28 16:29] Pixney-William commented on #4805
Im on 3.0 when it comes to the field type and streams 1.4

[2018-06-28 16:29] RyanThompson commented on #4721
I think the "proper" fix to this would be to submit a PR adding the locale. We can't test overrides at the kernel level cause it's too early and we need the matching there to decipher if the fisrt segment / subdomain is indeed a locale OR a 2 letter segment for whatever reason.

[2018-06-28 16:29] #4721 closed, assigned to nobody

[2018-06-28 16:30] Pixney-William commented on #4805
![image](https://user-images.githubusercontent.com/31292231/42047656-363400e8-7b01-11e8-8c81-c60a66384f72.png)
![image](https://user-images.githubusercontent.com/31292231/42047690-4c02c5c6-7b01-11e8-97a6-995ab28a5d4b.png)

[2018-06-28 16:30] RyanThompson commented on #4721
Also we have CS as the hint for that locale which I've found to be generally accepted.

[2018-06-28 16:33] RyanThompson commented on #4411
Could certainly add more validation and room for improvement here. I'll look into this ASAP.

[2018-06-28 16:39] Pixney-William commented on #4805
But i dont seem to get this on 1.3 and 3.0. However, since others have reported this in the support channel. it is an issue. I think @fryiee had it too?

[2018-06-28 16:44] Pixney-William commented on #4551
Do you have any information on this task @Piterden , is it still in progress or has it been completed?

[2018-06-28 16:45] Pixney-William commented on #4413
So, a year later @RyanThompson , is it finished and implemented? ;)

[2018-06-28 16:46] Pixney-William commented on #4535
So, a year later @Piterden do you have a status on this? is it completed and implemented or are there any issues?

[2018-06-28 16:47] Pixney-William commented on #4549
@Piterden seems like this has been in progress for a while. What is the status? Implemented?

[2018-06-28 16:48] Pixney-William commented on #4553
@Piterden Do you have a status on this one? Been in progress so thought id ask if its implemented yet?

[2018-06-28 16:48] Pixney-William commented on #4562
Completed and implemented yet @Piterden ?

[2018-06-28 16:51] Pixney-William commented on #4689
@RyanThompson i remember this one. If i remember correctly it was something didn't really wanna jump on. Is that the same now?

[2018-06-28 17:35] Pixney-William commented on #4787
Is this still an issue @edster or has it been resolved?

[2018-06-28 17:37] Pixney-William commented on #4628
Didn't you introduce this @RyanThompson

[2018-06-28 17:38] Pixney-William commented on #4684
Is this still an issue/problem? @RyanThompson ?

[2018-06-28 17:38] Pixney-William commented on #4424
Did you complete this @RyanThompson and @Piterden ?

[2018-06-28 17:42] Pixney-William opened #4808 "[page-module] Being able to copy pages"
This is a request that could be a duplicate. I know others have asked. I know it has been talked about. Tried searching for duplicate and copy but didn't find requests in here for it. So i thought id add it.

**Describe the solution you'd like**
I would like to be able to duplicate a page / stream with the fields and values within it. As an example say a page with a couple of grids within it. I wa

[2018-06-28 18:08] zvineyard commented on #4799
OK, I made the changes so that you can use the `{% htmlcompress %} {% endhtmlcompress %}` tags.

[2018-06-28 18:13] oimken commented on #4568
Yes，I make a draft image upload field-type call it user_files-field_type, no thing fancy, it just a little modified the `anomaly.field_type.files. for front end user.   All credit is Ryan's, I just did:
1. in config, specify a folder for user upload, limit the how many file per user(in this folder), how many dropzone area..
2. I think the most improvement  is I just show all dropzone area for user

[2018-06-28 18:23] Pixney-William commented on #4568
@oimken Hey, why dont you just put it out there and we can all chip in on it?

[2018-06-28 19:16] Pixney-William commented on #4805
Come on now mr @RyanThompson we got one critical left! CRUSH IT!

[2018-06-28 20:05] Pixney-William commented on #4799
Yei! Go @RyanThompson

[2018-06-28 23:26] RyanThompson commented on #4805
Why is it that your time format doesn't have a value?

[2018-06-28 23:34] RyanThompson commented on #4805
IT WASNT REQUIRED!!!!!

https://github.com/anomalylabs/datetime-field_type/commit/5db3a1bdcd70c9346a54fb067d2c22ac568866f5

[2018-06-28 23:34] RyanThompson commented on #4805
Should be fixed - but no default.. I'll add that now.

[2018-06-28 23:34] Pixney-William commented on #4805
Thats how you have made things by default, and not set it as required. So i guess it's ok to have it not selected?

![image](https://user-images.githubusercontent.com/31292231/42065687-90b0032e-7b3c-11e8-9a9b-3d3501908035.png)

[2018-06-28 23:35] Pixney-William commented on #4805
![image](https://user-images.githubusercontent.com/31292231/42065694-a3c4867e-7b3c-11e8-80d1-33aa0f2f7945.png)

[2018-06-28 23:35] Pixney-William commented on #4805
AARGH!!!! You beat me to me molesting you!

[2018-06-28 23:38] RyanThompson commented on #4805
I need you to DD this: \Anomaly\DatetimeFieldType@config L#132

The default value. So I can back port it.

[2018-06-28 23:38] #4805 closed, assigned to nobody

[2018-06-28 23:38] RyanThompson commented on #4805
Some core setting must not be converting right

[2018-06-28 23:39] Pixney-William commented on #4805
What are you saying? That you still need be to dd that?

[2018-06-28 23:45] Pixney-William commented on #4805
dd($config['time_format']); == null

[code]

=== g

[2018-06-29 06:04] Eighke commented on #4791
I only have this problem when I set a Default Language that is not included in the Enabled Languages

[2018-06-29 06:10] Eighke commented on #4684
I think it was just the `composer dump-autoload`, I remember speaking about that on Slack

[2018-06-29 06:46] Eighke commented on #4261
@Pixney-William

Piterden solution is working currently, even if you delete completly `/storage`. But it should be documented somewhere I think.

Would be great, but I don't think it is posible currently (the problem is the binding of Model... that are in storage).

[2018-06-29 07:02] Eighke commented on #4274
@Pixney-William, already done I think, currently `$pages->sorted()` will create only a single query. Even with 100 pages

[2018-06-29 07:07] Eighke commented on #4659
I had it again yesterday (I cannot compile anymore my scss using `npm run prod` I have to `npm run dev`~).

[2018-06-29 07:41] Pixney-William commented on #4791
Thanks for your input @Eighke!

@beije Could you maybe do a step by step approach description for what i need to do to test this out? Would save some time testing it.

[2018-06-29 07:41] Pixney-William commented on #4684
thanks  @Eighke . Closing it.

[2018-06-29 07:41] #4684 closed, assigned to RyanThompson

[2018-06-29 07:43] Pixney-William commented on #4261
Yes, need doc. I will tag it as document instead and see to it being done.

[2018-06-29 07:52] Pixney-William commented on #4274
Great! Thanks!

[2018-06-29 07:52] #4274 closed, assigned to nobody

[2018-06-29 07:53] Pixney-William commented on #4659
@Eighke yes. I also think this is a "problem" . Not critical, but it's annoying for my workflow and the people i work for.

[2018-06-29 08:04] mkaanery opened #4809 "Guest role does not work to restrict the pages for registered users."
### EDIT: There is no problem about the guest role, it was me who could not do it. There is a request down in the page from another user.

I wanted to create a register page which is not accessable by any user, but guests.
So I created a page from the panel and in the "Options" tab, I assigned "Guest" role in "Allowed Roles" section.

But this resulted in me being able to see the page when I am lo

[2018-06-29 08:32] Pixney-William commented on #4809
What issue was that @mkaanery ?

[2018-06-29 08:37] mkaanery commented on #4809
@Pixney-William

https://github.com/pyrocms/pyrocms/issues/4108
---
https://github.com/anomalylabs/users-module/commit/b68231eea8e0c312e65d57cfdc442b94da164928

[2018-06-29 09:33] Eighke commented on #4809
I just tried to add the `guest` role to `register`, it is working (I have a 404 when connected)

[2018-06-29 09:34] Eighke commented on #4809
Btw, why `register` is not limited to `guest` by default? Same question for `login` :)

[2018-06-29 09:50] Pixney-William commented on #4809
admin/login and you are redirected correctly. but /login you are not.

Now question is, shouldn't the theme developer handle this middlewear? There is no way for @RyanThompson to know where to redirect your users.

And i think maybe /register should be decided by theme developer too. It's not always you want to redirect either. You might want to show something on that screen if you are visiting th

[2018-06-29 09:56] Pixney-William opened #4810 "[pages-module] [posts-module] Translatable slugs"
A request a lot of people want. Heard it for two years now on slack. The other requests has been closed. I don't feel they should be.

Even if you don't implement it today. I just feel this should be alive since it is highly desired.

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/31292231/42086484-7d35103a-7b93-11e8-98fe-91f239611f0d.png)

[2018-06-29 09:59] Pixney-William commented on #4810
Seems like Fred has offered @RyanThompson something. At least have a look at it and see if it can be used/bought.

![image](https://user-images.githubusercontent.com/31292231/42086559-c2e092d0-7b93-11e8-8a0d-0ccfaf14bf86.png)

[2018-06-29 10:04] Eighke commented on #4809
@Pixney-William No way, it cannot be the theme developer. How can the theme interact with the app, maybe UserModule not installed (Is it possible?~). Themes should be app agnostic.

But usually CMS redirect to `/` or just 404.

[2018-06-29 10:07] Pixney-William commented on #4809
@Eighke Ok, i am thinking more from our company perspective. Where we do everything :)

But whoever is giving the site to the client, could simply add a middleware?

Thoughts @RyanThompson ?

[2018-06-29 10:30] Eighke commented on #4809
Of course but that means it is not a Pyro feature and it needs to be done for every projects (and maintained).

Maybe we can add a Settings? "Guess access to login" [Allow, Redirect to HP, 404] ?

[2018-06-29 10:45] mkaanery commented on #4809
@Eighke Could you tell me how you did it? Where did you add it? I mean which file and how?
I am new to laravel, asking so many questions :))

[2018-06-29 10:58] Pixney-William commented on #4809
Yes, i think a setting would be perfect

[2018-06-29 11:00] Pixney-William commented on #4809
@Eighke Pull request maybe?:)

Otherwise maybe i can chip in.. Small stuff like this is perfect for us in the community to do and have ryan focus on the important stuff we need done.

[2018-06-29 11:01] Pixney-William commented on #4810
@RyanThompson this is what we are discussing:

https://gitlab.com/newebtime/pyrocms/pages_extended-extension

[2018-06-29 14:13] mmodler commented on #4810
+100 from me :)

I think we need a solution working over single module borders?

[2018-06-30 11:46] Pixney-William opened #4811 "Class name not written when creating migrations"
**Describe the bug**
When creating a new migration, the class name is not written.

`"anomaly/streams-platform": "~1.3.0",` && `"anomaly/streams-platform": "~1.4.0",`

**To Reproduce**
Steps to reproduce the behavior:
1. Run `php artisan make:migration test --fields`
2. Look at : `/database/migrations/2018_XX_XX_XXXXXX_test.php`
3. Notice line number 5 : `class {class} extends Migration`

**Expect

[2018-06-30 13:50] RyanThompson commented on #4811
Fixed! https://github.com/anomalylabs/streams-platform/commit/ee1e9f01151f518896716d88de84386de5850347

[2018-06-30 13:50] #4811 closed, assigned to RyanThompson

[2018-07-04 10:29] fryiee opened #4812 "[streams-platform] Read only fields in a non-readonly form are still editable."
**Describe the bug**
Setting a field to readonly doesn't work unless the form is readonly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a form builder
2. Set a field to `'readonly' => true`
3. Load the form

**Expected behavior**
Field should be readonly.

**Screenshots**
![image](https://user-images.githubusercontent.com/5254791/42272236-e34407a8-7fc8-11e8-9682-b28143638ffd.png)
!

[2018-07-04 15:08] edster commented on #4812
Just asking for clarity, if you save the form do the changes to that field save or are they still rejected?

[2018-07-05 10:25] fryiee opened #4813 "[tags-field_type] Options are ignored."
**Describe the bug**
`'options'` config setting is ignored on tags field type.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tag field type with `'options' => ['foo', 'bar']` in config
2. Load form builder
3. Attempt to add foo or bar

**Expected behavior**
Options are selectable ala multiple field type in tags mode.

**Screenshots**
If applicable, add screenshots to help explain

[2018-07-05 12:02] mkaanery opened #4814 "Buttons having name attribute redirects to the same page."
In the admin panel, I have a stream table showing all the entries in the database and there are buttons attached to the end of each row. I want to pass data via button because I will use the data to fill a field of the form when it is accessed. My button definitions in my CompanyTableButtons file's handle function:

[code]
When I click the button, it redirects to where I am.

[2018-07-05 14:23] RyanThompson commented on #4812
This is just relationship then (and perhaps some others) cause I tested select and it seems to be working well.

[2018-07-05 14:46] DavidFortune opened #4815 "API Module - Can't issue a token"
I post my issue here because there is no support coming with the API Module that I purchased.

I followed the instructions here
[https://pyrocms.com/documentation/api-module/2.0/usage/issuing-tokens]

when trying to access /oauth/request?client=CLIENT_ID
I get the following error
Call to undefined method Laravel\Passport\Bridge\ClientRepository::find()
[error](https://www.awesomescreenshot.com/ima

[2018-07-05 16:51] RyanThompson commented on #4815
Let me pull this down real quick and check it out!

[2018-07-05 16:52] RyanThompson commented on #4815
Also, this and slack and the forum IS support for the addon :-)

So you are in the right place.

[2018-07-05 16:57] RyanThompson commented on #4815
Looks like there have been some changes in Passport - can you get ahold of me on Slack so I can PM you a package? Or email me (my email is under my profile here).

[2018-07-05 17:16] RyanThompson commented on #4815
Emailed you the updated version - should be good to go! Reopen if you are still experiencing issues!

[2018-07-05 17:16] #4815 closed, assigned to nobody

[2018-07-06 15:13] twij opened #4816 "UserAuthenticator doesn't check whether extensions are installed/enabled"
Hey, just spent a few hours scratching my head on this one..

**Describe the bug**
UserAuthenticator.php (in Users module) doesn't check if the extension is installed or enabled so you can't replace the default authenticator unless you completely remove it.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new authenticator extension
2. Try and get it to work
3. Cry

**Expected behavior

[2018-07-06 20:15] Pixney-William opened #4817 "Being able to use tabs within grids,repeaters & blocks more easily"
I have one question about something and i wonder if there are any news (or i might have missed it):

I have a personal dislike, and have also heard it from clients, about how “long the pages get” when you stack fields upon each other. This is esp for blocks module, grids or repeaters.

I know i can go in there and manually do whatever i want. But obv this is time consuming and not cost-effective f

[2018-07-06 20:16] RyanThompson commented on #4817
Have you tried using the form builder callback to provide your own builder and layout?

[2018-07-06 20:18] Pixney-William commented on #4817
You are talking about this right?

https://pixney.com/news/customising-views-in-pyrocms

[2018-07-06 20:22] RyanThompson commented on #4817
Not reading it ATM but you can define the form builder to use there in the repeater I believe. Which should be able to control the layout.

[2018-07-06 20:24] Pixney-William commented on #4817
Ok ill gotta go try figure out what you mean i guess. And see if that is what i did earlier or if it means a better/faster way of achieving this.

[2018-07-08 05:09] fryiee opened #4818 "[streams-platform] setTableEntries is overwritten on $table->render()"
**Describe the bug**
Using setTableEntries() on a TableBuilder results in the table reverting to the original streams entry query on calling $table->render(). setTableEntries() is successfully called and a call to getTableEntries() after it but before rendering returns the correct collection, however after render the collection has reverted.

**To Reproduce**
Steps to reproduce the behavior:
1. Cr

[2018-07-08 19:37] dwainscheeren opened #4820 "Blocks module function to use title + display checkbox"
I use blocks now a lot and created a lot of own blocks. But now everytime it places inside the admin the title and a checkbox "Yes, display the block title".

I always need to hide this with css code.

It would be great to have a build in function to enable/disable this functionality inside the BlockExtension file.

[2018-07-09 02:55] RyanThompson opened #4821 "Pre-process Media Sizes (default macros)"
**Is your feature request related to a problem? Please describe.**
It would be nice to allow top level macros to be run programmatically for one but also have these sane defaults in place for rapidly consuming media and standardizing the common outputs.

**Describe the solution you'd like**
We have macros and I would like to propose being able to select which macros, per folder, are ran automatica

[2018-07-09 10:31] mkaanery opened #4822 "[BUG?] Call to undefined method Anomaly\MultipleFieldType\MultipleFieldType::pluck()"
In a **form builder**, I wanted to pre-insert a field value, which is a multiple field type, as the following:
[code]
I tried to dump` $this->getFormData()->first()` and it returned a number which is an id. So, there is a method called `ids` in _core/anomaly/multiple-field_type/src/MultipleFieldType.php_, which uses pluck and causes the error.

[2018-07-09 13:04] girvydas opened #4823 "[language-field_type] View [dropdown] not found."
Latest v2.2.5 language field type default input view mode set to "dropdown", but there is no dropdown.twig view at this version.

[2018-07-10 02:06] fryiee opened #4824 "[streams-platform] Can't override core email template."
**Describe the bug**
View overrides don't work when called in a theme for `streams::notifications/email`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a separate view for email e.g. `redtally.theme.awg_admin::mail/layout`
2. Add `'streams::notifications/email' => 'redtally.theme.awg_admin::mail/layout'` to your $overrides array in your service provider.
3. Send an email
4. See the o

[2018-07-10 02:29] fryiee opened #4825 "[select-field_type] blank / no value is disabled and first value is preselected."
**Describe the bug**
Adding a select field with options will default to the first available option as the blank option is set to disabled. This happens regardless of whether default_value is set to null (the default).

Select v2.2.51

**To Reproduce**
Steps to reproduce the behavior:
1. Create a select field with options
2. Go to form builder
3. First option will be preselected even on a blank for

[2018-07-10 02:37] fryiee opened #4826 "[streams-platform] $rules in a form builder called in repeater are never satisfied in MultipleFormBuilder."
**Describe the bug**
Calling $rules on a form builder that is included as the repeater form builder via newRepeaterFieldTypeFormBuilder() on the model are never satisfied.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MultipleFormBuilder with two streams forms.
2. Add a repeater field to one of those forms to a third stream.
3. In the third stream model, call newRepeaterFieldTypeF

[2018-07-11 10:36] fryiee commented on #4825
PEBKAC.

[2018-07-11 10:36] #4825 closed, assigned to nobody

[2018-07-11 10:38] fryiee commented on #4826
As discussed with @RyanThompson , this is due to the way field validation works in Laravel.

The solution is to call an onReady() hook on your multi / repeater form builder and specify the rules directly at runtime like so:

[code]

[2018-07-11 10:38] #4826 closed, assigned to nobody

[2018-07-11 10:38] fryiee commented on #4812
@RyanThompson were you able to push up fixes for the individual FTs?

[2018-07-11 19:45] kiltedup opened #4827 "[pages-module] Multiple WYSIWYG FTs - only one updated when editing."
Added a new page type with two fields - both WYSIWYG FTs.

When editing a page with this type, only content one of the fields is updated.

Video of the behaviour in action : https://pyrocms.slack.com/files/U08MK60A2/FBNQZBQTD/wysiwyg_editing.mov

This is on a fresh install (10 days ago) - composer updated.

[2018-07-13 06:09] fryiee commented on #4823
@girvydas work around is to manually call 'mode' => 'search' in the config of the field where  you're using it.

[2018-07-13 06:10] fryiee commented on #4823
https://github.com/anomalylabs/language-field_type/pull/7

[2018-07-16 16:48] stardothosting opened #4828 "Base table or view not found : default_streams_locks"
I have a brand new project that is generating an exception

`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'db_name.default_streams_locks' doesn't exist (SQL: delete from `default_streams_locks` where `locked_at` <= 2018-07-16 16:42:28)`

**To Reproduce**
Steps to reproduce the behavior:
1. Create new pyro project
2. Add streams via composer
3. Create new post
4. Edit post

Am I missin

[2018-07-17 02:06] fryiee opened #4829 "[upload-field_type/files-module] String replace does not support G."
**Describe the bug**
Both upload field type and files module use str_replace('M', '' ...) to get the current upload max. This does not support gigabyte shorthand as set in nginx, for example.

**To Reproduce**
Steps to reproduce the behavior:
1. Set nginx / PHP max upload size to 2G or similar
2. Attempt to upload

**Expected behavior**
Gigabyte values are correctly converted.

[2018-07-17 12:20] RyanThompson commented on #4829
Ya we had this mentioned elsewhere.. lemme see what I can do.

[2018-07-17 12:39] RyanThompson commented on #4829
Fixed:

https://github.com/anomalylabs/upload-field_type/commit/2f0ccee400dc4322ec06b1b05f9dc9d3b9f92d10

https://github.com/anomalylabs/files-module/commit/3c5d796a287eaf9b572073b1991df9b43bac8355

[2018-07-17 12:39] #4829 closed, assigned to nobody

[2018-07-17 16:05] RyanThompson commented on #4827
Fixed! Good find :-)

https://github.com/anomalylabs/editor-field_type/commit/54d828d0d77eaeeb7c9d9b6cdf64bd13b8a3d654

https://github.com/anomalylabs/wysiwyg-field_type/commit/50a0978a9b485a2b02035a5dfdac98a73525e0d8

https://github.com/anomalylabs/markdown-field_type/commit/53629239b560c204e70dd5beecda4c179a4533a0

[2018-07-17 16:05] #4827 closed, assigned to nobody

[2018-07-17 16:23] RyanThompson commented on #4823
Fixed: https://github.com/anomalylabs/language-field_type/commit/c9da7450f4a0a975586ab5cf3f6ba2d30fe372d6

[2018-07-17 16:24] RyanThompson commented on #4828
How did you create the project? Looks like it's a mixture of 3.4/3.5 branches since locks are in 3.5

[2018-07-17 16:47] #4823 closed, assigned to nobody

[2018-07-17 20:56] stardothosting commented on #4828
Followed the instructions here : https://pyrocms.com/help/developer-tools/cheatsheets/installation

`composer create-project pyrocms/pyrocms myproject.dev`

[2018-07-17 21:22] stardothosting opened #4830 "Exception on brand new install after creating theme : Class MyClient\AwesomeTheme\AwesomeTheme does not exist"
**Description**
Brand new PyroCMS. Works fine out of the box until you create a theme. When a theme is created following the instructions at https://pyrocms.com/help/addon-development/themes/creating-a-theme , an exception is generated :

`Class MyClient\AwesomeTheme\AwesomeTheme does not exist`

source file : /vendor/laravel/framework/src/Illuminate/Container/Container.php

**Steps to re-create**

[2018-07-18 10:17] ismailtasdelen opened #4831 "widgets add in stored xss vulnerability"
Hello Development Team,

When I was a security researcher and student, I wanted to discover and report "XSS" vulnerability.

Version : Last version

Vuln url address : https://localhsotPyroCMS/public/admin/dashboard/widgets/create?extension=anomaly.extension.xml_feed_widget

Screenshot :

![screenshot from 2018-07-18 13-11-42](https://user-images.githubusercontent.com/15425071/42875596-db26c8ca-8a

[2018-07-18 10:20] ismailtasdelen opened #4832 "post create panel in stored xss vulnerability"
Hello Development Team,

When I was a security researcher and student, I wanted to discover and report "XSS" vulnerability.

Version : Last version

Vuln url address : https://localhost/PyroCMS/public/admin/posts/create?type=1

Screenshot :

![screenshot from 2018-07-18 13-14-01](https://user-images.githubusercontent.com/15425071/42875732-36024fc6-8a8d-11e8-964b-b79f2c0553a5.png)

![screenshot fro

[2018-07-18 11:06] RyanThompson commented on #4832
We don’t strip admin input/output because that area is trusted. Anyone else with thoughts here?

For example however if you submit a contact form the data is sanitized in viewing within the control panel. But we don’t sanitize page or post content for public display cause maybe the admin purposefully adds JS.

Open to thoughts!

[2018-07-18 13:39] ismailtasdelen commented on #4831
Thanks for the came back :+1:

[2018-07-18 13:40] ismailtasdelen commented on #4832
Thanks for the came back :+1:

[2018-07-19 02:38] lloricode opened #4833 "env reference"
Hi, Is there a specific env reference? or just a regular env on laravel

[2018-07-19 02:45] lloricode commented on #4833
oh, i see, there a composer create-project with this,

thanks :)

[2018-07-19 02:45] #4833 closed, assigned to nobody

[2018-07-19 08:23] fryiee opened #4834 "[upload-field_type] ValidateFolder fails if field is inside a MultipleFormBuilder."
**Describe the bug**
ValidateFolder fails if inside a MultipleFormBuilder as it uses attribute (not prefixed) to return it. This is a problem when the field comes from assignments, and is not defined in a form builder. This is worrying in that there could be a bunch of validators in various FTs that are borked in MultipleFormBuilders.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an

[2018-07-19 08:25] fryiee opened #4835 "[upload-field_type] v1.2.6 broke all uploads"
**Describe the bug**
As title. Due to change in method privacy from public to protected, all uploads are broken.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an upload field type of version 1.2.6
2. Try to upload

**Expected behavior**
Upload FT works.

**Screenshots**
![image](https://user-images.githubusercontent.com/5254791/42930674-003a2c20-8b81-11e8-8c8c-a77dc8903f41.png)

[2018-07-19 11:16] RyanThompson commented on #4835
Fixed: https://github.com/anomalylabs/upload-field_type/commit/552a7345e0d4f76be0f92d0339e75d366c4a9e30

[2018-07-19 11:16] #4835 closed, assigned to nobody

[2018-07-19 11:28] RyanThompson commented on #4834
Fixed: https://github.com/anomalylabs/upload-field_type/commit/5e92ee69da13ec07138eceeb94ef5af02439f530

[2018-07-19 11:28] #4834 closed, assigned to nobody

[2018-07-19 11:29] #4831 closed

[2018-07-19 11:31] RyanThompson commented on #4828
Can you paste the whole stack here so I can see the trace?

[2018-07-19 11:33] RyanThompson commented on #4830
Try running `composer dump-autoload`.

Do you see that that class actually exists? Or is there a compiler error and the name/class doesn't match up for some reason?

[2018-07-19 11:35] RyanThompson commented on #4822
Value in that case should never be an instance of the MultipleFieldType. I would check the setup you have and correct.

[2018-07-19 11:35] #4822 closed, assigned to nobody

[2018-07-20 20:54] dwainscheeren opened #4836 "File not attached to FormMailer"
The FormMailer class does not load attachements to the mail when used the required fields.

Talked with Ryan about it and he knows the problem. Problem is that we need to load relations as we attach files.

[2018-07-23 15:59] RyanThompson commented on #4830
Any word on this?

[2018-07-25 04:57] Eighke commented on #4810
Well the last update of `pages-module` include major compatibility breaks

https://github.com/anomalylabs/pages-module/blob/f0c2c0ed9915ee4c479c56183d34a7227e9411fd/src/PagesModuleServiceProvider.php#L108

1. The page handle is "filtered", so I guess many custom handles are now broken.
2. `php artisan route:list` doesn't return any route anymore
3. `php artisan route:cache` doesn't work anymore

[2018-07-25 05:38] Eighke opened #4837 "[users-module] Unknow permission"
I was trying to create a `Manager` role, but I notice it is not possible to access to /admin using anything else that "Admin". Because of the permission `anomaly.module.users::general.control_panel`.

https://github.com/anomalylabs/users-module/blob/218ea87396e89086468aa8ce036e39e8b626d12c/src/Http/Middleware/AuthorizeRoutePermission.php#L93

I'm not sure what it is for? Because we already have a

[2018-07-25 05:54] fryiee opened #4838 "[language-field_type] Should support all language codes in the ISO-639-1 standard, not just the locales enabled in streams-platform."
**Describe the bug**
As title.

**To Reproduce**
Steps to reproduce the behavior:
1. Add language FT
2. Attempt to add an ISO-639-1 code that isn't in config/locales.php
3. It won't be there

**Expected behavior**
The language FT should pull the full ISO-639-1 list.

[2018-07-25 14:11] RyanThompson commented on #4838
Maybe let's just add the others to config? Looks like a lot of resources just list them out (no built in support in PHP for them?): https://github.com/datasets/language-codes/blob/master/data/language-codes.csv

There are a lot of things like that. Thoughts?

[2018-07-27 09:03] ghost opened #4839 "[Documentation] - Navigation module error"
**Describe the bug**

![image](https://user-images.githubusercontent.com/1510338/43312092-92ea02c8-918c-11e8-8c08-b99e5f85cd9c.png)

**Expected behavior**
![image](https://user-images.githubusercontent.com/1510338/43312112-a1d2d9a4-918c-11e8-85bf-3b7004f5e1e7.png)

[2018-08-06 13:07] stevesweets opened #4840 "Dependency clash; latest TNTSearchEngine requires latest Laravel\Scout."
**Describe the bug**
Declaration of TeamTNT\Scout\Engines\TNTSearchEngine::map(Laravel\Scout\Builder $builder, $results, $model) must be compatible with Laravel\Scout\Engines\Engine::map($results, $model)

**To Reproduce**
Fresh install produces error.

**Screenshots**
![image](https://user-images.githubusercontent.com/651151/43718230-e9cf7148-9981-11e8-9051-4845ac33e74b.png)

[2018-08-09 06:46] stevesweets commented on #4840
I think TeamTNT have resolved this their end, thanks for response though, lol

[2018-08-09 06:46] #4840 closed, assigned to nobody

[2018-08-10 16:58] RyanThompson opened #4841 "[api-module] Create Tokens From Control Panel"
**Is your feature request related to a problem? Please describe.**
It would be extremely efficient to be able to spin up tokens FAST based on common sense defaults.

[2018-09-01 18:16] GioValentin commented on #4828
Hey was this ever resolved ?

[2018-09-01 18:17] GioValentin commented on #4828
123
Illuminate\Database\QueryException
…/vendor/laravel/framework/src/Illuminate/Database/Connection.php664
122
Doctrine\DBAL\Driver\PDOException
…/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php79
121
PDOException
…/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php77
120
PDO prepare
…/vendor/doctrine/dbal/lib/Doctrine/DBAL/Driver/PDOConnection.php77
119
Doctrine\DBAL

[2018-09-01 18:17] GioValentin commented on #4828
I am getting the same error.

[2018-09-01 18:22] GioValentin commented on #4828
Okay,

How I resolved.

$ php artisan addon:reinstall anomaly.module.pages

But now, I keep getting the error when I create a new user and the email redirect gives me the same error and trying to reinstall the users table has done nothing more then lock me out

[2018-09-06 01:55] #4830 closed, assigned to nobody

[2018-09-10 15:05] girvydas commented on #4387
Need option whether it's on or off per each formbuilder.

[2018-09-13 06:48] mmodler commented on #4551
Today i tried config caching - not working due to closures.

Any news on this topic? Thanks!

[2018-09-13 09:42] ghost commented on #3794
Same problem here, tried everything without success. (personnally, I don't have index.php file in my root of pyrocms folder), so localhost/index.php/installer don't work

[2018-09-13 14:44] emergingdzns opened #4842 "[users-module] Several bugs"
Two issues:
1. In the Fields section there's an untranslated string: `anomaly.module.users::stream.users.description`. Not a big deal but figured you'd want to know about it.

2. Adding a new field does not add it to the Profile tab of the user unless you add another field after it.

3. Clicking on section tabs triggers search drop-down.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to

[2018-09-16 14:30] acjf opened #4843 "Background management delete operation, prompt box need to enter what is the content. Where can I find what I need to input?"
Background management delete operation, prompt box need to enter what is the content. Where can I find what I need to input?

[2018-09-18 00:34] zymawy commented on #4797
If You Look At October CMS You Find Their FIle Manager More Consistent Then Pyro CMS.

Another, Points Are To Reconsider Using Vue Blade Engine Instead Of Tiwg Since The Majority Of Laravel Develepors Are Using **Blade**.

Just Thoughts 💯

[2018-09-20 16:00] edster commented on #4813
Confirmed that handlers aren't working either, they are not even being fired.

[2018-09-21 01:03] Eighke commented on #4797
I disagree for `Twig`. Twig is really good for a CMS because it is sandboxed, so it can be used in a WYSIWYG, or in a 3rd party theme without to worry to much.

[2018-09-21 01:10] Eighke commented on #4838
I'm using https://github.com/antonioribeiro/countries (https://github.com/antonioribeiro/countries-laravel), allow to manage almost everything about countries

[2018-09-21 15:51] finnito opened #4844 "[google_provider-extension] Cannot resolve into installable packages"
**Describe the bug**
Unable to `composer require anomaly/google_provider-extension` with `composer.json` configured for 3.5

**To Reproduce**
Steps to reproduce the behavior:
1. `composer require anomaly/google_provider-extension` with the provided `composer.json` file.

**Files**
`composer.json` given as .txt because Github: [composer.txt](https://github.com/pyrocms/pyrocms/files/2406043/composer

[2018-09-21 16:09] emergingdzns opened #4845 "[users-module] Forgot Password link not including redirect url"
**Describe the bug**
I discovered that the Forgot Password link on the login form is not adding the redirect url to the href when it is provided to the login page.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the Comments module to any page or post
2. View that page or post while NOT logged in.
3. Click the text to "login or register to comment".
4. On the login page you get, notice t

[2018-09-22 12:12] finnito opened #4846 "[core: versioning]: Versions not deleted from streams_versions when addon uninstalled/reinstalled"
**Describe the bug**
When running `php artisan addon:uninstall` or `php artisan addon:reinstall` entries are not removed from the `streams_versions` table causing clutter to accumulate while developing.

**To Reproduce**
1. Add some versions to a versional model
2. Reinstall the addon
3. Model entries with the same ID should retain versions from previous installation

**Expected behavior**
I think

[2018-09-22 12:17] finnito opened #4847 "[core: versioning]: Two version entries created when making a new model entry in a custom addon"
**Describe the bug**
I have written a custom addon to manage some rosters for a client and when I create a new entry into the rosters stream, two versions get created. In the screenshot below the seconds value in the timestamp is not displayed, but they are identical.

**To Reproduce**
1. Create a versionable model
2. Add a new entry
3. Inspect the versions table and see that there are two entries

[2018-09-23 16:29] finnito opened #4848 "[slug-field_type]: Input gets stuck on Safari"
**Describe the bug**
When navigating through a form on Safari 11.1.2 the input gets stuck in the slug field type and I am unable to tab or click into a different input. The page needs to be reloaded to fix the issue.

**To Reproduce**
1. Open a form in Safari 11.1.2
2. Select a slug field with a click or tab into it
3. See error

**Expected behavior**
User should be able to tab through to the next

[2018-09-24 10:15] dwainscheeren commented on #4438
Reminder, this would be help full.

[2018-09-24 10:15] finnito commented on #4438
👍 Would love this.

[2018-09-25 14:35] bochoven opened #4849 "Link to documentation results in 404"
**Describe the bug**
The link on the Image Field Type page:
https://store.pyrocms.com/geocoder-field-type-1.html

points to

http://pyrocms.com/documentation/image-field-type/v1.2

Which results in a 404

[2018-09-25 18:21] slackernrrd commented on #4582
Has there been any more work on this? I would love to see some version of this, not having inverse relationships is causing problems for me in my current project.

Do you have an example of a solution using hooks, @RyanThompson?

[2018-09-26 05:15] acjf commented on #4843
no one?

[2018-09-27 05:22] oimken commented on #4821
Yes，That will be great！

I will love to define the  marco's slug,  and set the description/size/quality/filter.....  base on folder (Is there will be sub-folder? :) . when I need image specify size I just add the marco slug as suffix, kinda like flicker:
[code]

I think marco is good. but how to get image easier is much important.
hope to see the image marco soon and thank you ryan!

[2018-09-27 07:04] finnito commented on #4821
I think this would be a great idea!
This would much better allow for using a srcset to responsively serve images to a user on their viewport size. I would be very behind it!

[2018-09-27 08:14] Pixney-William commented on #4848
Hello, is there something wrong with the video?

[2018-09-27 09:15] dwainscheeren commented on #4821
I really would love this!

[2018-09-27 11:47] finnito commented on #4848
Hello! The video is supposed to show how I am trying to click another input box but am unable to

[2018-09-27 15:36] RyanThompson commented on #4849
Huh.. welp I don't see why that's happening. SEO is no good but it'll have to sit like that until I replace the listings. Magento is... a different kind of animal that's for sure. So disobedient. I updated the doc links though! Thank you ^_^

[2018-09-27 15:36] #4849 closed, assigned to RyanThompson

[2018-09-27 15:44] RyanThompson commented on #4848
Patched up: https://github.com/anomalylabs/slug-field_type/commit/876161f23fd7e4bd597130c755ac478ffc632ecb

[2018-09-27 15:44] #4848 closed, assigned to Pixney-William

[2018-09-27 20:31] finnito commented on #4848
Thanks Ryan! Looking forward to updating

[2018-10-02 15:53] dariusj18 opened #4851 "Error running artisan install with SQL Server database"
**Describe the bug**
A clear and concise description of what the bug is.

When using a SQL Server database with PyroCMS and running the artisan installer There is an error

[code]

The issue stems from the file \anomaly\streams-platform\src\Model\EloquentQueryBuilder.php:256
`->groupBy($model->getTableName() . '.id')` and commenting this out allows the installer to continue, but I don't know the l

[2018-10-02 20:17] RyanThompson commented on #4846
Done! https://github.com/anomalylabs/streams-platform/commit/96e1d20733a7f515684d2471cb964d61204f1ab4

[2018-10-02 20:17] #4846 closed, assigned to RyanThompson

[2018-10-02 20:22] finnito commented on #4846
Thanks Ryan! 🙌

[2018-10-02 20:55] RyanThompson commented on #4847
This should fix it - but it's not tagged just yet. Testing: https://github.com/anomalylabs/streams-platform/commit/5bf5479652bc0184206662fec53d1d0b63a9cd88

[2018-10-02 20:55] #4847 closed, assigned to RyanThompson

[2018-10-02 21:01] RyanThompson commented on #4845
Fixed: https://github.com/anomalylabs/users-module/commit/307caa8e6191cea45b420e04d8c30a52ee30f195

[2018-10-02 21:01] #4845 closed, assigned to nobody

[2018-10-02 21:03] RyanThompson commented on #4843
We really need more information to help. For example - "Yes" is displayed by default to confirm typing:
<img width="512" alt="screen shot 2018-10-02 at 4 02 57 pm" src="https://user-images.githubusercontent.com/1099967/46376852-b291f180-c65c-11e8-8c7b-49bde163516d.png">

[2018-10-02 21:04] RyanThompson commented on #4843
Post some more information and I can reopen and investigate. Maybe note the locale you are using.

[2018-10-02 21:04] #4843 closed, assigned to nobody

[2018-10-02 21:45] RyanThompson commented on #4842
Can you update and verify the fields show up right away? I am looking into JS. Locale thing is fixed too.

[2018-10-03 03:00] RyanThompson commented on #4842
This should finish that one up: https://github.com/pyrocms/accelerant-theme/commit/3d3803a37be2439e73ece43702a1588e99c6bc8d

[2018-10-03 03:00] #4842 closed, assigned to nobody

[2018-10-03 03:11] RyanThompson commented on #4837
https://github.com/anomalylabs/users-module/commit/07e2737ed4177759fb48294d23a28555e0b50c59

[2018-10-03 03:11] #4837 closed, assigned to nobody

[2018-10-03 03:15] RyanThompson commented on #4839
The docs are correct allbeit a very minute detail. It was demonstrating `{{ menu.getLinks() }}` which means menu is an object not a plugin function. The `menu` FUNCTION looks like this: https://pyrocms.com/documentation/navigation-module/2.3/usage/plugin#menu

You're correct in using `links()` though being that you want the links and not a rendered menu.

To get the menu in the view you could do `

[2018-10-03 03:16] #4839 closed, assigned to nobody

[2018-10-03 10:37] finnito commented on #4847
Thanks Ryan! That’s stellar!

[2018-10-05 10:42] jaxwilko opened #4858 "Unable to install pyrocms via composer"
**Describe the bug**
I seem to be having an issue installing pyrocms.

I've tried installing pyro via:

composer global require "pyrocms/installer" && pyro new test.pyrocms
composer create-project pyrocms/pyrocms

And both have the same issue (shown at the bottom).

Just wondering if there is something simple I am missing, but it looks like there are missing packages for composer which then stops

[2018-10-05 11:38] finnito opened #4859 "[colorpicker-field_type]: Colour box not working on Safari (Mac & iOS)"
**Describe the bug**
When using the colourpicker-field_type the box that displays the colour does not display a colour, but instead displays the hex code.

**To Reproduce**
Steps to reproduce the behavior:
1. View a colour picker field on Safari on iOS or Mac

**Expected behavior**
The box should be coloured and not display a hex code.

**Screenshots**
![screen shot 2018-10-05 at 12 28 23 pm](http

[2018-10-05 15:04] Eighke commented on #4814
@mkaanery  The definitions is wrong, the href should be directly in `add_worker`.

[code]

[2018-10-05 15:54] Eighke commented on #4858
Well
[code]
You need sqlite has composer tell you :)

[2018-10-05 17:07] jaxwilko commented on #4858
Ah, my bad, I did not spot that.

Thank you very much :)

[2018-10-05 17:07] #4858 closed, assigned to nobody

[2018-10-09 19:04] johmarjac commented on #4141
I have the same issue... Why is this issue still not fixed?

[2018-10-09 19:12] edster commented on #4141
You don't need to use the installer, use `composer create-project pyrocms/pyrocms` instead.

[2018-10-09 19:17] johmarjac commented on #4141
@edster Yeah, I am trying since today morning to get this up and running, I tried that already 3 times. Once with command like you, then with Command --clean source or sth. and another time to just do something. In the end I called mydomain.com/installer and get server error 500 with IIS.

then I used the CLI installer which finally installed it. Homepage shows fine, when accessing backend it thro

[2018-10-09 19:23] edster commented on #4141
I get it your frustration. But the composer command works fine. Since your on windows (as I am) need to add `--prefer-source`, so it would be `composer create-project pyrocms/pyrocms --prefer-source`

The GUI issue I know is fixed in the 3.5 branch. What errors are you getting in regards to errors all over the place when trying to log in?

Are you in our slack channel? You can get faster help with

[2018-10-11 11:40] huglester commented on #4821
Hello,
this is really needed.
we also need a possibility to create images with background.

for example I have image
100px X 50px

and want to fint it into 50x50 box.
so at the end I want to have 50x50 box. just for example left and right sides would have white background - so placeholder would took it's place

[2018-10-18 17:57] mattcdavis1 opened #4861 "Allow null for all stream fields"
I'm trying to accomplish a "Quick Save" functionality that allows users to bypass validation temporarily.  The context for this is the front end of the site  using the Form Builder class.  I can easily enough modify the Form Builder validator so that validation errors are bypassed, however i am running into an issue with database level constraints when trying to save the data to the database.

[2018-10-18 18:33] Pixney-William commented on #4859
Ill try to verify this @RyanThompson unless you have already done it?

[2018-10-27 02:57] tomrey13 opened #4862 "Translator Module"
With the Frensh language activated, when saving new translations ( doesn't matter if they are for another language ) the page returns a error.

I believe it's because of the Frensh slashes of the translation:

Like this:

`return [
                        'title' => [
                        'name' => 'Titre',
                                'instructions' => 'Entrez une titre pour cette page.',

[2018-10-29 02:44] RyanThompson commented on #4861
Could a good alternative be to NOT make the field required but define that on the builder instead where applicable?

Anyone else with thoughts on required fields not actually being required at the low level of the database?

Is there a default you could implement?

Just thinking about the options and any potential consequences.

[2018-10-29 02:55] RyanThompson commented on #4859
It was working in 11 but ya 12 doesn't work.. We need a REALLY good native JS alternative. And I'll still pry use it only for fallback.

[2018-10-29 02:58] RyanThompson commented on #4828
Looks like you need to migrate your addons - this would only happen from an update that wasn't migrated or a reused DB or something.

Do the migrations listed here: https://pyrocms.com/help/developer-tools/cheatsheets/upgrading

[2018-10-29 02:58] #4828 closed, assigned to nobody

[2018-10-29 03:14] RyanThompson commented on #4851
Ya this is required in the translation system.. However I had disabled this portion of the default ordering just north of your line for postgres so I added sqlsrvr to the list there as well.

[2018-10-29 03:15] RyanThompson commented on #4851
https://github.com/anomalylabs/streams-platform/commit/c387793b61a96452faff63f7e9266624a6051de3

[2018-10-29 03:15] #4851 closed, assigned to nobody

[2018-10-29 03:18] mattcdavis1 commented on #4861
I don't think NOT making the field required is a good solution.  It creates to much extra work and overhead to maintain and it creates confusion as one would expect to see fields configured in the CMS according to their expected behavior.

There are already application level constraints on required fields so i don't see why database level constraints are needed as well.  However, if we must have d

[2018-10-29 03:23] RyanThompson commented on #4809
I agree: https://github.com/anomalylabs/users-module/commit/e91e66e0c65eb84ca4a7b614225f46890826bc39

[2018-10-29 03:23] #4809 closed, assigned to nobody

[2018-10-29 03:55] RyanThompson commented on #4804
I usually write this for the public site manually but.. could see about something for admins.

[2018-10-29 03:59] RyanThompson commented on #4796
Mmhmm

[2018-10-29 03:59] RyanThompson commented on #4796
https://github.com/anomalylabs/wysiwyg-field_type/commit/75aff95785dd5816208cf4b667f512aa2c95aefa

[2018-10-29 03:59] #4796 closed, assigned to nobody

[2018-10-29 04:01] RyanThompson commented on #4791
This was remedied a bit ago. If there's a different set of steps to reproduce anything similar please open a report!

[2018-10-29 04:01] #4791 closed, assigned to nobody

[2018-10-29 04:01] #4112 closed

[2018-10-29 05:04] RyanThompson commented on #4109
https://github.com/anomalylabs/videos-module/commit/79f6ab93399902cb920338fe594e7af9e89a62c1

[2018-10-29 05:04] #4109 closed

[2018-10-29 05:05] #4035 closed

[2018-10-29 05:06] #4030 closed

[2018-10-29 05:08] RyanThompson commented on #4130
This is no longer forced in the files module.

[2018-10-29 05:08] #4130 closed

[2018-10-29 05:30] RyanThompson commented on #4162
Been in API for a while but just pushed it to users control via UI now: https://github.com/anomalylabs/relationship-field_type/commit/39b85b4c0a061445f298fc2ac8487ebdaf9c2d69

[2018-10-29 05:30] #4162 closed

[2018-10-29 05:53] #4376 closed, assigned to nobody

[2018-10-29 05:53] #4374 closed, assigned to nobody

[2018-10-29 05:54] #4366 closed, assigned to nobody

[2018-10-29 05:55] RyanThompson commented on #4355
Is this still a thing?

[2018-10-29 05:55] #4335 closed, assigned to nobody

[2018-10-29 05:56] #4301 closed, assigned to nobody

[2018-10-29 05:59] RyanThompson commented on #4255
Some if not all of these less title and title_slug are on the roadmap.

[2018-10-29 05:59] #4255 closed, assigned to nobody

[2018-10-29 06:02] #4259 closed, assigned to nobody

[2018-10-29 06:04] RyanThompson commented on #4300
This goes against fundamental operations of Laravel. I don't really think going out of our way here is a good idea. There are likely far better alternatives to handle any situations that might warrant this change.

[2018-10-29 06:04] #4300 closed, assigned to nobody

[2018-10-29 06:05] #4322 closed, assigned to nobody

[2018-10-29 06:05] RyanThompson commented on #4323
This has been added to Streams Module v1.3

[2018-10-29 06:05] #4323 closed, assigned to nobody

[2018-10-29 06:06] #4338 closed, assigned to nobody

[2018-10-29 06:07] RyanThompson commented on #4348
We'll use `files:sync` I think here.

[2018-10-29 06:07] #4370 closed, assigned to nobody

[2018-10-29 06:07] #4426 closed, assigned to nobody

[2018-10-29 06:08] #4412 closed, assigned to nobody

[2018-10-29 06:12] #4409 closed, assigned to nobody

[2018-10-29 06:12] #4407 closed, assigned to nobody

[2018-10-29 06:13] #4404 closed, assigned to nobody

[2018-10-29 06:14] #4390 closed, assigned to nobody

[2018-10-29 06:14] RyanThompson commented on #4387
This is in Pyro 3.5

[2018-10-29 06:14] #4387 closed, assigned to nobody

[2018-10-29 06:14] #4386 closed, assigned to nobody

[2018-10-29 06:16] #4385 closed, assigned to nobody

[2018-10-29 06:18] #4379 closed, assigned to nobody

[2018-10-29 06:18] #4488 closed, assigned to nobody

[2018-10-29 06:19] #4480 closed, assigned to nobody

[2018-10-29 06:20] #4476 closed, assigned to nobody

[2018-10-29 06:20] RyanThompson commented on #4475
Related to another issue (too lazy to tag) but this is on the roadmap!

[2018-10-29 06:20] #4475 closed, assigned to nobody

[2018-10-29 06:20] #4474 closed, assigned to nobody

[2018-10-29 06:21] #4472 closed, assigned to nobody

[2018-10-29 06:21] #4471 closed, assigned to nobody

[2018-10-29 06:21] #4467 closed, assigned to nobody

[2018-10-29 06:22] #4458 closed, assigned to nobody

[2018-10-29 06:22] #4461 closed, assigned to nobody

[2018-10-29 06:23] #4455 closed, assigned to nobody

[2018-10-29 06:23] #4441 closed, assigned to nobody

[2018-10-29 06:24] #4615 closed, assigned to nobody

[2018-10-29 06:25] #4582 closed, assigned to nobody

[2018-10-29 06:26] #4566 closed, assigned to nobody

[2018-10-29 06:42] RyanThompson commented on #4549
Added a view: https://github.com/anomalylabs/files-module/commit/0b831a399465c9e16ad61e83b771dd737b11e30e

[2018-10-29 06:42] #4549 closed, assigned to RyanThompson

[2018-10-29 06:42] #4490 closed, assigned to nobody

[2018-10-29 06:43] #4496 closed, assigned to nobody

[2018-10-29 06:44] RyanThompson commented on #4547
Works these days.

[2018-10-29 06:44] #4547 closed, assigned to nobody

[2018-10-29 06:44] #4659 closed, assigned to nobody

[2018-10-29 06:45] RyanThompson commented on #4658
This has been fixed.

[2018-10-29 06:45] RyanThompson commented on #4655
This is mostly done. Safer alternative with pluck. Valuate will come later.

[2018-10-29 06:45] #4655 closed, assigned to nobody

[2018-10-29 06:46] RyanThompson commented on #4653
This method needs to die.

[2018-10-29 06:48] RyanThompson commented on #4653
Deprecated them - will add new route aliases for 'edit' since view is already taken care of in most cases.

[2018-10-29 06:48] #4653 closed, assigned to RyanThompson

[2018-10-29 06:48] #4649 closed, assigned to nobody

[2018-10-29 06:49] #4647 closed, assigned to RyanThompson

[2018-10-29 06:49] RyanThompson commented on #4644
This has been done.

[2018-10-29 06:49] #4644 closed, assigned to nobody

[2018-10-29 06:50] #4643 closed, assigned to nobody

[2018-10-29 06:50] #4640 closed, assigned to nobody

[2018-10-29 06:50] #4639 closed, assigned to nobody

[2018-10-29 06:51] #4635 closed, assigned to nobody

[2018-10-29 06:51] #4634 closed, assigned to nobody

[2018-10-29 06:52] RyanThompson commented on #4633
Can't always do this because the nature of previous URL is unknown.

[2018-10-29 06:52] #4633 closed, assigned to nobody

[2018-10-29 06:52] #4632 closed, assigned to nobody

[2018-10-29 06:53] RyanThompson commented on #4622
Images/Files are translatable.

[2018-10-29 06:53] #4622 closed, assigned to nobody

[2018-10-29 06:53] #4619 closed, assigned to nobody

[2018-10-29 06:55] RyanThompson commented on #4724
This should be fixed now - it tries to redirect to you the first addon you have access to at all.

[2018-10-29 06:55] #4724 closed, assigned to nobody

[2018-10-29 06:57] RyanThompson commented on #4686
This is all working as it should. Don't use session language picker if you desire your preferences language. The two items have to coexist for different reasons. Preferences is your preference. When you set it via the CP selector you are actively choosing otherwise.

[2018-10-29 06:57] #4686 closed, assigned to nobody

[2018-10-29 06:58] RyanThompson commented on #4820
The UI will improve for this but it'll always be there at the very least for organization purposes.

[2018-10-29 06:58] #4820 closed, assigned to nobody

[2018-10-29 08:35] slackernrrd commented on #4582
I guess that’s a ”No”, then.

[2018-10-29 14:46] edster commented on #4355
I haven't tested it in awhile as I couldn't fix it. It was on my surface so is almost definitly a density issue. I'll try to test it this week.

[2018-10-29 19:57] ipimpat opened #4863 "Asset library fails to resolve file system path correctly"
**Description**

I'm trying to create a copy of an existing PyroCMS website for testing/development purpose, in a  Apache/mod_userdir environment, where every employee has a personal web directory.

But the Asset library fails to resolve the correct file system path, when trying to get the content of files.

It seems that the Asset library assumes that file system paths and web paths are always th

[2018-10-29 20:47] ipimpat commented on #4863
It is possible to work around this issue by making the path a valid path, but it's not perfect or git friendly:

Create a symlink to the symlink inside the document root folder (`public_html`), something like this:

[code]

[2018-10-30 03:53] ipimpat commented on #4863
Issue reference https://github.com/pyrocms/pyrocms/issues/4863

[2018-11-02 10:25] bubba169 opened #4864 "[streams-platform] 'Saving' event is not fired if nothing has changed when translations are used."
**Describe the bug**
When saving a model, the `saving` event is usually fired so observers can modify the data before committing to the database. If translated fields are used then saving is skipped if the data is not dirty meaning the event is not fired. Some apps will require the event to fire regardless of if the data has changed. Also this behaviour is inconsistent between models that have tra

[2018-11-10 04:22] RyanThompson commented on #4864
Looks like I am handling this differently here and there. A quick fix for the time being would be to observe the translatable model as well. Or trigger these corresponding models to both trigger during the event yourself.

I think, however, I will end up making sure to fire the meta even updates on the form models manually which will trigger these events regardless as well.

[2018-11-10 04:26] RyanThompson commented on #4863
Outside of manually configuring this I don't know that it can be fixed properly? The symlinking looks a little funky.

We, for example, use ~/home/USER/ for pyro install and rm public_html and then symlink it back to public (you can also simply rename public to public_html). And that works great. But you're on different levels here it looks like.

git init - git remote add origin YOUR REPO - git p

[2018-11-10 04:44] ipimpat commented on #4863
The symlinking is simple

/home/USER/some/path/pyro1/public => /home/USER/public_html/pyro1
/home/USER/some/path/pyro2/public => /home/USER/public_html/pyro2
/home/USER/some/path/pyro3/public => /home/USER/public_html/pyro3

Nevertheless, the problem I think is really that the Asset library assumes that a web path is always the same as the file path (which is not true), when it needs to read the c

[2018-11-11 17:55] RyanThompson commented on #4568
We'll get this in there. Duplicate for: https://github.com/pyrocms/pyrocms/issues/4792

[2018-11-11 17:55] #4568 closed, assigned to nobody

[2018-11-12 15:41] RyanThompson commented on #4810
@Eighke I can patch these in this latest release being they are performance based.

[2018-11-13 16:58] Eighke commented on #4810
@RyanThompson Yup I know, but it's a problem for the `artisan` commands to not be working. Especially the cache one (and it is a bit paradoxical for a performance commit to disable a better performance feature :D).

For the bullet 1, it is fine I guess, it just made the `handlers` useless (the route is now checked by the path before the handler, so custom routes are not possible anymore).

[2018-11-13 17:58] myshoeshurt opened #4866 "[documentation-module] Multilingual support errors"
**Describe the bug**
The website is multilingual but the documentation is not. A person visiting, for example, the german version of the site visits the documentation, he gets a broken documentation, because [de] is a valid locale, but no german documentation exists.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a multilingual site
2. Go through a link to the documentation section
3

[2018-11-16 08:35] fryiee commented on #4726
Paging doctor @RyanThompson

[2018-11-16 08:35] Pixney-William commented on #4726
@RyanThompson could we fix this?

[2018-11-17 17:02] Pixney-William opened #4867 "Pyrocms throwing this error: 21 bad parameter or other API misuse"
**Describe the bug**
When using PyroCMS 3.5 i am getting (and others) these errors. For me hit happens randomly, meaning it's hard to locate when and where it happens. Googling seems to point to teamtnt (https://github.com/teamtnt/laravel-scout-tntsearch-driver/issues/129).

What are we going to do? Downgrade teamtnt? Downgrade php version?

**To Reproduce**
Good luck!

**Video**
https://streamabl

[2018-11-17 17:04] Pixney-William commented on #4867
This issue occur both in public and in admin.

[2018-11-21 02:48] Eighke opened #4868 "Using view() in twig"
Shouldn't we consider using `view()` instead of `include` everywhere in twig? Because `include` cannot be override using `$overrides`, as results we basically need to override all the parents.

e.g. currently if you want to override `anomaly.module.posts::posts/partials/posts` you will need to override:

* anomaly.module.posts::posts/archive/index
* anomaly.module.posts::posts/categories/index
* a

[2018-11-21 16:01] dakshhmehta commented on #4868
I support this feature. Have faced such situation while creating an Admin theme in past.

[2018-11-22 03:21] fryiee commented on #4726
@RyanThompson any update on this?

[2018-11-22 04:00] Eighke opened #4869 "Merging package.json addon"
**Is your feature request related to a problem? Please describe.**
Creating "reusable" themes is a mess because of the dependencies. We need to commit and ship all the dependencies, the compiled one **and** the sources.

We can provide a `package.json` for the sources, but unlike `composer` it is not read from the main `package.json`.

**Describe the solution you'd like**
Using a tools like [lerna

[2018-11-22 06:14] Eighke commented on #4862
I confirm single quote are broken. Didn't notice before but French translation is basicaly impossible (we have ' everywhere :)).

PR: https://github.com/anomalylabs/translator-module/pull/26 @Pixney-William

[2018-11-22 09:32] Eighke commented on #4869
To go a bit more far. We can add a `webpack.mix.js` at the root of each theme.

[code]

And in Pyro `webpack.mix.js`

[code]

So `npm run dev` will run all themes webpack automaticaly.

[2018-11-22 10:18] Eighke commented on #4867
I currently downgraded my PHP to 7.1, but we really need to fix teamtnt :/

[2018-11-22 11:15] Eighke commented on #4818
Not sure if it is a bug, I'm currently doing that and it is working if you set something. But if you have `no results`... well it means you set nothing. And from my understanding you are in this case.

You can unset the model when you have no result to avoid that.

[code]

I didn't find better solution. TableEntries is an empty collection by default, setting another empty collection will not chang

[2018-11-26 04:43] fryiee opened #4870 "[streams-platform] Poor cache key implementation causes deadlocks when using queue workers."
**Describe the bug**
Poor cache key implementation causes deadlocks when using queue workers. Error message example is as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run supervisord on a pyro installation running a job which interacts with models
2. Watch over a large sample size
3. See the deadlock collision error

**Expected behavior**
That no caching would happen on m

[2018-11-26 06:16] fryiee commented on #4726
This really needs to be fixed ASAP, it's not practical for us to run minute to minute commands just to fix filenames.

[2018-11-26 06:44] Eighke commented on #4869
Well, for people looking for it, to enable multi mix compilation

Change the **`package.json`** to use a new webpack config

[code]

Then create a **`webpack.config.js`** inside Pyro root directory.

[code]